n8n-workflows/broad-scanner.json
{
  "name": "Broad Scanner (Real-Time Agent)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ],
      "id": "521da29d-fca2-451e-8ee3-2329cc47ba97"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// BROAD SCANNER v3.4 \u2014 Fix #14 off-by-one \u2014 Fix #9 N/A indicators, Fix #13 session hours \u2014 Time-Adjusted Volume Fix \u2014 Enhanced Filters + AI View\n// v3.1: Min relative volume, entry deviation check, enhanced AI context\n// v3.0: Max 4 entries per cycle + pre-entry risk simulation\n// v2.3: Kill switch, VIX fix, direction flips\n// ================================================\n\n// \u2500\u2500\u2500 CONFIGURATION (edit these to tune) \u2500\u2500\u2500\nconst MOMENTUM_THRESHOLD  = 0.7;   // Min % change to trigger signal\nconst PROFILE_IMBALANCE   = 1.8;   // Volume imbalance for structure break\nconst VOLUME_MIN          = 0.25;  // Min volume ratio vs prev day (original threshold)\nconst MIN_RR              = 2.0;   // Min risk:reward ratio\n\n// \u2500\u2500\u2500 NEW v3.1 FILTERS \u2500\u2500\u2500\nconst MIN_RELATIVE_VOLUME    = 0.8;   // Min relative volume (today vs prev day) \u2014 rejects thin/quiet tickers\nconst MAX_ENTRY_DEVIATION_PCT = 2.5;  // v3.2: widened from 1.5 \u2014 was too tight for midday\n\n// \u2500\u2500\u2500 POSITION BLOAT SAFEGUARDS \u2500\u2500\u2500\nconst MAX_NEW_ENTRIES_PER_CYCLE = 4;    // Max new signals per 5-min scan\nconst MAX_POSITIONS       = 20;         // Kill switch: max open positions\nconst MAX_EXPOSURE        = 150000;     // Kill switch: max notional $\nconst MAX_MARGIN_PCT      = 0.35;       // Kill switch: max margin % of equity\nconst MAX_DAILY_LOSS_PCT  = -2.5;       // Kill switch: max daily loss %\nconst EST_POSITION_SIZE   = 5000;\n// \u2500\u2500 C-3 auth: load webhook_secret for outgoing payloads \u2500\u2500\u2500\nconst _WEBHOOK_SECRET = ($getWorkflowStaticData('global')._credentials || {}).webhook_secret || '';\n       // Estimated $ per new position (for simulation)\n\n// \u2500\u2500\u2500 SECTOR MAP (for enhanced AI view) \u2500\u2500\u2500\nconst SECTOR_MAP = {\n  AAPL:'Technology', MSFT:'Technology', GOOG:'Technology', GOOGL:'Technology', AMZN:'Consumer Cyclical',\n  META:'Technology', NVDA:'Technology', TSLA:'Consumer Cyclical', AMD:'Technology', INTC:'Technology',\n  AVGO:'Technology', QCOM:'Technology', MU:'Technology', MRVL:'Technology', LRCX:'Technology',\n  AMAT:'Technology', KLAC:'Technology', SNPS:'Technology', CDNS:'Technology', NXPI:'Technology',\n  ON:'Technology', MCHP:'Technology', TXN:'Technology', ADI:'Technology', SMCI:'Technology',\n  ARM:'Technology', ASML:'Technology', TSM:'Technology', DELL:'Technology', HPQ:'Technology',\n  CRM:'Technology', ORCL:'Technology', NOW:'Technology', ADBE:'Technology', PANW:'Technology',\n  CRWD:'Technology', FTNT:'Technology', ZS:'Technology', NET:'Technology', DDOG:'Technology',\n  SNOW:'Technology', PLTR:'Technology', COIN:'Financial Services', SHOP:'Technology',\n  SQ:'Financial Services', PYPL:'Financial Services', V:'Financial Services', MA:'Financial Services',\n  JPM:'Financial Services', BAC:'Financial Services', GS:'Financial Services', MS:'Financial Services',\n  WFC:'Financial Services', C:'Financial Services', SCHW:'Financial Services', BX:'Financial Services',\n  KKR:'Financial Services', APO:'Financial Services',\n  JNJ:'Healthcare', UNH:'Healthcare', PFE:'Healthcare', ABBV:'Healthcare', LLY:'Healthcare',\n  MRK:'Healthcare', BMY:'Healthcare', AMGN:'Healthcare', GILD:'Healthcare', ISRG:'Healthcare',\n  DXCM:'Healthcare', MRNA:'Healthcare', BNTX:'Healthcare',\n  XOM:'Energy', CVX:'Energy', COP:'Energy', SLB:'Energy', EOG:'Energy', MPC:'Energy',\n  VLO:'Energy', PSX:'Energy', OXY:'Energy', DVN:'Energy', HAL:'Energy', FANG:'Energy',\n  PG:'Consumer Defensive', KO:'Consumer Defensive', PEP:'Consumer Defensive', WMT:'Consumer Defensive',\n  COST:'Consumer Defensive', TGT:'Consumer Defensive', HD:'Consumer Cyclical', LOW:'Consumer Cyclical',\n  NKE:'Consumer Cyclical', SBUX:'Consumer Cyclical', MCD:'Consumer Cyclical', CMG:'Consumer Cyclical',\n  DIS:'Communication Services', NFLX:'Communication Services', CMCSA:'Communication Services',\n  T:'Communication Services', VZ:'Communication Services', TMUS:'Communication Services',\n  LMT:'Industrials', RTX:'Industrials', GE:'Industrials', BA:'Industrials', CAT:'Industrials',\n  DE:'Industrials', HON:'Industrials', UPS:'Industrials', FDX:'Industrials', UNP:'Industrials',\n  UBER:'Technology', LYFT:'Technology', ABNB:'Consumer Cyclical', BKNG:'Consumer Cyclical',\n  RIVN:'Consumer Cyclical', LCID:'Consumer Cyclical', F:'Consumer Cyclical', GM:'Consumer Cyclical',\n  LI:'Consumer Cyclical', NIO:'Consumer Cyclical', XPEV:'Consumer Cyclical',\n  SPY:'ETF-Index', QQQ:'ETF-Index', IWM:'ETF-Index', DIA:'ETF-Index',\n  XLF:'ETF-Financials', XLE:'ETF-Energy', XLK:'ETF-Technology', XLV:'ETF-Healthcare',\n  XLY:'ETF-Consumer', XLP:'ETF-Staples', XLI:'ETF-Industrials', XLU:'ETF-Utilities',\n  LITE:'Technology', CIEN:'Technology', ANET:'Technology', KEYS:'Technology',\n  WOLF:'Technology', ENPH:'Technology', SEDG:'Technology', FSLR:'Technology',\n  SOFI:'Financial Services', HOOD:'Financial Services', AFRM:'Financial Services',\n  ROKU:'Communication Services', TTD:'Technology', PINS:'Communication Services',\n  SNAP:'Communication Services', RBLX:'Communication Services', U:'Technology',\n  ZM:'Technology', DOCU:'Technology', OKTA:'Technology', TEAM:'Technology',\n  WDAY:'Technology', VEEV:'Healthcare', BILL:'Technology', HUBS:'Technology'\n};\n\n// \u2500\u2500\u2500 CREDENTIALS (from encrypted static data) \u2500\u2500\u2500\nconst ALPACA_KEY    = $getWorkflowStaticData('global')._alpaca_key;\nconst ALPACA_SECRET = $getWorkflowStaticData('global')._alpaca_secret;\n\nconst state = $getWorkflowStaticData('global');\nif (!state.signalsSent) state.signalsSent = {};\nif (!state.lastDate) state.lastDate = '';\nif (!state.scanCount) state.scanCount = 0;\n\nconst now = new Date();\nconst etHour = parseInt(now.toLocaleTimeString('en-US',{timeZone:'America/New_York',hour12:false,hour:'2-digit'}));\nconst etMin = parseInt(now.toLocaleTimeString('en-US',{timeZone:'America/New_York',hour12:false,minute:'2-digit'}));\nconst today = now.toLocaleDateString('en-US',{timeZone:'America/New_York'});\n\n// Daily reset\nif (state.lastDate !== today) {\n  state.signalsSent = {};\n  state.lastDate = today;\n  state.scanCount = 0;\n    state._killSwitch = {}; // KILL SWITCH MANUALLY RESET \u2014 Trading enabled for next session\n    console.log('KILL SWITCH MANUALLY RESET \u2014 Trading enabled for next session');\n}\n\n// Session check: 9:45 AM - 3:45 PM ET\nconst inSession = (etHour > 9 || (etHour === 9 && etMin >= 30)) && (etHour < 16);\nif (!inSession) return [];\n\nstate.scanCount++;\n// --- v3.2: Session progress for time-adjusted volume ---\nfunction getSessionProgress() {\n  const sessionStart = 9 * 60 + 30; // 9:30 AM ET in minutes\n  const sessionEnd = 16 * 60;       // 4:00 PM ET in minutes\n  const nowMin = etHour * 60 + etMin;\n  const elapsed = Math.max(0, nowMin - sessionStart);\n  const total = sessionEnd - sessionStart; // 390 minutes\n  return Math.min(1.0, Math.max(0.05, elapsed / total));\n}\n\n// \u2500\u2500\u2500 GLOBAL KILL SWITCH \u2500\u2500\u2500\nconst _ks = state._killSwitch || {};\nif (_ks.manualHalt && _ks.date === today) {\n  console.log('[KILL SWITCH] Manual halt active \u2014 skipping scan');\n  return [];\n}\n\n// Fetch portfolio state for kill switch + risk simulation\nlet _posCount = 0;\nlet _exposure = 0;\nlet _equity = 100000;\nlet _marginPct = 0;\nlet _dailyPnLPct = 0;\n\ntry {\n  const _posResp = await this.helpers.httpRequest({\n    method: 'GET', url: 'https://paper-api.alpaca.markets/v2/positions',\n    headers: { 'APCA-API-KEY-ID': ALPACA_KEY, 'APCA-API-SECRET-KEY': ALPACA_SECRET },\n    json: true\n  });\n  const _acctResp = await this.helpers.httpRequest({\n    method: 'GET', url: 'https://paper-api.alpaca.markets/v2/account',\n    headers: { 'APCA-API-KEY-ID': ALPACA_KEY, 'APCA-API-SECRET-KEY': ALPACA_SECRET },\n    json: true\n  });\n\n  _posCount = _posResp.length;\n  for (const p of _posResp) _exposure += Math.abs(parseFloat(p.market_value) || 0);\n  _equity = parseFloat(_acctResp.equity) || 100000;\n  const _lastEquity = parseFloat(_acctResp.last_equity) || _equity;\n  const _margin = parseFloat(_acctResp.initial_margin) || 0;\n  _marginPct = _margin / _equity;\n  _dailyPnLPct = (_equity - _lastEquity) / _lastEquity * 100;\n\n  // Kill switch check\n  const _triggers = [];\n  if (_dailyPnLPct < MAX_DAILY_LOSS_PCT) _triggers.push('Daily Loss ' + _dailyPnLPct.toFixed(1) + '%');\n  if (_marginPct > MAX_MARGIN_PCT) _triggers.push('Margin ' + (_marginPct * 100).toFixed(0) + '%/' + (MAX_MARGIN_PCT*100) + '%');\n  if (_posCount >= MAX_POSITIONS) _triggers.push('Positions ' + _posCount + '/' + MAX_POSITIONS);\n  if (_exposure > MAX_EXPOSURE) _triggers.push('Exposure $' + (_exposure/1000).toFixed(0) + 'K/$' + (MAX_EXPOSURE/1000) + 'K');\n\n  if (_triggers.length > 0) {\n    const _reason = _triggers.join(' | ');\n    console.log('[KILL SWITCH] ACTIVATED: ' + _reason);\n    const _alertKey = 'killswitch_' + today;\n    if (!state[_alertKey]) {\n      state[_alertKey] = true;\n      try {\n        await this.helpers.httpRequest({\n          method: 'POST',\n          url: 'https://api.telegram.org/botREDACTED_TELEGRAM_BOT_TOKEN/sendMessage',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({\n            chat_id: REDACTED_CHAT_ID,\n            text: '\\uD83D\\uDEA8 <b>QUANTUM GLOBAL KILL SWITCH ACTIVATED</b>\\n\\nReason: ' + _reason + '\\n\\nAll new trading paused.\\nOpen positions remain protected.\\nManual reset required.',\n            parse_mode: 'HTML'\n          }),\n          json: true\n        });\n      } catch(tgErr) {}\n    }\n    return [];\n  }\n\n  console.log('[SCAN] Risk OK: $' + _exposure.toFixed(0) + '/$' + (MAX_EXPOSURE/1000) + 'K | Margin ' + (_marginPct * 100).toFixed(0) + '%/' + (MAX_MARGIN_PCT*100) + '% | ' + _posCount + '/' + MAX_POSITIONS + ' pos | Day ' + _dailyPnLPct.toFixed(1) + '%');\n} catch(e) {\n  console.log('[SCAN] Risk check error: ' + e.message);\n}\n\n// \u2500\u2500\u2500 LOAD TICKERS \u2500\u2500\u2500\nconst tickers = $input.all()\n  .map(item => {\n    const row = item.json;\n    return row.COST || row.Ticker || row.ticker || Object.values(row).find(v => typeof v === 'string' && v.length <= 6 && /^[A-Z]+$/.test(v));\n  })\n  .filter(t => t && typeof t === 'string' && t.length >= 1 && t.length <= 6 && /^[A-Z]+$/.test(t.toUpperCase()))\n  .map(t => t.toUpperCase());\n\nconsole.log('[SCAN] #' + state.scanCount + ' | ' + tickers.length + ' tickers | ' + etHour + ':' + etMin + ' ET');\n\n// \u2500\u2500\u2500 FETCH MARKET DATA \u2500\u2500\u2500\nconst allSnapshots = {};\nconst batchSize = 100;\nfor (let i = 0; i < tickers.length; i += batchSize) {\n  const batch = tickers.slice(i, i + batchSize);\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://data.alpaca.markets/v2/stocks/snapshots?symbols=' + batch.join(',') + '&feed=iex',\n      headers: { 'APCA-API-KEY-ID': ALPACA_KEY, 'APCA-API-SECRET-KEY': ALPACA_SECRET },\n      json: true\n    });\n    Object.assign(allSnapshots, resp);\n  } catch(e) {\n    console.log('[ALPACA] Batch error: ' + e.message);\n  }\n}\n\nconst spySnap = allSnapshots['SPY'];\nconst qqqSnap = allSnapshots['QQQ'];\nlet spyChange = 0, qqqChange = 0;\ntry { spyChange = (spySnap.latestTrade.p - spySnap.prevDailyBar.c) / spySnap.prevDailyBar.c * 100; } catch(e) {}\ntry { qqqChange = (qqqSnap.latestTrade.p - qqqSnap.prevDailyBar.c) / qqqSnap.prevDailyBar.c * 100; } catch(e) {}\n\n// Market context for AI view\nconst marketBias = spyChange < -1 ? 'BEARISH' : spyChange < -0.3 ? 'CAUTIOUS' : spyChange > 1 ? 'BULLISH' : spyChange > 0.3 ? 'RISK-ON' : 'NEUTRAL';\n\n// VIX proxy: only DOWN moves = high VIX\nconst spyDown = Math.min(spyChange, 0);\nconst vix = spyDown < -2 ? 30 : spyDown < -1 ? 27 : 24;\n\n// \u2500\u2500\u2500 EVALUATE TICKERS \u2500\u2500\u2500\nconst signals = [];\nconst scanTime = new Date().toLocaleTimeString('en-US', {timeZone: 'America/New_York'});\nlet tickersScanned = 0;\nlet signalsFound = 0;\nlet momentumPassedButDeduped = [];\nlet newEntriesThisCycle = 0;  // Safeguard 1: counter for this cycle\nlet filteredVolume = 0;       // v3.1 tracking\nlet filteredDeviation = 0;    // v3.1 tracking\n\n// Running simulation state (Safeguard 2)\nlet simPositions = _posCount;\nlet simExposure  = _exposure;\nlet simMargin    = _marginPct * _equity;\n\nfor (const ticker of tickers) {\n  // \u2500\u2500\u2500 SAFEGUARD 1: Max entries per cycle \u2500\u2500\u2500\n  if (newEntriesThisCycle >= MAX_NEW_ENTRIES_PER_CYCLE) {\n    console.log('[SCAN] Cycle limit reached (' + MAX_NEW_ENTRIES_PER_CYCLE + ' entries) \u2014 skipping remaining tickers');\n    break;\n  }\n\n  const snap = allSnapshots[ticker];\n  if (!snap || !snap.latestTrade || !snap.dailyBar || !snap.prevDailyBar) continue;\n\n  const price = snap.latestTrade.p;\n  const prevClose = snap.prevDailyBar.c;\n  const dayHigh = snap.dailyBar.h;\n  const dayLow = snap.dailyBar.l;\n  const volume = snap.dailyBar.v;\n  const prevVol = snap.prevDailyBar.v;\n\n  const changePct = (price - prevClose) / prevClose * 100;\n  const sessionPct = getSessionProgress();\n  const projectedVol = sessionPct > 0.1 ? volume / sessionPct : volume;\n  const volRatio = prevVol > 0 ? projectedVol / prevVol : 0;\n  const atr = Math.max(dayHigh - dayLow, price * 0.005);\n\n  // \u2500\u2500\u2500 v3.1 FILTER 1: Minimum Relative Volume \u2500\u2500\u2500\n  if (volRatio < MIN_RELATIVE_VOLUME) {\n    filteredVolume++;\n    continue;\n  }\n\n  // \u2500\u2500\u2500 v3.1 FILTER 2: Entry Deviation Check \u2500\u2500\u2500\n  const deviationPct = Math.abs(changePct);\n  if (deviationPct > MAX_ENTRY_DEVIATION_PCT) {\n    filteredDeviation++;\n    console.log('[SKIP] ' + ticker + ': deviation ' + deviationPct.toFixed(1) + '% > ' + MAX_ENTRY_DEVIATION_PCT + '% limit \u2014 too extended');\n    continue;\n  }\n\n  let signal = null, reason = '', signalType = '';\n\n  if (changePct <= -MOMENTUM_THRESHOLD && volRatio >= VOLUME_MIN) {\n    signal = 'SELL';\n    signalType = 'MOMENTUM SHORT';\n    reason = 'MOMENTUM SHORT: ' + changePct.toFixed(1) + '% | vol ' + volRatio.toFixed(1) + 'x';\n  } else if (changePct >= MOMENTUM_THRESHOLD && volRatio >= VOLUME_MIN && vix < 30) {\n    signal = 'BUY';\n    signalType = 'MOMENTUM LONG';\n    reason = 'MOMENTUM LONG: +' + changePct.toFixed(1) + '% | vol ' + volRatio.toFixed(1) + 'x';\n  } else if (volRatio >= PROFILE_IMBALANCE && changePct < -0.8) {\n    signal = 'SELL';\n    signalType = 'STRUCTURE BREAK';\n    reason = 'STRUCTURE BREAK: vol ' + volRatio.toFixed(1) + 'x | ' + changePct.toFixed(1) + '%';\n  }\n\n  if (!signal) continue;\n\n  tickersScanned++;\n\n  // Dedup: skip if same ticker+direction already sent today\n  const prevSignal = state.signalsSent[ticker];\n  if (prevSignal && prevSignal.signal === signal) {\n    momentumPassedButDeduped.push(ticker + ' (' + changePct.toFixed(1) + '%)');\n    continue;\n  }\n\n  // \u2500\u2500\u2500 SAFEGUARD 2: Pre-entry risk simulation \u2500\u2500\u2500\n  const projPositions = simPositions + 1;\n  const projExposure  = simExposure + EST_POSITION_SIZE;\n  const projMarginPct = (simMargin + EST_POSITION_SIZE * 0.25) / _equity;\n\n  const simBreaches = [];\n  if (projPositions >= MAX_POSITIONS) simBreaches.push('Positions ' + projPositions + '/' + MAX_POSITIONS);\n  if (projExposure > MAX_EXPOSURE) simBreaches.push('Exposure $' + (projExposure/1000).toFixed(0) + 'K/$' + (MAX_EXPOSURE/1000) + 'K');\n  if (projMarginPct > MAX_MARGIN_PCT) simBreaches.push('Margin ' + (projMarginPct * 100).toFixed(0) + '%/' + (MAX_MARGIN_PCT*100) + '%');\n\n  if (simBreaches.length > 0) {\n    console.log('[REJECTED] ' + ticker + ' ' + signal + ': would breach ' + simBreaches.join(' | '));\n    continue;\n  }\n\n  // \u2500\u2500\u2500 SIGNAL PASSES ALL CHECKS \u2500\u2500\u2500\n  const vixSM = vix >= 30 ? 1.5 : vix >= 25 ? 1.3 : vix >= 18 ? 1.15 : 1.0;\n  const slDist = atr * 1.5 * vixSM;\n  const tpDist = Math.max(atr * 3.0, slDist * MIN_RR);\n  if (tpDist / slDist < MIN_RR) continue;\n  const rr = (tpDist / slDist).toFixed(1);\n  const conf = Math.min(100, Math.round(Math.abs(changePct) * 25 + volRatio * 15));\n  if (conf < 30) continue;\n\n  const stopP = signal === 'SELL' ? (price + slDist).toFixed(2) : (price - slDist).toFixed(2);\n  const targP = signal === 'SELL' ? (price - tpDist).toFixed(2) : (price + tpDist).toFixed(2);\n  const vixSize = vix >= 30 ? '0.3' : vix >= 25 ? '0.5' : vix >= 18 ? '0.7' : '1.0';\n\n  // \u2500\u2500\u2500 v3.1: ENHANCED AI VIEW (real context) \u2500\u2500\u2500\n  const sector = SECTOR_MAP[ticker] || 'Other';\n  const volDescription = volRatio >= 3.0 ? 'EXTREME' : volRatio >= 2.0 ? 'HEAVY' : volRatio >= 1.5 ? 'ELEVATED' : volRatio >= 1.0 ? 'AVERAGE' : 'LIGHT';\n  const priceAction = changePct < -2 ? 'sharp selloff' : changePct < -1 ? 'steady decline' : changePct < -0.5 ? 'mild weakness' : changePct > 2 ? 'strong rally' : changePct > 1 ? 'steady advance' : changePct > 0.5 ? 'mild strength' : 'flat';\n\n  const aiView = signalType + ' on ' + ticker + ' (' + sector + '). '\n    + 'Price ' + (changePct > 0 ? '+' : '') + changePct.toFixed(1) + '% from prev close ($' + prevClose.toFixed(2) + ' \u2192 $' + price.toFixed(2) + ') \u2014 ' + priceAction + '. '\n    + volDescription + ' volume at ' + volRatio.toFixed(1) + 'x avg. '\n    + 'Market: SPY ' + (spyChange > 0 ? '+' : '') + spyChange.toFixed(1) + '% (' + marketBias + '), QQQ ' + (qqqChange > 0 ? '+' : '') + qqqChange.toFixed(1) + '%. '\n    + 'R:R=' + rr + ' | Stop $' + stopP + ' | Target $' + targP;\n\n  // Update simulation state\n  simPositions++;\n  simExposure += EST_POSITION_SIZE;\n  simMargin += EST_POSITION_SIZE * 0.25;\n  newEntriesThisCycle++;\n\n  state.signalsSent[ticker] = { signal, price, time: now.toISOString() };\n  console.log('[SIGNAL ' + newEntriesThisCycle + '/' + MAX_NEW_ENTRIES_PER_CYCLE + '] ' + ticker + ' ' + signal + ' @ $' + price.toFixed(2) + ' | ' + reason + ' | RelVol=' + volRatio.toFixed(1) + 'x | Dev=' + deviationPct.toFixed(1) + '% | SimPos=' + simPositions + ' SimExp=$' + (simExposure/1000).toFixed(0) + 'K');\n\n  signalsFound++;\n  signals.push({ json: {\n    _secret: _WEBHOOK_SECRET,\n    ticker, price: price.toFixed(2), execution: signal,\n    signal: signal === 'SELL' ? 'BEARISH' : 'BULLISH',\n    bias_score: conf.toString(), regime: Math.abs(changePct) > 2 ? 'TRENDING' : 'NEUTRAL',\n    adx: 'N/A', rsi: 'N/A', macd_hist: 'N/A', atr: atr.toFixed(2),\n    volume_ratio: volRatio.toFixed(2), vix: vix.toString(), timeframe: '5',\n    alert_type: 'BROAD_SCANNER',\n    spy_price: (spySnap?.latestTrade?.p || 0).toFixed(2),\n    spy_change_pct: spyChange.toFixed(2),\n    spy_status: spyChange < -0.5 ? 'WEAK' : spyChange > 0.5 ? 'HEALTHY' : 'NEUTRAL',\n    qqq_price: '', qqq_change_pct: qqqChange.toFixed(2),\n    qqq_status: qqqChange < -0.5 ? 'WEAK' : 'NEUTRAL',\n    xly_status: 'N/A', cross_asset_status: spyChange < -1 ? 'WEAKENING' : 'NEUTRAL',\n    tv_recommendation: 'N/A', sma50: 'N/A', ema200: 'N/A', sma200: 'N/A',\n    bb_upper: 'N/A', bb_lower: 'N/A', stoch_k: 'N/A', stoch_d: 'N/A',\n    cci: 'N/A', momentum: 'N/A', pivot_classic: 'N/A', psar: 'N/A',\n    daily_trend: changePct < -1 ? 'BEAR' : changePct > 1 ? 'BULL' : 'MIXED',\n    bull_score: signal === 'BUY' ? conf.toString() : '0',\n    bear_score: signal === 'SELL' ? conf.toString() : '0',\n    comment: 'BROAD SCANNER v3.1: ' + aiView,\n    strat_net_pct: '12', strat_win_rate: '55', strat_wins: '22', strat_losses: '18',\n    strat_profit_factor: '1.3', strat_max_dd: '-8', strat_avg_trade: '0.3', strat_total_trades: '40',\n    daily_dd_pct: '0', daily_dd_halt: 'false', weekly_dd_pct: '0',\n    vix_size_mult: vixSize, eff_position_size: '5', vix_stop_mult: vixSM.toString(),\n    momentum_engine: 'true', momentum_type: 'broad_scanner',\n    gap_pct: changePct.toFixed(2), momentum_rr: rr\n  }});\n}\n\nconsole.log('Scanner run at ' + scanTime + ' \u2013 tickers scanned: ' + tickersScanned + ' \u2013 signals found: ' + signalsFound);\nif (momentumPassedButDeduped.length > 0) {\n  console.log('Momentum passed but DEDUPED: ' + momentumPassedButDeduped.join(', '));\n}\nconsole.log('[DONE] v3.2 | ' + tickers.length + ' tickers | ' + signals.length + ' signals (max ' + MAX_NEW_ENTRIES_PER_CYCLE + '/cycle) | Filtered: ' + filteredVolume + ' low-vol, ' + filteredDeviation + ' extended | Scan #' + state.scanCount);\nreturn signals;\n"
      },
      "name": "Scan All Tickers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "f60a8e82-8f2c-4bd4-9d04-e4e5a7b959b4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tradenextgen.app.n8n.cloud/webhook/tradingview-signal",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "name": "Push to Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        0
      ],
      "id": "9352e656-f0d8-48f5-a2ef-2d8d95d25b82"
    },
    {
      "parameters": {
        "content": "## Broad Scanner (Real-Time Agent)\n\nLoads 100+ tickers from Google Sheet:\nhttps://docs.google.com/spreadsheets/d/1gMSYFW6ZsJpIkyXQQZOxczfr1ryLC3pb1TI3C_-2v-E\n\nRuns every 5 min during market hours (9:45-3:45 ET).\nBatches Alpaca snapshots in groups of 100.\nMax 1 signal per ticker per day.\nPushes to AI Super Score pipeline via webhook.\n\nSignal types:\n- MOMENTUM SHORT: -1%+ with volume\n- MOMENTUM LONG: +1%+ with volume (VIX<30)\n- STRUCTURE BREAK: 1.8x+ volume with -0.8%+"
      },
      "name": "Scanner Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -208
      ],
      "id": "0011a857-2dcd-43ce-ae66-be57f649bcfa"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gMSYFW6ZsJpIkyXQQZOxczfr1ryLC3pb1TI3C_-2v-E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "name": "Load Tickers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        128,
        0
      ],
      "id": "3a0d8086-9776-4acb-995c-228d212f784d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4JBjbFyLikLTrZtm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Load Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tickers": {
      "main": [
        [
          {
            "node": "Scan All Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan All Tickers": {
      "main": [
        [
          {
            "node": "Push to Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "n8n_workflow_id": "975pZZEtxeUbzI22",
    "instance": "tradenextgen.app.n8n.cloud",
    "exported_at": "2026-04-13T14:06:00Z",
    "version": "v1.0",
    "node_count": 5,
    "description": "Broad Scanner \u2014 scans full watchlist every 5 min during market hours. Fetches price + indicator data, scores each ticker, pushes qualifying signals to the Signal State Machine webhook for full pipeline processing.",
    "secrets_redacted": true,
    "restore_notes": "Replace REDACTED_* placeholders with real credentials after import."
  }
}
