n8n-workflows/daily-testing-agent-health-report.json
{
  "name": "Daily Testing Agent + Health Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "sch-001",
      "name": "Schedule \u2014 8AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ]
    },
    {
      "id": "test-001",
      "name": "Testing Agent \u2014 Node A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        304
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// TESTING AGENT v1.4 \u2014 Node A: Health Checks + Signal Fire\n// Runs T6 (workflow health) + T7 (webhook latency) + fires T1\u2013T5 test signals\n// Outputs timestamps + T6/T7 results to Node B for polling\n// Split design: each node gets its own 60s execution window\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst WEBHOOK    = 'https://tradenextgen.app.n8n.cloud/webhook/tradingview-signal';\nconst N8N_API    = 'https://tradenextgen.app.n8n.cloud/api/v1';\nconst N8N_KEY    = 'REDACTED_JWT_TOKEN';\nconst MAIN_WF_ID = 'vaqfCaELhOEWnkdo';\nconst _WEBHOOK_SECRET = ($getWorkflowStaticData('global')._credentials || {}).webhook_secret || '';\n\n\nconst TICKERS = { T1:'TSMFP', T2:'TSKLL', T3:'TSSCN', T4:'TSSTA', T5:'TSSHD' };\n\nconst KEY_WORKFLOWS = {\n  'Main Pipeline':     MAIN_WF_ID,\n  'Broad Scanner':     '975pZZEtxeUbzI22',\n  'Polygon Sentiment': 'ARfeHFGyGQGgeXXB',\n  'Daily P&L Report':  'C7UU7yAs2DgaRhqi',\n};\n\nfunction check(name, pass, detail) { return { name, pass, detail: String(detail || '') }; }\n\nconst nowET   = new Date().toLocaleString('en-US', { timeZone: 'America/New_York' });\nconst runDate = new Date().toLocaleDateString('en-US', { timeZone: 'America/New_York' });\nconsole.log('[NODE A] Starting at', nowET);\n\n// \u2500\u2500 T6: Workflow Health \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet t6Checks = [];\ntry {\n  const wfResults = await Promise.all(\n    Object.entries(KEY_WORKFLOWS).map(([label, wfId]) =>\n      this.helpers.httpRequest({\n        method: 'GET', url: `${N8N_API}/workflows/${wfId}`,\n        headers: { 'X-N8N-API-KEY': N8N_KEY }, json: true\n      }).then(wf => check(label + ' active', wf.active === true, `active=${wf.active}`))\n       .catch(e => check(label + ' active', false, String(e.message).slice(0, 60)))\n    )\n  );\n  t6Checks.push(...wfResults);\n  const bsExec = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${N8N_API}/executions?workflowId=975pZZEtxeUbzI22&limit=1`,\n    headers: { 'X-N8N-API-KEY': N8N_KEY }, json: true\n  });\n  const lastBsMs  = new Date(bsExec.data?.[0]?.startedAt || 0).getTime();\n  const bsAgeMins = ((Date.now() - lastBsMs) / 60000).toFixed(0);\n  t6Checks.push(check('Broad Scanner recent (<15m)', bsAgeMins < 15, `last run ${bsAgeMins}m ago`));\n} catch (e) {\n  t6Checks.push(check('API health check', false, String(e.message).slice(0, 60)));\n}\nconst t6Pass = t6Checks.every(c => c.pass);\nconst t6Result = {\n  id: 'T6', name: 'Workflow Health Check',\n  status: t6Pass ? 'PASS' : t6Checks.some(c => c.pass) ? 'WARN' : 'FAIL',\n  checks: t6Checks, note: '',\n};\nconsole.log('[T6] Workflow Health:', t6Pass ? 'PASS' : 'ISSUES');\n\n// \u2500\u2500 T7: Webhook Latency \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet t7Checks = [];\ntry {\n  const t7Start = Date.now();\n  const t7Resp = await this.helpers.httpRequest({\n    method: 'POST', url: WEBHOOK,\n    body: {\n      _secret: _WEBHOOK_SECRET,\n      ticker: 'TWTEST', price: '100.00', execution: 'STAND ASIDE',\n      signal: 'NEUTRAL', bias_score: '0', smart_money: 'NEUTRAL',\n      liquidity: 'NONE', fvg: 'NONE', order_block: 'NONE',\n      vix: '20', vol_adx: '0.5/30', total_pen: '10', vol_pen: '5',\n      regime_pen: '0', ob_pen: '0', vix_vwap: '0', loc_pen: '0',\n      test: true\n    },\n    json: true,\n  });\n  const t7Ms = Date.now() - t7Start;\n  t7Checks.push(check('Webhook responds < 3s', t7Ms < 3000, `${t7Ms}ms`));\n  t7Checks.push(check('HTTP 200 received', !!t7Resp, t7Resp ? 'OK' : 'no response'));\n} catch (e) {\n  t7Checks.push(check('Webhook reachable', false, String(e.message || e).slice(0, 80)));\n}\nconst t7Pass = t7Checks.every(c => c.pass);\nconst t7Result = {\n  id: 'T7', name: 'Webhook Latency (TradingView Compatibility)',\n  status: t7Pass ? 'PASS' : 'FAIL',\n  checks: t7Checks,\n  note: t7Pass ? 'onReceived mode OK' : 'CRITICAL: TradingView will timeout!',\n};\nconsole.log('[T7] Webhook Latency:', t7Pass ? 'PASS' : 'FAIL', t7Checks[0]?.detail || '');\n\n// \u2500\u2500 Fire T1\u2013T5 signals \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nasync function fire(payload) {\n  const sentAt = Date.now();\n  await this.helpers.httpRequest({\n    method: 'POST', url: WEBHOOK,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ _secret: _WEBHOOK_SECRET, ...payload, test_mode: true, _is_test: true }),\n    json: false\n  });\n  return sentAt;\n}\n\nconst T1_PAYLOAD = {\n  ticker: TICKERS.T1, execution: 'BUY', signal: 'BULLISH',\n  alert_type: 'STRONG_SETUP', price: '210.00', timeframe: 'D',\n  bias_score:'71', bull_score:'76', bear_score:'24', adx:'28.5',\n  rsi:'56', vix:'17.0', regime:'TRENDING',\n  strat_total_trades:'42', strat_profit_factor:'2.95',\n  strat_win_rate:'65.0', strat_net_pct:'18.2',\n  volume_ratio:'1.5', atr:'3.10',\n  spy_status:'BULLISH', daily_trend:'UP', cross_asset_status:'RISK_ON',\n};\nconst T2_PAYLOAD = {\n  ticker: TICKERS.T2, execution: 'BUY', signal: 'BULLISH',\n  alert_type: 'STRONG_SETUP', price: '145.00', timeframe: 'D',\n  bias_score:'67', bull_score:'70', bear_score:'30', adx:'8.0',\n  rsi:'55', vix:'18.0', regime:'NEUTRAL',\n  strat_total_trades:'35', strat_profit_factor:'2.10', strat_win_rate:'60.0',\n  volume_ratio:'1.2', atr:'2.50',\n};\nconst T3_PAYLOAD = {\n  ticker: TICKERS.T3, execution: 'BUY', signal: 'BULLISH',\n  alert_type: 'BROAD_SCANNER', price: '175.00', timeframe: 'D',\n  bias_score:'65', bull_score:'68', bear_score:'32', adx:'N/A',\n  rsi:'57', vix:'17.5', regime:'TRENDING',\n  strat_total_trades:'0', strat_profit_factor:'0',\n  volume_ratio:'1.3', atr:'2.80',\n};\nconst T4_PAYLOAD = {\n  ticker: TICKERS.T4, execution: 'STAND ASIDE', signal: 'NEUTRAL',\n  alert_type: 'SIGNAL_CHANGE', price: '180.00', timeframe: 'D',\n  bias_score:'50', bull_score:'49', bear_score:'51', adx:'N/A',\n  rsi:'50', vix:'18.0', regime:'NEUTRAL', volume_ratio:'1.0', atr:'2.80',\n};\nconst T5_PAYLOAD = {\n  ticker: TICKERS.T5, execution: 'SELL', signal: 'BEARISH',\n  alert_type: 'STRONG_SETUP', price: '88.50', timeframe: 'D',\n  bias_score:'32', bull_score:'26', bear_score:'74', adx:'27.0',\n  rsi:'43', vix:'17.5', regime:'TRENDING',\n  strat_total_trades:'38', strat_profit_factor:'3.80',\n  strat_win_rate:'65.0', strat_net_pct:'21.2',\n  volume_ratio:'1.7', atr:'2.10',\n  spy_status:'BEARISH', daily_trend:'DOWN', cross_asset_status:'RISK_OFF',\n};\n\nconsole.log('[NODE A] Firing 5 test signals in parallel...');\nconst [t1Sent, t2Sent, t3Sent, t4Sent, t5Sent] = await Promise.all([\n  fire.call(this, T1_PAYLOAD),\n  fire.call(this, T2_PAYLOAD),\n  fire.call(this, T3_PAYLOAD),\n  fire.call(this, T4_PAYLOAD),\n  fire.call(this, T5_PAYLOAD),\n]);\nconsole.log('[NODE A] All signals fired. Passing timestamps to Node B.');\n\nreturn [{ json: {\n  t1Sent, t2Sent, t3Sent, t4Sent, t5Sent,\n  t6Result, t7Result,\n  runDate, runTime: nowET,\n  tickers: TICKERS,\n  mainWfId: MAIN_WF_ID,\n}}];\n"
      }
    },
    {
      "id": "node-b-testing-agent-v14",
      "name": "Testing Agent \u2014 Node B",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        304
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// TESTING AGENT v1.4 \u2014 Node B: Poll + Evaluate T1\u2013T5\n// Receives fired timestamps from Node A, polls n8n for executions,\n// evaluates all 5 tests and builds final report\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst N8N_API    = 'https://tradenextgen.app.n8n.cloud/api/v1';\nconst N8N_KEY    = 'REDACTED_JWT_TOKEN';\n\n// Read inputs from Node A\nconst prev      = $input.first().json;\nconst { t1Sent, t2Sent, t3Sent, t4Sent, t5Sent,\n        t6Result, t7Result, runDate, runTime,\n        tickers, mainWfId } = prev;\n\nfunction sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nfunction check(name, pass, detail) { return { name, pass, detail: String(detail || '') }; }\n\n// \u2500\u2500 findExec: poll n8n for execution matching test ticker \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nasync function findExec(afterMs, ticker, timeoutMs) {\n  const deadline = Date.now() + timeoutMs;\n  while (Date.now() < deadline) {\n    await sleep(3000);\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${N8N_API}/executions?workflowId=${mainWfId}&limit=12&includeData=true`,\n        headers: { 'X-N8N-API-KEY': N8N_KEY },\n        json: true\n      });\n      for (const e of (resp.data || [])) {\n        if (new Date(e.startedAt).getTime() < afterMs - 3000) continue;\n        const runData = e.data?.resultData?.runData || {};\n        const whItems = (runData['Webhook Trigger']?.[0]?.data?.main?.[0] || []);\n        const body    = whItems[0]?.json?.body || {};\n        if (body.ticker === ticker && body._is_test === true) {\n          return { found: true, status: e.status, runData };\n        }\n      }\n    } catch (_) {}\n  }\n  return { found: false };\n}\n\n// \u2500\u2500 extract: pull key fields from a found execution \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction extract(runData) {\n  const get = (node) => (runData[node]?.[0]?.data?.main?.[0] || []);\n  const smJ  = get('Signal State Machine')[0]?.json || {};\n  const vcJ  = get('VC Score Parser')[0]?.json      || {};\n  const slJ  = get('Shadow Logger')[0]?.json        || {};\n  const ssRun= runData['Append Shadow to Sheet'];\n  const ffRun= runData['Format Fast Alert'];\n  return {\n    sm_route:        smJ._sm_route   || null,\n    sm_action:       smJ._sm_action  || null,\n    sm_reason:      (smJ._sm_reason  || '').slice(0, 80),\n    sm_conf:         smJ._sm_max_confidence || 0,\n    vc_score:        vcJ._vc_score   || null,\n    vc_verdict:      vcJ._vc_verdict || null,\n    shadow_id:       slJ.Shadow_ID   || null,\n    shadow_price:    slJ.Price       || null,\n    shadow_exec:     slJ.Actual_Execution || null,\n    sheet_ok:        !!(ssRun && (ssRun[0]?.data?.main?.[0] || []).length > 0 && !ssRun[0]?.error),\n    format_fast_ran: !!(ffRun && (ffRun[0]?.data?.main?.[0] || []).length > 0),\n    channel_fired:   !!(runData['Send to Channel']?.[0]?.data?.main?.[0] || []).length,\n  };\n}\n\nconsole.log('[NODE B] Starting poll. Waiting 8s for pipeline to process signals...');\nawait sleep(8000);\n\n// Poll all 5 in parallel \u2014 30s timeout each (plenty within 60s node budget)\nconsole.log('[NODE B] Polling for T1\u2013T5 executions...');\nconst [t1r, t2r, t3r, t4r, t5r] = await Promise.all([\n  findExec.call(this, t1Sent, tickers.T1, 30000),\n  findExec.call(this, t2Sent, tickers.T2, 30000),\n  findExec.call(this, t3Sent, tickers.T3, 30000),\n  findExec.call(this, t4Sent, tickers.T4, 30000),\n  findExec.call(this, t5Sent, tickers.T5, 30000),\n]);\n\nconst results = [t6Result, t7Result];\n\n// \u2500\u2500 T1: Full Path \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n{\n  const d = t1r.found ? extract(t1r.runData) : {};\n  const checks = [\n    check('Execution found',  t1r.found,             t1r.found ? 'OK' : 'timeout'),\n    check('SM route = FULL',  d.sm_route === 'FULL', `route=${d.sm_route}`),\n    check('VC Gate scored',   !!d.vc_score,          `vc_score=${d.vc_score}`),\n    check('Channel blocked', !d.channel_fired,       'test_mode suppressed'),\n  ];\n  const pass = checks.filter(c=>c.pass).length;\n  results.push({ id:'T1', name:'Full Signal Path (SM\u2192FULL\u2192VC)', status:pass===checks.length?'PASS':pass>=2?'WARN':'FAIL', checks, note:d.sm_reason||'' });\n  console.log('[T1]', results.at(-1).status, 'route='+d.sm_route, 'vc='+d.vc_score);\n}\n\n// \u2500\u2500 T2: Kill Switch \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n{\n  const d = t2r.found ? extract(t2r.runData) : {};\n  const checks = [\n    check('Execution found',       t2r.found,                  t2r.found?'OK':'timeout'),\n    check('SM route = FAST_ONLY',  d.sm_route==='FAST_ONLY',   `route=${d.sm_route}`),\n    check('VC Gate NOT reached',  !d.vc_score,                 `vc_score=${d.vc_score}`),\n  ];\n  const pass = checks.filter(c=>c.pass).length;\n  results.push({ id:'T2', name:'Kill Switch \u2014 Low ADX (FAST_ONLY)', status:pass===checks.length?'PASS':pass>=2?'WARN':'FAIL', checks, note:d.sm_reason||'' });\n  console.log('[T2]', results.at(-1).status, 'route='+d.sm_route);\n}\n\n// \u2500\u2500 T3: BROAD_SCANNER Bypass \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n{\n  const d = t3r.found ? extract(t3r.runData) : {};\n  const checks = [\n    check('Execution found',     t3r.found,             t3r.found?'OK':'timeout'),\n    check('KS1 bypassed (FULL)', d.sm_route==='FULL',   `route=${d.sm_route}`),\n    check('VC Gate reached',     !!d.vc_score,          `vc_score=${d.vc_score}`),\n  ];\n  const pass = checks.filter(c=>c.pass).length;\n  results.push({ id:'T3', name:'BROAD_SCANNER Bypass (0 backtest trades)', status:pass===checks.length?'PASS':pass>=2?'WARN':'FAIL', checks, note:'' });\n  console.log('[T3]', results.at(-1).status, 'route='+d.sm_route);\n}\n\n// \u2500\u2500 T4: STAND ASIDE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n{\n  const d = t4r.found ? extract(t4r.runData) : {};\n  const checks = [\n    check('Execution found',         t4r.found,            t4r.found?'OK':'timeout'),\n    check('Format Fast Alert fired', d.format_fast_ran,    d.format_fast_ran?'fired':'not fired'),\n    check('VC Gate NOT reached',    !d.vc_score,           `vc_score=${d.vc_score}`),\n    check('Channel blocked',        !d.channel_fired,      'test_mode suppressed'),\n  ];\n  const pass = checks.filter(c=>c.pass).length;\n  results.push({ id:'T4', name:'STAND ASIDE Exit Path', status:pass===checks.length?'PASS':pass>=3?'WARN':'FAIL', checks, note:'' });\n  console.log('[T4]', results.at(-1).status, 'fast_alert='+d.format_fast_ran);\n}\n\n// \u2500\u2500 T5: Shadow Logger Write \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n{\n  const d = t5r.found ? extract(t5r.runData) : {};\n  const checks = [\n    check('Execution found',   t5r.found,                                                      t5r.found?'OK':'timeout'),\n    check('Shadow_ID written', !!d.shadow_id,                                                  `id=${d.shadow_id}`),\n    check('Price populated',   d.shadow_price===88.5||d.shadow_price==88.5||String(d.shadow_price)==='88.5', `price=${d.shadow_price}`),\n    check('Execution correct', d.shadow_exec==='SELL',                                         `exec=${d.shadow_exec}`),\n    check('Sheet append OK',   d.sheet_ok,                                                     d.sheet_ok?'OK':'failed'),\n  ];\n  const pass = checks.filter(c=>c.pass).length;\n  results.push({ id:'T5', name:'Shadow Logger Write to Sheet', status:pass===checks.length?'PASS':pass>=3?'WARN':'FAIL', checks, note:'' });\n  console.log('[T5]', results.at(-1).status, 'shadow_id='+d.shadow_id, 'sheet='+d.sheet_ok);\n}\n\n// \u2500\u2500 Summary \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst passCount = results.filter(r=>r.status==='PASS').length;\nconst warnCount = results.filter(r=>r.status==='WARN').length;\nconst failCount = results.filter(r=>r.status==='FAIL').length;\nconst score = Math.round(((passCount + warnCount*0.5) / results.length) * 10 * 10) / 10;\n\nconsole.log(`[NODE B] Done: ${passCount} PASS, ${warnCount} WARN, ${failCount} FAIL | Score: ${score}/10`);\n\nreturn [{ json: {\n  run_date: runDate,\n  run_time: runTime,\n  results,\n  summary: { pass: passCount, warn: warnCount, fail: failCount, total: results.length, score },\n}}];\n"
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// DAILY HEALTH REPORT FORMATTER v1.1\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// Converts Testing Agent output into a clean Telegram message.\n// Sends ONLY to personal chat. Never sends to channel.\n// Mode: runOnceForEachItem\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst BOT  = 'REDACTED_TELEGRAM_BOT_TOKEN';\nconst CHAT = 'REDACTED_CHAT_ID';\nconst NL   = '\\n';\n\nconst d     = $input.item.json;\nconst score = d.summary.score;\nconst { pass, warn, fail, total } = d.summary;\n\n// \u2500\u2500 Grade + readiness \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction grade(s) {\n  if (s >= 9.5) return 'A+';\n  if (s >= 9.0) return 'A';\n  if (s >= 8.0) return 'B';\n  if (s >= 7.0) return 'C';\n  if (s >= 6.0) return 'D';\n  return 'F';\n}\nfunction readiness(s, failCount) {\n  if (failCount === 0 && s >= 8.0) return 'READY TO TRADE';\n  if (failCount <= 1 || s >= 7.0)  return 'CONDITIONAL \u2014 monitor closely';\n  return 'HOLD \u2014 fix blockers before trading';\n}\n\n// \u2500\u2500 Status icons (plain text \u2014 max Telegram compatibility) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction icon(status) {\n  return status === 'PASS' ? '[PASS]' : status === 'WARN' ? '[WARN]' : '[FAIL]';\n}\n\n// \u2500\u2500 Build message \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet msg = '';\n\n// Header\nmsg += `<b>Daily Health Report \u2014 ${d.run_date}</b>` + NL;\nmsg += `Time: ${d.run_time}` + NL;\nmsg += NL;\n\n// Score block\nmsg += `<b>Score: ${score}/10  |  Grade: ${grade(score)}</b>` + NL;\nmsg += `<b>Status: ${readiness(score, fail)}</b>` + NL;\nmsg += NL;\n\n// Test results\nmsg += `<b>Test Results (${pass}/${total} passed):</b>` + NL;\nfor (const r of d.results) {\n  const statusStr = icon(r.status);\n  msg += `${statusStr} ${r.id}: ${r.name}` + NL;\n  // Show first failed check as the detail\n  const firstFail = r.checks.find(c => !c.pass);\n  if (firstFail && r.status !== 'PASS') {\n    msg += `       Issue: ${firstFail.name} \u2014 ${firstFail.detail}` + NL;\n  }\n}\nmsg += NL;\n\n// Blockers section (only if any failures)\nconst blockers = d.results.filter(r => r.status === 'FAIL');\nif (blockers.length > 0) {\n  msg += `<b>Blockers (${blockers.length}):</b>` + NL;\n  for (const b of blockers) {\n    const failedChecks = b.checks.filter(c => !c.pass).map(c => c.name).join(', ');\n    msg += `  [!] ${b.id} ${b.name}` + NL;\n    msg += `      Failed: ${failedChecks}` + NL;\n  }\n  msg += NL;\n}\n\n// Warnings\nconst warnings = d.results.filter(r => r.status === 'WARN');\nif (warnings.length > 0) {\n  msg += `<b>Warnings:</b>` + NL;\n  for (const w of warnings) {\n    const failedChecks = w.checks.filter(c => !c.pass).map(c => c.name).join(', ');\n    msg += `  [-] ${w.id}: ${failedChecks}` + NL;\n  }\n  msg += NL;\n}\n\n// Quick checklist\nmsg += `<b>Pre-Trade Checklist:</b>` + NL;\nconst t6 = d.results.find(r => r.id === 'T6');\nif (t6) {\n  for (const c of t6.checks) {\n    msg += `  ${c.pass ? '[OK]' : '[!!]'} ${c.name}` + NL;\n  }\n}\nmsg += NL;\n\n// Summary line\nif (fail === 0 && warn === 0) {\n  msg += `All systems operational. Safe to auto-trade.`;\n} else if (fail === 0) {\n  msg += `${warn} warning(s) \u2014 auto-trade with monitoring.`;\n} else {\n  msg += `${fail} blocker(s) found. Review before enabling auto-trade.`;\n}\n\n// \u2500\u2500 Send to personal Telegram \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${BOT}/sendMessage`,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: CHAT, text: msg, parse_mode: 'HTML' }),\n    json: false\n  });\n  console.log('[HEALTH REPORT] Sent to Telegram:', score + '/10', grade(score));\n} catch (e) {\n  console.log('[HEALTH REPORT] Telegram error:', e.message);\n}\n\nreturn { json: {\n  sent: true, run_date: d.run_date, score, grade: grade(score),\n  readiness: readiness(score, fail),\n  pass, warn, fail,\n}};\n"
      },
      "id": "rpt-001",
      "name": "Health Report Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        304
      ]
    }
  ],
  "connections": {
    "Schedule \u2014 8AM ET": {
      "main": [
        [
          {
            "node": "Testing Agent \u2014 Node A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testing Agent \u2014 Node A": {
      "main": [
        [
          {
            "node": "Testing Agent \u2014 Node B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testing Agent \u2014 Node B": {
      "main": [
        [
          {
            "node": "Health Report Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": 120,
    "binaryMode": "separate"
  },
  "meta": {
    "n8n_workflow_id": "5kpUVMQJhPFnBPyB",
    "instance": "tradenextgen.app.n8n.cloud",
    "exported_at": "2026-04-13T16:35:00Z",
    "active_at_export": true,
    "node_count": 4,
    "secrets_redacted": true
  }
}
