n8n-workflows/signal-feed-public-pipeline.json
{
  "name": "Signal Feed \u2014 Public Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signal-feed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "sf-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "e892c193-cc6d-45e8-bcd2-52bae3af6374"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nconst raw  = $input.item.json;\nconst body = raw.body && typeof raw.body === 'object' ? raw.body : raw;\nreturn [{ json: { _ticker_context: true, ticker: (body.ticker || '').toString().toUpperCase().trim() } }];\n"
      },
      "id": "sf-02",
      "name": "Extract Ticker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1ACjgFqi9k6pkKafjD9AiDMWCHIwvEE-MFPR6dW4e1KM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "id": "sf-03",
      "name": "Read Public Signals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gT3auKKLeI5MUoOt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "sf-04",
      "name": "Merge Streams",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nconst all    = $input.all().map(i => i.json);\nconst ctx    = all.find(r => r._ticker_context);\nconst ticker = ctx ? ctx.ticker : '';\nif (!ticker) return [{ json: { found: false, reason: 'No ticker provided' } }];\n\nconst sheetRows  = all.filter(r => !r._ticker_context && r.Timestamp);\nconst tickerRows = sheetRows.filter(r => (r.Ticker||'').toUpperCase() === ticker);\n\nif (!tickerRows.length) {\n  return [{ json: { found: false, ticker,\n    reason: 'Ticker not yet in live pipeline scan \u2014 using Grok-3 analysis' } }];\n}\n\ntickerRows.sort((a,b) => new Date(b.Timestamp||0) - new Date(a.Timestamp||0));\nconst latest = tickerRows[0];\nconst ageH   = (Date.now() - new Date(latest.Timestamp||0).getTime()) / 3600000;\n\nlet reasons = [];\ntry {\n  const r = latest.Reasons||'';\n  reasons = r.startsWith('[') ? JSON.parse(r) : r.split('|').map(s=>s.trim()).filter(Boolean);\n} catch(_) {}\nif (!reasons.length) reasons = ['Signal generated by AgilityServ Quantum Pipeline'];\n\nreturn [{ json: {\n  found:true, stale: ageH>24, ticker: latest.Ticker||ticker,\n  signal: latest.Signal||'STAND ASIDE',\n  confidence: Number(latest.Confidence)||0, price: Number(latest.Price)||0,\n  regime: latest.Regime||'', rsi: Number(latest.RSI)||null,\n  vcVerdict: latest.VC_Verdict||'',\n  entry: Number(latest.Entry)||null, stop: Number(latest.Stop)||null,\n  target1: Number(latest.Target1)||null, target2: Number(latest.Target2)||null,\n  timeframe: latest.TimeFrame||'intraday', reasons,\n  signalAge: `${ageH.toFixed(1)}h ago`, timestamp: latest.Timestamp,\n  pipelineVersion: latest.Pipeline_Version||'v5.16',\n  source: 'AgilityServ Quantum Pipeline'\n}}];\n"
      },
      "id": "sf-05",
      "name": "Filter & Respond",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "sf-06",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ticker": {
      "main": [
        [
          {
            "node": "Read Public Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Public Signals": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Streams": {
      "main": [
        [
          {
            "node": "Filter & Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Respond": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "n8n_workflow_id": "4FpYbRdtxRsKA6jZ",
    "instance": "tradenextgen.app.n8n.cloud",
    "exported_at": "2026-04-13T16:35:00Z",
    "active_at_export": true,
    "node_count": 6,
    "secrets_redacted": true
  }
}