n8n-workflows/tradingview-script-scraper-v6.json
{
  "name": "TradingView Script Scraper v6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "trigger",
      "name": "Nightly 2AM ET"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP 1: Fetch both listing pages & parse all script cards\n// v6.2: cap at 40, dedup migration, no IF node needed\n// ============================================================\n\nconst URLS = [\n  { category: 'editors_picks', url: 'https://www.tradingview.com/scripts/editors-picks/' },\n  { category: 'popular',       url: 'https://www.tradingview.com/scripts/' }\n];\n\nconst UA = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36';\n\nconst state = $getWorkflowStaticData('global');\nif (!state.seenUrls) state.seenUrls = {};\n\n// v6.2 migration: clear old dedup state once\nif (!state._v62_migrated) {\n  console.log('[v6.2] First run \u2014 clearing old dedup state (' + Object.keys(state.seenUrls).length + ' entries)');\n  state.seenUrls = {};\n  state._v62_migrated = true;\n}\n\n// Prune >30 day entries\nconst cutoff = new Date(Date.now() - 30 * 86400000).toISOString();\nfor (const [url, date] of Object.entries(state.seenUrls)) {\n  if (date < cutoff) delete state.seenUrls[url];\n}\n\nconst allScripts = [];\nconst seen = new Set();\n\nfor (const page of URLS) {\n  let html = '';\n  try {\n    html = await this.helpers.httpRequest({\n      method: 'GET', url: page.url,\n      headers: { 'User-Agent': UA, 'Accept': 'text/html', 'Accept-Language': 'en-US,en;q=0.9' },\n      encoding: 'utf-8'\n    });\n  } catch(e) {\n    console.log('[FETCH] Error: ' + page.category + ': ' + e.message);\n    continue;\n  }\n  \n  if (!html || html.length < 5000) continue;\n  console.log('[FETCH] ' + page.category + ': ' + html.length + ' chars');\n  \n  const cardRegex = /<article[^>]*class=\"[^\"]*ideaCard[^\"]*\"[^>]*>([\\s\\S]*?)<\\/article>/g;\n  let match, count = 0;\n  \n  while ((match = cardRegex.exec(html)) !== null && count < 25) {\n    const card = match[1];\n    const titleMatch = card.match(/data-qa-id=\"ui-lib-card-link-title\"[^>]*>([^<]+)/);\n    const title = titleMatch ? titleMatch[1].trim() : '';\n    if (!title) continue;\n    \n    const urlMatch = card.match(/href=\"(https:\\/\\/www\\.tradingview\\.com\\/script\\/[^\"#]+)\"/);\n    const scriptUrl = urlMatch ? urlMatch[1] : '';\n    if (!scriptUrl || seen.has(scriptUrl)) continue;\n    seen.add(scriptUrl);\n    \n    if (state.seenUrls[scriptUrl]) continue;\n    \n    const authorMatch = card.match(/\\/u\\/([A-Za-z0-9_-]+)\\//);\n    const imgMatch = card.match(/src=\"(https:\\/\\/s3\\.tradingview\\.com\\/[^\"]+)\"/);\n    const descMatch = card.match(/line-clamp-content-[^\"]*\"[^>]*>([\\s\\S]*?)<\\/span>/);\n    let desc = '';\n    if (descMatch) desc = descMatch[1].replace(/<[^>]+>/g, '').replace(/&#x27;/g, \"'\").replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/\\s+/g, ' ').trim().substring(0, 500);\n    \n    allScripts.push({\n      title, author: authorMatch ? authorMatch[1] : '',\n      description: desc, script_url: scriptUrl,\n      script_id: (scriptUrl.match(/\\/script\\/([A-Za-z0-9]+)/) || [])[1] || '',\n      screenshot_url: imgMatch ? imgMatch[1] : '', category: page.category\n    });\n    count++;\n  }\n  console.log('[PARSE] ' + page.category + ': ' + count + ' cards');\n  await new Promise(r => setTimeout(r, 300));\n}\n\nconst capped = allScripts.slice(0, 40);\nconsole.log('[v6.2 STEP 1] Output: ' + capped.length + ' scripts (from ' + allScripts.length + ' found)');\n\nif (capped.length === 0) return [];\nreturn capped.map(s => ({ json: s }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        304
      ],
      "id": "fetch-parse",
      "name": "Fetch & Parse Listings"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP 2: Fetch detail pages for metadata (PUB ID, access type)\n// v6.2: NO Pine API here \u2014 just metadata extraction from detail pages\n// Keeps this node well under 60s timeout\n// ============================================================\n\nconst items = $input.all();\nif (items.length === 0) {\n  console.log('[v6.2 DETAIL] No items \u2014 skipping');\n  return [];\n}\n\nconsole.log('[v6.2 DETAIL] Processing ' + items.length + ' scripts (metadata only)...');\nconst UA = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36';\nconst results = [];\nconst scraped_at = new Date().toISOString();\n\nfor (let i = 0; i < items.length; i++) {\n  const s = items[i].json;\n  let pinePubId = '', scriptAccess = 'UNKNOWN', scriptType = '';\n  let author = s.author || '', description = s.description || '';\n  let screenshotUrl = s.screenshot_url || '';\n  \n  try {\n    if (i > 0) await new Promise(r => setTimeout(r, 200));\n    \n    const html = await this.helpers.httpRequest({\n      method: 'GET', url: s.script_url,\n      headers: { 'User-Agent': UA, 'Accept': 'text/html' },\n      encoding: 'utf-8'\n    });\n    \n    const initRegex = /<script type=\"application\\/prs\\.init-data\\+json\">([\\s\\S]*?)<\\/script>/g;\n    let block;\n    while ((block = initRegex.exec(html)) !== null) {\n      try {\n        const data = JSON.parse(block[1]);\n        for (const [key, val] of Object.entries(data)) {\n          if (val && typeof val === 'object' && val.ssrIdeaData) {\n            const idea = val.ssrIdeaData;\n            if (idea.script && idea.script.script_id_part) pinePubId = idea.script.script_id_part;\n            const a = (idea.script || {}).access;\n            if (a === 1) scriptAccess = 'OPEN_SOURCE';\n            else if (a === 2) scriptAccess = 'INVITE_ONLY';\n            else if (a !== undefined) scriptAccess = 'PROTECTED';\n            if (idea.script && idea.script.script_type) scriptType = idea.script.script_type;\n            if (idea.user && idea.user.username) author = idea.user.username;\n            if (idea.description && idea.description.length > 10) {\n              description = idea.description.replace(/\\[b\\]/g,'').replace(/\\[\\/b\\]/g,'')\n                .replace(/\\[i\\]/g,'').replace(/\\[\\/i\\]/g,'').replace(/\\s+/g,' ').trim().substring(0,1000);\n            }\n            if (idea.preview_image_urls && idea.preview_image_urls.mid) screenshotUrl = idea.preview_image_urls.mid;\n            break;\n          }\n        }\n      } catch(e) {}\n    }\n    \n    if (scriptAccess === 'UNKNOWN') {\n      if (html.includes('rootOpenSource')) scriptAccess = 'OPEN_SOURCE';\n      else if (html.toUpperCase().includes('INVITE-ONLY')) scriptAccess = 'INVITE_ONLY';\n    }\n    \n    if (i < 5 || i % 10 === 0) console.log('[DETAIL ' + (i+1) + '/' + items.length + '] ' + s.title.substring(0,35) + ' | ' + scriptAccess + ' | PUB=' + (pinePubId ? 'YES' : 'NO'));\n  } catch(e) {\n    console.log('[DETAIL ' + (i+1) + '] ERROR: ' + s.title.substring(0,30) + ': ' + e.message);\n    scriptAccess = 'FETCH_ERROR';\n  }\n  \n  results.push({ json: {\n    title: s.title, author, description, script_url: s.script_url,\n    category: s.category, screenshot_url: screenshotUrl, scraped_at,\n    is_protected: scriptAccess, pine_pub_id: pinePubId,\n    _script_type: scriptType,\n    pine_code: '', is_strategy: 'false', _has_version: false, _is_strategy: false, _pine_length: 0\n  }});\n}\n\nconst openSrc = results.filter(r => r.json.is_protected === 'OPEN_SOURCE').length;\nconsole.log('[v6.2 DETAIL] Done: ' + results.length + ' processed, ' + openSrc + ' open-source');\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        208
      ],
      "id": "fetch-details",
      "name": "Fetch Detail Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Write rows to Google Sheets via API using n8n's OAuth2 credential\n// This bypasses the broken Google Sheets node entirely\nconst SPREADSHEET_ID = '16QmkJdHUptjAxLkVpJ5bghVSKRup3KtjKyaHQtz6BoQ';\nconst SHEET_NAME = 'Sheet1';\nconst items = $input.all();\n\nif (items.length === 0) {\n  console.log('[SHEETS] No items to write');\n  return [{ json: { written: 0 } }];\n}\n\nconsole.log('[SHEETS] Writing ' + items.length + ' rows to Google Sheets...');\n\n// Build rows array \u2014 values in column order matching headers:\n// title | author | script_url | category | pine_code | is_protected | description | screenshot_url | scraped_at | is_strategy\nconst rows = items.map(item => {\n  const j = item.json;\n  return [\n    j.title || '',\n    j.author || '',\n    j.script_url || '',\n    j.category || '',\n    j.pine_code || '',\n    j.is_protected || '',\n    (j.description || '').substring(0, 2000),\n    j.screenshot_url || '',\n    j.scraped_at || '',\n    j.is_strategy || 'false'\n  ];\n});\n\n// Use Google Sheets API v4 append endpoint\nconst url = 'https://sheets.googleapis.com/v4/spreadsheets/' + SPREADSHEET_ID \n  + '/values/' + encodeURIComponent(SHEET_NAME) + ':append'\n  + '?valueInputOption=RAW&insertDataOption=INSERT_ROWS';\n\ntry {\n  const resp = await this.helpers.httpRequestWithAuthentication.call(this, 'googleSheetsOAuth2Api', {\n    method: 'POST',\n    url: url,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ values: rows }),\n    json: true\n  });\n  \n  const updated = resp.updates || {};\n  console.log('[SHEETS] Success: ' + (updated.updatedRows || rows.length) + ' rows appended');\n  return [{ json: { written: updated.updatedRows || rows.length, range: updated.updatedRange || '' } }];\n} catch(e) {\n  console.log('[SHEETS] Error: ' + e.message);\n  // Don't fail the whole workflow \u2014 log and continue\n  return [{ json: { written: 0, error: e.message } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        112
      ],
      "id": "sheets-write",
      "name": "Save to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gT3auKKLeI5MUoOt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// v6.2: Filter top 3 with valid Pine code\nconst allInput = $input.all();\nconsole.log('[v6.2 FILTER] Received ' + allInput.length + ' items');\nconst valid = allInput.filter(i => i.json._has_version === true).slice(0, 3);\nconsole.log('[v6.2 FILTER] ' + valid.length + ' with valid //@version');\nif (valid.length === 0) return [{ json: { _empty: true, message: 'No valid Pine scripts' } }];\nfor (const v of valid) console.log('  \u2192 ' + v.json.title);\nreturn valid;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        304
      ],
      "id": "filter-backtest",
      "name": "Filter Top 3 for Backtest"
    },
    {
      "parameters": {
        "jsCode": "// Feed to Backtester \u2014 TSLA 5min 90d $25K\nconst CONFIG = {\n  symbol: 'TSLA',\n  timeframe: '5',\n  lookback_days: 90,\n  initial_capital: 25000,\n  commission_pct: 0.05,\n  slippage_ticks: 2,\n  currency: 'USD',\n  pyramiding: 0,\n  default_qty_type: 'fixed',\n  default_qty_value: 100\n};\n\nconst results = [];\nconsole.log('[v6.2 BACKTEST] Input: ' + $input.all().length + ' items');\nfor (const item of $input.all()) {\n  if (item.json._empty) continue;\n  \n  results.push({\n    json: {\n      title: item.json.title,\n      author: item.json.author,\n      script_url: item.json.script_url,\n      script_type: item.json._is_strategy ? 'strategy' : 'indicator',\n      pine_version: (item.json.pine_code.match(/\\/\\/@version=(\\d+)/) || [])[1] || '?',\n      pine_code_length: item.json._pine_length,\n      backtest_config: CONFIG,\n      backtest_ready: item.json._is_strategy,\n      note: item.json._is_strategy\n        ? 'Strategy \u2014 ready for backtesting'\n        : 'Indicator \u2014 needs strategy wrapper for backtesting'\n    }\n  });\n}\n\nconsole.log('[BACKTESTER] ' + results.length + ' scripts prepared. Strategies: ' + results.filter(r => r.json.backtest_ready).length);\nreturn results.length > 0 ? results : [{ json: { message: 'No scripts for backtester', config: CONFIG } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        304
      ],
      "id": "backtester",
      "name": "Feed to Backtester"
    },
    {
      "parameters": {
        "jsCode": "// v6.2: Build Telegram summary (guaranteed single message)\nlet allItems = [];\ntry { allItems = $('Fetch Pine Source Code').all(); } catch(e) {\n  try { allItems = $('Fetch Detail Metadata').all(); } catch(e2) {}\n}\n\nconst total = allItems.length;\nconst withCode = allItems.filter(i => i.json._has_version).length;\nconst openSource = allItems.filter(i => i.json.is_protected === 'OPEN_SOURCE').length;\nconst strategies = allItems.filter(i => i.json._is_strategy).length;\nconst editors = allItems.filter(i => i.json.category === 'editors_picks').length;\nconst popular = allItems.filter(i => i.json.category === 'popular').length;\nconst backtestItems = $input.all().filter(i => !i.json.message);\n\nlet msg = '\u2705 <b>Scraper v6.2 completed</b>\\n\\n';\nif (total === 0) {\n  msg += 'No new scripts found this run.';\n} else {\n  msg += total + ' scripts scraped (' + editors + ' editors, ' + popular + ' popular)\\n';\n  msg += openSource + ' open-source | ' + withCode + ' with full Pine code\\n';\n  msg += strategies + ' strategies detected\\n';\n  if (backtestItems.length > 0) {\n    msg += '\\n<b>Top ' + backtestItems.length + ' sent to backtester:</b>\\n';\n    for (const bt of backtestItems) msg += '\u2022 ' + (bt.json.title||'').substring(0,50) + ' (' + (bt.json.script_type||'?') + ')\\n';\n  }\n  msg += '\\nResults saved to Google Sheets';\n}\n\nconsole.log('[v6.2 SUMMARY] ' + total + ' scripts | ' + openSource + ' open-source | ' + strategies + ' strategies');\nreturn [{ json: { text: msg } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        304
      ],
      "id": "build-summary",
      "name": "Build Summary"
    },
    {
      "parameters": {
        "chatId": "REDACTED_CHAT_ID",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        304
      ],
      "id": "telegram-notify",
      "name": "Notify Telegram",
      "webhookId": "6cd3321e-db0b-4f22-8bd9-9c198041b854",
      "credentials": {
        "telegramApi": {
          "id": "GiUsUl7vX5HyzagN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// STEP 3: Fetch Pine source code via Pine Facade API\n// v6.2: Separate node to stay under 60s Code node timeout\n// Only processes OPEN_SOURCE scripts with a PUB ID\n// ============================================================\n\nconst items = $input.all();\nif (items.length === 0) {\n  console.log('[v6.2 PINE] No items \u2014 skipping');\n  return [];\n}\n\nconst openSourceItems = items.filter(i => i.json.is_protected === 'OPEN_SOURCE' && i.json.pine_pub_id);\nconsole.log('[v6.2 PINE] ' + items.length + ' total, ' + openSourceItems.length + ' open-source to fetch Pine code');\n\nconst state = $getWorkflowStaticData('global');\nconst UA = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)';\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  \n  if (item.is_protected !== 'OPEN_SOURCE' || !item.pine_pub_id) {\n    if (item.is_protected === 'INVITE_ONLY') item.pine_code = 'INVITE_ONLY';\n    else if (item.is_protected === 'PROTECTED') item.pine_code = 'PROTECTED';\n    else item.pine_code = 'REQUIRES_BROWSER';\n    continue;\n  }\n  \n  try {\n    if (i > 0) await new Promise(r => setTimeout(r, 200));\n    \n    const encoded = encodeURIComponent(item.pine_pub_id);\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://pine-facade.tradingview.com/pine-facade/get/' + encoded + '/last',\n      headers: { 'User-Agent': UA, 'Origin': 'https://www.tradingview.com', 'Referer': 'https://www.tradingview.com/' },\n      json: true\n    });\n    \n    if (resp && resp.source) {\n      let src = resp.source;\n      item.pine_code = src.length > 50000 ? src.substring(0, 50000) + '\\n// [TRUNCATED]' : src;\n      item._has_version = src.includes('//@version');\n      item._is_strategy = src.includes('strategy(');\n      item.is_strategy = item._is_strategy ? 'true' : 'false';\n      item._pine_length = src.length;\n      if (i < 5 || i % 10 === 0) console.log('[PINE ' + (i+1) + '] ' + item.title.substring(0,35) + ' \u2192 ' + src.length + ' chars');\n    } else {\n      item.pine_code = 'REQUIRES_BROWSER';\n    }\n  } catch(e) {\n    item.pine_code = 'REQUIRES_BROWSER';\n    if (i < 5) console.log('[PINE ' + (i+1) + '] ERROR: ' + e.message);\n  }\n  \n  // Mark as seen for cross-run dedup\n  state.seenUrls[item.script_url] = item.scraped_at;\n}\n\nconst withCode = items.filter(i => i.json._has_version).length;\nconst strats = items.filter(i => i.json._is_strategy).length;\nconsole.log('[v6.2 PINE] Done: ' + withCode + ' with Pine code, ' + strats + ' strategies');\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        208
      ],
      "id": "fetch-pine",
      "name": "Fetch Pine Source Code"
    },
    {
      "parameters": {
        "jsCode": "// Strip internal fields before Google Sheets append\n// autoMapInputData matches field names to column headers\nconst items = $input.all();\nconsole.log('[v6.2 FORMAT] Preparing ' + items.length + ' rows for Google Sheets');\n\nreturn items.map(item => ({\n  json: {\n    title: item.json.title || '',\n    author: item.json.author || '',\n    script_url: item.json.script_url || '',\n    category: item.json.category || '',\n    pine_code: item.json.pine_code || '',\n    is_protected: item.json.is_protected || '',\n    description: (item.json.description || '').substring(0, 2000),\n    screenshot_url: item.json.screenshot_url || '',\n    scraped_at: item.json.scraped_at || '',\n    is_strategy: item.json.is_strategy || 'false'\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        112
      ],
      "id": "format-sheets",
      "name": "Format for Sheets"
    }
  ],
  "connections": {
    "Nightly 2AM ET": {
      "main": [
        [
          {
            "node": "Fetch & Parse Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Parse Listings": {
      "main": [
        [
          {
            "node": "Fetch Detail Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Detail Metadata": {
      "main": [
        [
          {
            "node": "Fetch Pine Source Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pine Source Code": {
      "main": [
        [
          {
            "node": "Format for Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Top 3 for Backtest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Top 3 for Backtest": {
      "main": [
        [
          {
            "node": "Feed to Backtester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed to Backtester": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Sheets": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "meta": {
    "n8n_workflow_id": "I002Myrns8In9J0A",
    "instance": "tradenextgen.app.n8n.cloud",
    "exported_at": "2026-04-13T16:35:00Z",
    "active_at_export": true,
    "node_count": 10,
    "secrets_redacted": true
  }
}