n8n-workflows/trailing-stop-manager-v2.2.json
{
  "success": true,
  "versionId": "a6e5a529-e3fa-4eed-a5a8-da9c5c77eebb",
  "workflowId": "vFnPjyx8srnzcYgV",
  "authors": "Santosh Adari (via MCP)",
  "name": null,
  "description": null,
  "createdAt": "2026-07-10T20:40:24.795Z",
  "updatedAt": "2026-07-10T20:40:24.795Z",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * 1-5"
            }
          ]
        }
      },
      "id": "4413e06f-0227-4fd5-a625-132a804e22fa",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        304
      ],
      "disabled": false
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// TRAILING STOP MANAGER v1.8 — Auto-Seed + Scale-Out Mode + Fill Detection\n// Runs every 15 min during market hours. For each open position:\n//   Tier 1: price >= entry + 1.5×ATR → sell 50%, raise stop to breakeven\n\n//   Tier 2: price >= entry + 2.5×ATR → sell remaining 50% (full exit)\n//   Tier 2 trail: price >= entry + 3.0×ATR → raise stop to entry + 1.5×ATR\n//   Tier 3: price >= entry + 4.5×ATR → raise stop to entry + 3.0×ATR\n//\n// v1.6 CHANGES:\n//   - AUTO-SEED: any position past Tier 1 without scaledOut entry gets\n//     automatically seeded (synthetic Tier 1). Prevents the \"tier skip\" bug\n//     where fast-movers jump from Tier 0 past Tier 1 in one interval.\n//   - AUTO-SEED T2 AWARENESS: auto-seeded positions sell only 50% at T2\n//     (their first real sell), then remaining 50% exits on next tier-up.\n//     Non-auto-seeded positions (real T1 sell happened) still full-exit at T2.\n//   - Legacy retro-seeds (v1.5 SMCI/IONQ) upgraded to autoSeeded for correct\n//     50% T2 behavior.\n//   - Removed hardcoded SMCI/IONQ retro-seed block (replaced by auto-seed).\n//   - Added state consistency audit on every run (logs orphaned entries).\n// ═══════════════════════════════════════════════════════════════════════════\n\n// QTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706 — FIX1 stop-width sanity in v4.2.6 held-leg classifier;\n// FIX2 EOD close guard nested-leg cancel + 403 retry + window start 945->930; FIX3 AUDIT_SAFE_MISSING_STOP_ONLY=false.\n// QTP_TSM_ORPHAN_FLATTEN_v4.3.2_20260707 - carryover NOT_PROVEN_SCALP positions whose ONLY active protective\n// stops are recovery-placed (qtp_sl_recovery_*/qtp_widestop_*) get leg-cancel + market flatten (paper only, windowed).\n// QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709 - REACHABILITY FIX: orphan-flatten was unreachable for\n// recovery-stop-only carryovers >1 session old (nested under the prior-session entry gate). Orphan eval\n// hoisted above that gate for ANY non-same-day carryover; organic-stop swings remain exempt; all gates kept.\n\n// QTP_TSM_CREDENTIAL_MIGRATION_v2.0_20260710 — Alpaca transport goes through the token-gated\n// QTP Alpaca Paper Broker Proxy (workflow nacafqPWhtsJjLvv), which holds the named n8n\n// credential 'Alpaca-PAPER'. No embedded keys, no $vars, no staticData secrets here.\n// Key rotation = update the Alpaca-PAPER credential only. All trading logic below is\n// byte-identical to v4.3.4 except: alp() transport, bars fetch, removed key guard, TEST harness.\nconst BASE = 'https://paper-api.alpaca.markets'; // paper-endpoint safety guards below still check this string\nconst DATA = 'https://data.alpaca.markets';\nconst QTP_PROXY_URL = 'https://tradenextgen.app.n8n.cloud/webhook/qtp-alpaca-paper-proxy-x9v27';\nconst QTP_PROXY_TOKEN = String((typeof $vars !== 'undefined' && $vars.QTP_PROXY_TOKEN) || ''); // v2.2: rotated to n8n Variable after secret-scanner alert; proxies fail closed on mismatch\nconst QTP_TG_PROXY_URL = 'https://tradenextgen.app.n8n.cloud/webhook/qtp-telegram-proxy-k4p8w'; // v2.1: bot token removed — Telegram credential lives in QTP Telegram Proxy (oYZVDxX2yhX75Eu0)\nconst CHAT   = '6648680513';\n\nconst SCALE_OUT_MODE = true;\n\nconst state = $getWorkflowStaticData('global');\nif (!state.scaledOut) state.scaledOut = {};\nif (!state.trailState) state.trailState = {};\n\n\n// QTP_STOP_LOSS_RECOVERY_v5.8_20260518\n// Paper-gated stop-loss recovery for UNPROTECTED_BLOCKED_BY_LIMIT_EXIT.\n// Safety constraints:\n// - Paper endpoint only; hard-blocks any non-paper Alpaca base URL.\n// - Market-hours only; no after-hours cancel/replace.\n// - Cancels only non-stop same-side exit orders that reserve quantity.\n// - Refetches position/orders after cancel before placing one GTC stop.\n// - Idempotent recovery key prevents duplicate stop submissions and duplicate audit/order events.\n// - Does not touch L12 fill dedup state._processedFills.\nconst QTP_STOP_RECOVERY_VERSION = 'QTP_STOP_LOSS_RECOVERY_v5.8_20260518';\nconst QTP_STOP_RECOVERY_ENABLED = true;\nif (!state._stopRecoveryDedup) state._stopRecoveryDedup = {};\nfunction qtpRecoveryHash(s) {\n  s = String(s || '');\n  let h = 2166136261;\n  for (let i = 0; i < s.length; i++) { h ^= s.charCodeAt(i); h = Math.imul(h, 16777619); }\n  return (h >>> 0).toString(16);\n}\nfunction qtpIsActiveOrderStatus(st) {\n  return ['new','accepted','pending_new','held','partially_filled','pending_replace'].includes(String(st || '').toLowerCase());\n}\nfunction qtpIsStopType(t) {\n  return ['stop','stop_limit','trailing_stop'].includes(String(t || '').toLowerCase());\n}\nfunction qtpOpenQty(o) {\n  return Math.max(0, (parseFloat(o.qty || 0) || 0) - (parseFloat(o.filledQty || 0) || 0));\n}\n\n// v2.1 AUDIT-SAFE PATCH — 2026-04-29\n// Missing-stop positions are classified and alerted only. This workflow must not\n// auto-place protective stops when existing full-size exit orders may reserve qty,\n// and it must never place new orders outside regular market hours.\nconst AUDIT_SAFE_MISSING_STOP_ONLY = false; // QTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706 FIX3: allow UNPROTECTED classifications to act (paper)\nif (!state._missingStopAlerted) state._missingStopAlerted = {};\n\n\nconst r2 = n => Math.round(n * 100) / 100;\n\nasync function alp(method, path, body, host) {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST', url: QTP_PROXY_URL,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ token: QTP_PROXY_TOKEN, host: host === 'data' ? 'data' : 'paper', method, path, body: body || null }),\n    json: true, timeout: 45000\n  });\n  if (resp && resp.__qtp_proxy_error) {\n    const pe = resp.__qtp_proxy_error;\n    throw new Error('Request failed with status code ' + (pe.status || 'unknown') + (pe.body ? ' - ' + String(pe.body).slice(0, 300) : ''));\n  }\n  if (resp && resp.__qtp_proxy_ok) return resp.data;\n  throw new Error('QTP_PROXY_BAD_RESPONSE: ' + JSON.stringify(resp || {}).slice(0, 200));\n}\n\n// v1.7: Retry helper with exponential backoff\nasync function retryAlp(ctx, method, path, body, maxRetries = 3) {\n  for (let attempt = 1; attempt <= maxRetries; attempt++) {\n    try {\n      return await alp.call(ctx, method, path, body);\n    } catch (err) {\n      if (attempt === maxRetries) throw err;\n      const delay = 300 * Math.pow(2, attempt - 1); // 300ms, 600ms, 1200ms\n      console.log(`[TRAIL v1.7] Retry ${attempt}/${maxRetries} for ${method} ${path} — waiting ${delay}ms`);\n      await new Promise(r => setTimeout(r, delay));\n    }\n  }\n}\n\nasync function tg(text) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: QTP_TG_PROXY_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ token: QTP_PROXY_TOKEN, chat_id: CHAT, text }),\n      json: true\n    });\n  } catch (_) {}\n}\n\n// v1.9: Subscriber channel notification — clean, action-oriented messages only\n// Rule: subscribers see every REAL Alpaca execution (entries, scale-outs, exits, stops)\n// Rule: subscribers do NOT see internal system events (trail raises, auto-seeds, circuit breakers)\nasync function tgChannel(text) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: QTP_TG_PROXY_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ token: QTP_PROXY_TOKEN, chat_id: CHANNEL_ID, text }),\n      json: true\n    });\n  } catch (_) {}\n}\n\n// ── QTP TSM TEST HARNESS v2.0 — active ONLY when the 'TSM Test Trigger' webhook fired ──\n// In production (schedule trigger; test trigger disabled) the reference throws and __TEST\n// stays null, so this block is inert. In test mode: Alpaca reads serve synthetic fixtures,\n// writes are RECORDED (never sent), Telegram is captured. Zero broker side effects.\nlet __TEST = null;\ntry {\n  const _tt = $('TSM Test Trigger').first().json;\n  const _tb = (_tt && _tt.body) || _tt || {};\n  if (_tb && _tb.scenario === 'qtp-tsm-synthetic-v1') __TEST = _tb;\n} catch (_) { __TEST = null; }\nconst __testWrites = [];\nconst __testTg = [];\nif (__TEST) {\n  const FIX = __TEST.fixtures || {};\n  const _fixOrders = (symFilter) => {\n    const all = FIX.orders || [];\n    if (!symFilter) return all;\n    return all.filter(o => String(o.symbol || '').toUpperCase() === String(symFilter).toUpperCase());\n  };\n  alp = async function (method, path, body) {\n    const m = String(method).toUpperCase();\n    if (m === 'GET') {\n      if (path === '/v2/positions') return FIX.positions || [];\n      if (path.startsWith('/v2/positions/')) {\n        const s = decodeURIComponent(path.split('/').pop());\n        const p = (FIX.positions || []).find(x => x.symbol === s);\n        if (!p) throw new Error('Request failed with status code 404 - position does not exist');\n        return p;\n      }\n      if (path.startsWith('/v2/orders?')) {\n        const ms = path.match(/symbols=([^&]+)/);\n        return _fixOrders(ms ? decodeURIComponent(ms[1]) : null);\n      }\n      if (path.startsWith('/v2/orders/')) return { id: path.split('/').pop(), status: 'accepted', filled_qty: '0', filled_avg_price: null };\n      if (path.startsWith('/v2/account/activities')) return FIX.activities || [];\n      if (path.startsWith('/v2/stocks/bars')) return { bars: FIX.bars || {} };\n      return {};\n    }\n    __testWrites.push({ method: m, path, body: body || null });\n    if (m === 'POST' && path === '/v2/orders') return { id: 'test-ord-' + __testWrites.length, status: 'accepted', filled_qty: '0', filled_avg_price: null };\n    return { ok: true };\n  };\n  const __tgSan = (t) => String(t).replace(/[^A-Za-z0-9 \\-\\.\\$%@:|=+]/g, ' ').replace(/ +/g, ' ').slice(0, 140);\n  tg = async function (text) { __testTg.push({ to: 'ops', text: __tgSan(text) }); };\n  tgChannel = async function (text) { __testTg.push({ to: 'channel', text: __tgSan(text) }); };\n}\n\nlet positions, orders;\ntry {\n  positions = await alp.call(this, 'GET', '/v2/positions');\n  orders    = await alp.call(this, 'GET', '/v2/orders?status=all&limit=500&direction=desc&nested=true'); // QTP_TSM_HELD_BRACKET_STOP_VISIBILITY_v4.2.6\n} catch (e) {\n  console.error('[TRAIL v1.7] Alpaca fetch failed:', e.message);\n  return [{ json: { error: e.message } }];\n}\n\n// v2.0 FIX: Market hours guard — skip order placement during after-hours.\n// TSM schedule runs every 15 min 24/7. Fill detection still runs (read-only),\n// but stop adjustments and scale-outs are blocked outside regular hours.\nconst _tsmNowET = new Date().toLocaleString('en-US', { timeZone: 'America/New_York' });\nconst _tsmETDate = new Date(_tsmNowET);\nconst _tsmETMins = _tsmETDate.getHours() * 60 + _tsmETDate.getMinutes();\nconst _tsmMarketOpen = _tsmETMins >= 570 && _tsmETMins < 960 && _tsmETDate.getDay() >= 1 && _tsmETDate.getDay() <= 5;\n\nif (!state.knownPositions) state.knownPositions = {};\n// v1.7.1: Fill dedup — prevents duplicate alerts if runs overlap\nif (!state._processedFills) state._processedFills = {};\nconst CHANNEL_ID = '-1003889511940';  // subscriber channel — paid service notifications\n\nconst currentSymbols = new Set((positions || []).map(p => p.symbol));\nconst previousSymbols = Object.keys(state.knownPositions);\nconst closedSymbols = previousSymbols.filter(s => !currentSymbols.has(s));\nconst fillAlerts = [];\n\nif (closedSymbols.length > 0) {\n  console.log(`[TRAIL v1.7] Detected ${closedSymbols.length} closed position(s): ${closedSymbols.join(', ')}`);\n  let recentFills = [];\n  try { recentFills = await alp.call(this, 'GET', '/v2/account/activities/FILL?direction=desc&page_size=50'); } catch (_) {}\n  for (const sym of closedSymbols) {\n    const prev = state.knownPositions[sym];\n    const entry = prev.entry || 0; const qty = prev.qty || 0; const side = prev.side || 'long';\n    const exitFill = recentFills.find(f => f.symbol === sym && (f.side === 'sell' || f.side === 'buy') && f.side !== (side === 'long' ? 'buy' : 'sell'));\n    const exitPrice = exitFill ? parseFloat(exitFill.price) : 0;\n    const exitTime = exitFill ? exitFill.transaction_time : '';\n\n    // v1.7.1: Fill dedup — build a unique key from symbol + fill ID + timestamp\n    // If we've already processed this exact fill, skip it entirely.\n    const _fillId = exitFill ? exitFill.id : '';\n    const _dedupKey = sym + '_' + (_fillId || exitTime || Date.now());\n    if (state._processedFills[_dedupKey]) {\n      console.log(`[TRAIL v1.7.1] DEDUP: skipping already-processed fill for ${sym} (key=${_dedupKey.substring(0, 30)})`);\n      delete state.trailState[sym]; delete state.scaledOut[sym];\n      continue;\n    }\n    state._processedFills[_dedupKey] = Date.now();\n\n    // Prune fill dedup entries older than 24h to prevent unbounded growth\n    const _fillPruneAge = 24 * 60 * 60 * 1000;\n    for (const k of Object.keys(state._processedFills)) {\n      if (Date.now() - state._processedFills[k] > _fillPruneAge) delete state._processedFills[k];\n    }\n\n    const exitTimeET = exitTime ? new Date(exitTime).toLocaleTimeString('en-US', { timeZone: 'America/New_York', hour: 'numeric', minute: '2-digit', hour12: true }) : '?';\n    const isLong = side === 'long';\n    const pnl = isLong ? (exitPrice - entry) * Math.abs(qty) : (entry - exitPrice) * Math.abs(qty);\n    const pnlPct = entry > 0 ? ((exitPrice - entry) / entry * 100 * (isLong ? 1 : -1)) : 0;\n    const pnlSign = pnl >= 0 ? '+' : ''; const icon = pnl >= 0 ? '✅' : '🔴';\n    const tierInfo = state.trailState[sym] ? `Tier ${state.trailState[sym].tier}` : 'Initial stop';\n    const msg = `${icon} <b>POSITION CLOSED — ${sym}</b>\n${side.toUpperCase()} ${Math.abs(qty)} shares\nEntry: $${entry.toFixed(2)} → Exit: $${exitPrice.toFixed(2)} at ${exitTimeET}\n<b>P&L: ${pnlSign}$${pnl.toFixed(2)} (${pnlSign}${pnlPct.toFixed(1)}%)</b>\nStop tier at exit: ${tierInfo}`;\n    await tg.call(this, msg);\n    // v1.9: Subscriber notification for position close (stop-loss fill)\n    const _subCloseMsg = `${icon} <b>${sym} — POSITION CLOSED</b>\\n` +\n      `${side.toUpperCase()} ${Math.abs(qty)} shares\\n` +\n      `Entry: $${entry.toFixed(2)} → Exit: $${exitPrice.toFixed(2)}\\n` +\n      `<b>P&L: ${pnlSign}$${pnl.toFixed(2)} (${pnlSign}${pnlPct.toFixed(1)}%)</b>\\n\\n` +\n      `Quantum Trading System`;\n    await tgChannel.call(this, _subCloseMsg);\n    fillAlerts.push({ type: 'FILL_DETECTED', sym, side, qty: Math.abs(qty), entry, exit: exitPrice, pnl: r2(pnl), pnlPct: r2(pnlPct), exitTime: exitTimeET });\n    delete state.trailState[sym]; delete state.scaledOut[sym];\n    console.log(`[TRAIL v1.7.1] ${sym}: closed — P&L ${pnlSign}$${pnl.toFixed(2)}, state cleaned, fill deduped`);\n  }\n}\n\nstate.knownPositions = {};\nfor (const p of (positions || [])) {\n  state.knownPositions[p.symbol] = { entry: parseFloat(p.avg_entry_price), qty: parseFloat(p.qty), side: parseFloat(p.qty) >= 0 ? 'long' : 'short', price: parseFloat(p.current_price) };\n}\n\nif (!positions || positions.length === 0) {\n  console.log('[TRAIL v1.7] No open positions.');\n  if (fillAlerts.length > 0) return fillAlerts.map(a => ({ json: a }));\n  return [{ json: { message: 'No open positions', fills: fillAlerts.length } }];\n}\n\n// QTP_TSM_HELD_BRACKET_STOP_VISIBILITY_v4.2.6\n// Fetching status=all is required because Alpaca exposes held bracket/OCO stop legs\n// only under nested parent order history for some symbols. Never count stale canceled,\n// expired, rejected, or filled stop orders as protection.\nconst QTP_ACTIVE_STOP_STATUSES_v426 = ['new', 'accepted', 'pending_new', 'held', 'partially_filled'];\nconst stopMap = {};\nfor (const o of orders) {\n  const _type = String(o.type || o.order_type || '').toLowerCase();\n  const _status = String(o.status || '').toLowerCase();\n  if (['stop', 'stop_limit', 'trailing_stop'].includes(_type) && QTP_ACTIVE_STOP_STATUSES_v426.includes(_status)) {\n    stopMap[o.symbol] = { orderId: o.id, stopPrice: parseFloat(o.stop_price || 0), type: _type, side: o.side, status: _status };\n  }\n}\n\nconst openOrderMap = {};\nfor (const o of orders) {\n  if (!openOrderMap[o.symbol]) openOrderMap[o.symbol] = [];\n  openOrderMap[o.symbol].push({\n    orderId: o.id,\n    clientOrderId: o.client_order_id,\n    type: o.type,\n    side: o.side,\n    status: o.status,\n    qty: parseFloat(o.qty || 0),\n    filledQty: parseFloat(o.filled_qty || 0),\n    limitPrice: o.limit_price ? parseFloat(o.limit_price) : null,\n    stopPrice: o.stop_price ? parseFloat(o.stop_price) : null,\n    createdAt: o.created_at,\n    orderClass: o.order_class || o.orderClass || null,\n    legs: Array.isArray(o.legs) ? o.legs : []\n  });\n\n  // QTP_NESTED_BRACKET_LEG_CANCEL_v4.2.16\n  // Alpaca bracket parents can be status=filled while active take-profit/stop-loss\n  // legs reserve shares as nested orders. If we close a failed scalp carryover,\n  // those nested leg IDs must be cancelable candidates; otherwise the market close\n  // gets 403 insufficient qty available.\n  for (const leg of (Array.isArray(o.legs) ? o.legs : [])) {\n    const legSym = leg.symbol || o.symbol;\n    if (!legSym) continue;\n    if (!openOrderMap[legSym]) openOrderMap[legSym] = [];\n    openOrderMap[legSym].push({\n      orderId: leg.id,\n      clientOrderId: leg.client_order_id,\n      type: leg.type,\n      side: leg.side,\n      status: leg.status,\n      qty: parseFloat(leg.qty || 0),\n      filledQty: parseFloat(leg.filled_qty || 0),\n      limitPrice: leg.limit_price ? parseFloat(leg.limit_price) : null,\n      stopPrice: leg.stop_price ? parseFloat(leg.stop_price) : null,\n      createdAt: leg.created_at || o.created_at,\n      orderClass: leg.order_class || o.order_class || o.orderClass || null,\n      parentOrderId: o.id,\n      isNestedLeg: true,\n      qtpVersion: 'QTP_NESTED_BRACKET_LEG_CANCEL_v4.2.16_20260514'\n    });\n  }\n}\n\n\n\n// QTP_SCALP_EOD_CLOSE_GUARD v4.2.11 — additive end-of-day scalp guard + explicit scalp-to-swing conversion gate.\n// Default: same-day scalp positions close near EOD. Overnight carry is allowed only if SCALP_TO_SWING_CONVERSION proves every criterion.\n// Safety: fail-closed to EOD close on missing Supabase data, weak evidence, unresolved order-event mismatch, or unprotected risk state.\nif (!state.qtpScalpEodClosed) state.qtpScalpEodClosed = {};\nif (!state.qtpScalpSwingApproved) state.qtpScalpSwingApproved = {};\nconst QTP_SCALP_EOD_ENABLED = String($vars.QTP_SCALP_EOD_CLOSE_ENABLED ?? 'true').toLowerCase() !== 'false';\nconst QTP_SCALP_EOD_START_MIN = Number($vars.QTP_SCALP_EOD_START_MIN || 930); // QTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706 FIX 2c: 15:30 ET so the guard gets 2 runs (was 945)\nconst QTP_SCALP_EOD_END_MIN = Number($vars.QTP_SCALP_EOD_END_MIN || 959);     // 15:59 ET\nconst _qtpTodayET = _tsmETDate.toISOString().slice(0, 10);\nconst _qtpScalpEodWindow = QTP_SCALP_EOD_ENABLED && _tsmMarketOpen && _tsmETMins >= QTP_SCALP_EOD_START_MIN && _tsmETMins <= QTP_SCALP_EOD_END_MIN;\n\nfunction _qtpOrderDateET(o) {\n  try { return new Date(o.filled_at || o.submitted_at || o.created_at || '').toLocaleDateString('en-CA', { timeZone: 'America/New_York' }); } catch (_) { return ''; }\n}\nfunction _qtpSameDayFilledBracketEntry(sym) {\n  return (orders || []).find(o =>\n    String(o.symbol || '').toUpperCase() === sym &&\n    String(o.status || '').toLowerCase() === 'filled' &&\n    String(o.order_class || '').toLowerCase() === 'bracket' &&\n    String(o.type || '').toLowerCase() === 'market' &&\n    _qtpOrderDateET(o) === _qtpTodayET\n  );\n}\nfunction _qtpSqlEsc(v) { return String(v ?? '').replace(/'/g, \"''\"); }\nfunction _qtpNum(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\nfunction _qtpUpper(v) { return String(v ?? '').trim().toUpperCase(); }\n\n\n\n// QTP_SUPABASE_TRAILING_STOP_MANAGER_v4.2.1\n// Preloaded by Query Supabase TSM Context. This replaces the old Supabase inline lookup for scalp-to-swing conversion.\nconst _qtpTsmContextRows = $input.all().map(i => i.json || {});\nconst _qtpTsmContextBySymbolDate = {};\nconst _qtpTsmContextBySymbol = {};\nfor (const row of _qtpTsmContextRows) {\n  const sym = String(row.symbol || '').toUpperCase();\n  const day = String(row.event_date || '').slice(0, 10);\n  if (sym && day) _qtpTsmContextBySymbolDate[`${sym}:${day}`] = row;\n  if (sym) _qtpTsmContextBySymbol[sym] = row;\n}\nfunction _qtpSupabaseFirst(sym, eventDay) {\n  const s = String(sym || '').toUpperCase();\n  const d = String(eventDay || '').slice(0, 10);\n  return _qtpTsmContextBySymbolDate[`${s}:${d}`] || _qtpTsmContextBySymbol[s] || {};\n}\n\n\nasync function _qtpScalpToSwingConversion(sym, pos, entryOrder) {\n  const qty = parseFloat(pos.qty || 0);\n  const isLong = qty > 0;\n  const entry = parseFloat(pos.avg_entry_price || entryOrder.filled_avg_price || 0);\n  const current = parseFloat(pos.current_price || 0);\n  const eventDay = String(entryOrder.filled_at || new Date().toISOString()).slice(0, 10);\n  const r = _qtpSupabaseFirst(sym, eventDay);\n  if (!r || Object.keys(r).length === 0) {\n    return { allow: false, reasons: ['supabase_check_missing:' + sym], data: {} };\n  }\n\n  const bias = _qtpNum(r.bias_score);\n  const aiConf = _qtpNum(r.ai_confidence);\n  const sample = _qtpNum(r.backtest_sample);\n  const pf = _qtpNum(r.backtest_pf);\n  const protectedQty = _qtpNum(r.protected_qty);\n  const vwap = _qtpNum(r.vwap);\n  const sma50 = _qtpNum(r.sma50);\n  const ema200 = _qtpNum(r.ema200);\n  const cross = _qtpUpper(r.cross_asset);\n  const aiPass = String(r.ai_guard_pass ?? '').toLowerCase() === 'true';\n  const riskProtected = _qtpUpper(r.protection_status) === 'FULLY_PROTECTED' && String(r.blocks_new_entries).toLowerCase() !== 'true' && protectedQty !== null && protectedQty >= Math.abs(qty);\n  const filledLogged = Number(r.filled_logged || 0) > 0;\n  const noMismatch = filledLogged; // If Supabase has not logged the filled state, overnight conversion is not allowed.\n  const biasPass = bias !== null && bias >= 75;\n  const aiPassStrict = aiConf !== null && aiConf >= 80 && aiPass;\n  const crossPass = cross.includes('ALIGNED') || cross.includes('STRONG') || cross.includes('CONFIRMED');\n  const green = isLong ? current >= entry : current <= entry;\n  const trendPass = green || (isLong && ((vwap !== null && current >= vwap) || (sma50 !== null && current >= sma50) || (ema200 !== null && current >= ema200))) || (!isLong && ((vwap !== null && current <= vwap) || (sma50 !== null && current <= sma50) || (ema200 !== null && current <= ema200)));\n  const backtestPass = sample !== null && sample >= 100 && pf !== null && pf >= 1.2;\n\n  const checks = { biasPass, aiPassStrict, crossPass, trendPass, backtestPass, riskProtected, noMismatch };\n  const reasons = [];\n  if (!biasPass) reasons.push(`bias ${bias ?? 'N/A'} < 75`);\n  if (!aiPassStrict) reasons.push(`ai_conf ${aiConf ?? 'N/A'} < 80 or ai_guard_pass=${aiPass}`);\n  if (!crossPass) reasons.push(`cross_asset ${cross || 'N/A'} not ALIGNED/STRONG/CONFIRMED`);\n  if (!trendPass) reasons.push(`not green and not above trend refs current=${current} entry=${entry} vwap=${vwap ?? 'N/A'} sma50=${sma50 ?? 'N/A'} ema200=${ema200 ?? 'N/A'}`);\n  if (!backtestPass) reasons.push(`backtest sample=${sample ?? 'N/A'} pf=${pf ?? 'N/A'} fails sample>=100 pf>=1.2`);\n  if (!riskProtected) reasons.push(`risk not fully protected status=${r.protection_status || 'N/A'} protected_qty=${r.protected_qty || 'N/A'} blocks=${r.blocks_new_entries || 'N/A'}`);\n  if (!noMismatch) reasons.push('Supabase FILLED order_event missing');\n\n  return { allow: Object.values(checks).every(Boolean), reasons, data: { ...r, current, entry, checks } };\n}\n\nconst qtpScalpEodActions = [];\nif (_qtpScalpEodWindow) {\n  for (const pos of positions) {\n    const sym = String(pos.symbol || '').toUpperCase();\n    const qty = Math.abs(parseFloat(pos.qty || 0));\n    if (!sym || !qty) continue;\n    const dedup = `${_qtpTodayET}_${sym}`;\n    if (state.qtpScalpEodClosed[dedup]) continue;\n    const entryOrder = _qtpSameDayFilledBracketEntry(sym);\n    if (!entryOrder) continue;\n\n    const conversion = await _qtpScalpToSwingConversion.call(this, sym, pos, entryOrder);\n    if (conversion.allow) {\n      state.qtpScalpSwingApproved[dedup] = { ts: new Date().toISOString(), version: 'QTP_SCALP_TO_SWING_CONVERSION_v4.2.11_20260513', data: conversion.data };\n      const msg = `✅ <b>SCALP→SWING APPROVED — ${sym}</b>\n${qty} shares may carry overnight.\nRules passed: bias>=75, AI>=80, cross-asset confirmed, trend/green, backtest>=100/PF>=1.2, fully protected, FILLED audit present.\nQuantum Trading System`;\n      await tg.call(this, msg);\n      qtpScalpEodActions.push({ type: 'SCALP_TO_SWING_CONVERSION_APPROVED', sym, qty, version: 'QTP_SCALP_TO_SWING_CONVERSION_v4.2.11_20260513', data: conversion.data });\n      continue;\n    }\n\n    const side = parseFloat(pos.qty || 0) > 0 ? 'sell' : 'buy';\n    const existing = openOrderMap[sym] || [];\n    let cancelled = 0;\n    let cancelFailed = 0;\n    try {\n      for (const o of existing) {\n        const st = String(o.status || '').toLowerCase();\n        if (['new','accepted','pending_new','held','partially_filled','pending_replace'].includes(st)) {\n          try { await alp.call(this, 'DELETE', '/v2/orders/' + o.orderId); cancelled++; }\n          catch (e) { cancelFailed++; console.warn(`[QTP EOD SCALP v4.2.9] ${sym}: cancel failed ${o.orderId}: ${e.message}`); }\n        }\n      }\n      // QTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706 — FIX 2a: port of v4.2.16 nested-leg cancel onto\n      // the same-day EOD close path. Held bracket child legs reserve shares and caused Alpaca 403\n      // on F and HWM. Re-fetch fresh nested orders for the symbol, cancel every cancelable\n      // parent/child, wait ~2s, then submit the market close.\n      const _eodCancelLegs = async () => {\n        let n = 0;\n        try {\n          const _fresh = await alp.call(this, 'GET', '/v2/orders?status=all&limit=200&direction=desc&nested=true&symbols=' + encodeURIComponent(sym));\n          for (const fo of (_fresh || [])) {\n            for (const cand of [fo, ...(Array.isArray(fo.legs) ? fo.legs : [])]) {\n              const cst = String(cand.status || '').toLowerCase();\n              if (cand.id && ['new','accepted','pending_new','held','partially_filled','pending_replace'].includes(cst)) {\n                try { await alp.call(this, 'DELETE', '/v2/orders/' + cand.id); n++; }\n                catch (e) { console.warn(`[QTP EOD v4.3.0] ${sym}: leg cancel failed ${cand.id}: ${e.message}`); }\n              }\n            }\n          }\n        } catch (e) { console.warn(`[QTP EOD v4.3.0] ${sym}: fresh leg-cancel fetch failed: ${e.message}`); }\n        return n;\n      };\n      cancelled += await _eodCancelLegs();\n      await new Promise(r => setTimeout(r, 2000));\n      // FIX 2b: on 403 (legs still reserving shares), re-run the leg cancel and retry the close ONCE.\n      let closeResp;\n      try {\n        closeResp = await retryAlp(this, 'POST', '/v2/orders', { symbol: sym, qty: String(qty), side, type: 'market', time_in_force: 'day' });\n      } catch (e) {\n        const _is403 = String(e.message || '').includes('403') || /insufficient/i.test(String(e.message || ''));\n        if (!_is403) throw e;\n        console.warn(`[QTP EOD v4.3.0] ${sym}: close got 403 — re-running leg cancel and retrying once`);\n        cancelled += await _eodCancelLegs();\n        await new Promise(r => setTimeout(r, 2000));\n        closeResp = await retryAlp(this, 'POST', '/v2/orders', { symbol: sym, qty: String(qty), side, type: 'market', time_in_force: 'day' });\n      }\n      state.qtpScalpEodClosed[dedup] = { ts: new Date().toISOString(), qty, side, entryOrderId: entryOrder.id, closeOrderId: closeResp && closeResp.id, conversionDenied: conversion.reasons };\n      const msg = `⏰ <b>SCALP EOD CLOSE SUBMITTED — ${sym}</b>\n${side.toUpperCase()} ${qty} shares | same-day scalp bracket entry\nCancelled open exit orders: ${cancelled} | cancel failures: ${cancelFailed}\nReason: SCALP_TO_SWING_CONVERSION failed: ${conversion.reasons.join('; ').slice(0, 700)}\nQuantum Trading System`;\n      await tg.call(this, msg);\n      await tgChannel.call(this, msg);\n      qtpScalpEodActions.push({ type: 'SCALP_EOD_CLOSE_SUBMITTED', sym, qty, side, cancelled, cancelFailed, closeOrderId: closeResp && closeResp.id, conversionDenied: conversion.reasons, version: 'QTP_SCALP_EOD_CLOSE_GUARD_v4.2.11_20260513' });\n    } catch (e) {\n      qtpScalpEodActions.push({ type: 'SCALP_EOD_CLOSE_ERROR', sym, qty, side, error: e.message, conversionDenied: conversion.reasons, version: 'QTP_SCALP_EOD_CLOSE_GUARD_v4.2.11_20260513' });\n      console.error(`[QTP EOD SCALP v4.2.9] ${sym}: close failed`, e.message);\n    }\n  }\n}\n\n\n// QTP_SCALP_CARRYOVER_CLOSE_GUARD v4.2.15 — close missed prior-session scalp carryovers safely.\n// Scope: prior regular-session bracket entries only, proven by Supabase as Broad Scanner 5/15m scalp.\n// Safety:\n// - Does not touch same-day scalps handled by QTP_SCALP_EOD_CLOSE_GUARD.\n// - Does not touch older swing/legacy positions.\n// - Runs regular hours only after 10:00 ET to avoid opening volatility.\n// - Reuses SCALP_TO_SWING_CONVERSION. If conversion passes, hold. If conversion fails, cancel exits then submit market close.\n// - Fail-safe: if Supabase cannot prove the position is a prior-session scalp, skip.\nif (!state.qtpScalpCarryoverClosed) state.qtpScalpCarryoverClosed = {};\nif (!state.qtpScalpCarryoverSkipped) state.qtpScalpCarryoverSkipped = {};\nconst QTP_SCALP_CARRYOVER_ENABLED = String($vars.QTP_SCALP_CARRYOVER_CLOSE_ENABLED ?? 'true').toLowerCase() !== 'false';\nconst QTP_SCALP_CARRYOVER_START_MIN = Number($vars.QTP_SCALP_CARRYOVER_START_MIN || 600); // 10:00 ET\nconst QTP_SCALP_CARRYOVER_END_MIN = Number($vars.QTP_SCALP_CARRYOVER_END_MIN || 930);     // QTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706: stop before widened same-day EOD guard (was 945)\nconst QTP_ORPHAN_FLATTEN_ENABLED = true; // QTP_TSM_ORPHAN_FLATTEN_v4.3.2_20260707 kill switch - set false to disable orphan carryover flatten\nconst _qtpCarryoverWindow = QTP_SCALP_CARRYOVER_ENABLED && _tsmMarketOpen && _tsmETMins >= QTP_SCALP_CARRYOVER_START_MIN && _tsmETMins < QTP_SCALP_CARRYOVER_END_MIN;\n\nfunction _qtpPriorSessionDateET() {\n  const d = new Date(_tsmETDate);\n  const day = d.getDay();\n  d.setDate(d.getDate() - (day === 1 ? 3 : 1));\n  return d.toISOString().slice(0, 10);\n}\nconst _qtpPriorSessionET = _qtpPriorSessionDateET();\n\nfunction _qtpPriorSessionFilledBracketEntry(sym) {\n  return (orders || []).find(o =>\n    String(o.symbol || '').toUpperCase() === sym &&\n    String(o.status || '').toLowerCase() === 'filled' &&\n    String(o.order_class || '').toLowerCase() === 'bracket' &&\n    String(o.type || '').toLowerCase() === 'market' &&\n    _qtpOrderDateET(o) === _qtpPriorSessionET\n  );\n}\n\nasync function _qtpCarryoverScalpProof(sym, eventDay) {\n  const r = _qtpSupabaseFirst(sym, eventDay);\n  const rows = Number(r.scalp_rows || 0);\n  const tf = String(r.timeframe || '');\n  const alert = _qtpUpper(r.alert_type);\n  return {\n    ok: rows > 0 && (alert.includes('BROAD_SCANNER') || ['5','15'].includes(tf)),\n    rows,\n    data: r\n  };\n}\n\n\n// QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709 — REACHABILITY FIX helpers.\n// v4.3.2 nested the orphan test inside the (!proof.ok) branch, itself reached only after\n// `if (!entryOrder) continue` where entryOrder = _qtpPriorSessionFilledBracketEntry (an\n// EXACTLY-one-session-old filled bracket market entry). Multi-day carryovers (e.g. F: short,\n// open since 2026-07-06, protected solely by a qtp_sl_recovery_ stop) never yield a\n// prior-session entryOrder, so the loop `continue`d out BEFORE the orphan test — making\n// orphan-flatten unreachable for precisely the recovery-stop-only carryovers it targets.\n// Fix: hoist orphan evaluation into a helper invoked ABOVE the entry gate, for ANY carryover\n// (NOT a same-day entry). Organic-stop swings (AFL/CDNS/LDOS: non-recovery client_order_id)\n// return isOrphan=false and stay exempt. All protection semantics preserved.\nconst _QTP_ORPHAN_ACTIVE_ST = ['new','accepted','pending_new','held','partially_filled','pending_replace'];\nfunction _qtpOrphanStops(sym) {\n  const isStop = (o) => ['stop','stop_limit','trailing_stop'].includes(String(o.type || '').toLowerCase());\n  const isRecoveryCid = (cid) => String(cid || '').startsWith('qtp_sl_recovery_') || String(cid || '').startsWith('qtp_widestop_');\n  const active = (openOrderMap[sym] || []).filter(o => isStop(o) && _QTP_ORPHAN_ACTIVE_ST.includes(String(o.status || '').toLowerCase()));\n  const recovery = active.filter(o => isRecoveryCid(o.clientOrderId));\n  return { active, recovery, isOrphan: active.length > 0 && recovery.length === active.length };\n}\nfunction _qtpHasTodayOpeningFill(sym, isLong) {\n  const openSide = isLong ? 'buy' : 'sell';\n  return (orders || []).some(o =>\n    String(o.symbol || '').toUpperCase() === String(sym || '').toUpperCase() &&\n    String(o.status || '').toLowerCase() === 'filled' &&\n    String(o.side || '').toLowerCase() === openSide &&\n    _qtpOrderDateET(o) === _qtpTodayET\n  );\n}\nasync function _qtpTryOrphanFlatten(pos, dedup) {\n  const sym = String(pos.symbol || '').toUpperCase();\n  const qty = Math.abs(parseFloat(pos.qty || 0));\n  if (!sym || !qty) return false;\n  const _of = _qtpOrphanStops(sym);\n  const _ofPaper = String(BASE || '').includes('paper-api.alpaca.markets');\n  // Safety gates (unchanged from v4.3.2): kill switch, orphan criterion (ALL active protective\n  // stops recovery-placed), market-open, paper endpoint. Enclosing carryover window still applies.\n  if (!(QTP_ORPHAN_FLATTEN_ENABLED && _of.isOrphan && _tsmMarketOpen && _ofPaper)) return false;\n  const side = parseFloat(pos.qty || 0) > 0 ? 'sell' : 'buy';\n  const entry = parseFloat(pos.avg_entry_price || 0);\n  // QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709 PROFIT GUARD: an in-profit recovery-stop-only\n  // carryover is SPARED (kept on its existing protective stop, allowed to run); only\n  // non-profit orphans (genuinely un-managed losers) are flattened below.\n  const _uPlpc = Number(pos.unrealized_plpc); const _uPl = Number(pos.unrealized_pl);\n  if ((Number.isFinite(_uPlpc) && _uPlpc > 0) || (Number.isFinite(_uPl) && _uPl > 0)) {\n    qtpScalpEodActions.push({ type: 'ORPHAN_SPARED_IN_PROFIT', sym, side, unrealized_pl: _uPl, unrealized_plpc: _uPlpc, note: 'recovery-stop-only carryover in profit — kept on protective stop, not flattened', version: 'QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709' });\n    return false; // in profit — spare, do NOT flatten\n  }\n  const cancelledStops = _of.recovery.map(o => ({ orderId: o.orderId, clientOrderId: o.clientOrderId }));\n  try {\n    const _ofCancelLegs = async () => {\n      let n = 0;\n      try {\n        const _fresh = await alp.call(this, 'GET', '/v2/orders?status=all&limit=200&direction=desc&nested=true&symbols=' + encodeURIComponent(sym));\n        for (const fo of (_fresh || [])) {\n          for (const cand of [fo, ...(Array.isArray(fo.legs) ? fo.legs : [])]) {\n            const cst = String(cand.status || '').toLowerCase();\n            if (cand.id && _QTP_ORPHAN_ACTIVE_ST.includes(cst)) {\n              try { await alp.call(this, 'DELETE', '/v2/orders/' + cand.id); n++; }\n              catch (e) { console.warn(`[QTP ORPHAN v4.3.3] ${sym}: leg cancel failed ${cand.id}: ${e.message}`); }\n            }\n          }\n        }\n      } catch (e) { console.warn(`[QTP ORPHAN v4.3.3] ${sym}: fresh leg-cancel fetch failed: ${e.message}`); }\n      return n;\n    };\n    let cancelled = await _ofCancelLegs();\n    await new Promise(r => setTimeout(r, 2000));\n    let closeResp;\n    try {\n      closeResp = await retryAlp(this, 'POST', '/v2/orders', { symbol: sym, qty: String(qty), side, type: 'market', time_in_force: 'day' });\n    } catch (e) {\n      const _is403 = String(e.message || '').includes('403') || /insufficient/i.test(String(e.message || ''));\n      if (!_is403) throw e;\n      console.warn(`[QTP ORPHAN v4.3.3] ${sym}: close got 403 - re-running leg cancel and retrying once`);\n      cancelled += await _ofCancelLegs();\n      await new Promise(r => setTimeout(r, 2000));\n      closeResp = await retryAlp(this, 'POST', '/v2/orders', { symbol: sym, qty: String(qty), side, type: 'market', time_in_force: 'day' });\n    }\n    state.qtpScalpCarryoverClosed[dedup] = { ts: new Date().toISOString(), qty, side, closeOrderId: closeResp && closeResp.id, orphanFlatten: true, cancelledStops, version: 'QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709' };\n    qtpScalpEodActions.push({ type: 'ORPHAN_CARRYOVER_FLATTENED', sym, side, qty, entry, reason: 'recovery-stop-only carryover; no organic exit path', cancelledStops, cancelled, closeOrderId: closeResp && closeResp.id, version: 'QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709' });\n    const msg = `\\u{1F9F9} <b>ORPHAN CARRYOVER FLATTENED - ${sym}</b>\n${side.toUpperCase()} ${qty} shares @ market | entry ${entry}\nReason: recovery-stop-only carryover; no organic exit path\nRecovery stops cancelled: ${cancelledStops.map(s => s.clientOrderId).join(', ').slice(0, 300)}\nClose order: ${closeResp && closeResp.id}\nMode: PAPER ONLY | QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709`;\n    await tg.call(this, msg);\n    await tgChannel.call(this, msg);\n    return true;\n  } catch (e) {\n    qtpScalpEodActions.push({ type: 'ORPHAN_FLATTEN_FAILED_REVIEW_REQUIRED', sym, side, qty, entry, error: e.message, cancelledStops, version: 'QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709' });\n    console.error(`[QTP ORPHAN v4.3.3] ${sym}: flatten failed - REVIEW REQUIRED`, e.message);\n    return true;\n  }\n}\n\nif (_qtpCarryoverWindow) {\n  for (const pos of positions) {\n    const sym = String(pos.symbol || '').toUpperCase();\n    const qty = Math.abs(parseFloat(pos.qty || 0));\n    if (!sym || !qty) continue;\n\n    const dedup = `${_qtpTodayET}_${sym}_carryover`;\n    if (state.qtpScalpCarryoverClosed[dedup] || state.qtpScalpSwingApproved[dedup]) continue;\n\n    // QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709 — hoisted orphan check (reachability fix).\n    // Runs for ANY carryover (a position with NO opening fill today -> not a same-day entry),\n    // BEFORE the prior-session entry gate that previously hid multi-day orphans like F.\n    // _qtpTryOrphanFlatten re-checks all safety gates and only acts on recovery-stop-only\n    // positions; organic-stop swings return false and continue to normal handling below.\n    if (!_qtpHasTodayOpeningFill(sym, parseFloat(pos.qty || 0) > 0)) {\n      if (await _qtpTryOrphanFlatten.call(this, pos, dedup)) continue;\n    }\n\n    const entryOrder = _qtpPriorSessionFilledBracketEntry(sym);\n    if (!entryOrder) continue;\n\n    const eventDay = String(entryOrder.filled_at || entryOrder.submitted_at || '').slice(0, 10);\n    const proof = await _qtpCarryoverScalpProof.call(this, sym, eventDay);\n    if (!proof.ok) {\n      // QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709 — orphan flatten is now evaluated EARLIER\n      // (hoisted above the prior-session entry gate). Retained here as a secondary net for\n      // prior-session carryovers, delegating to the single _qtpTryOrphanFlatten implementation.\n      // Organic-stop positions return false and fall through to the NOT_PROVEN_SCALP skip below.\n      if (await _qtpTryOrphanFlatten.call(this, pos, dedup)) continue;\n      state.qtpScalpCarryoverSkipped[dedup] = { ts: new Date().toISOString(), reason: 'not_proven_prior_session_scalp', proof: proof.data, version: 'QTP_SCALP_CARRYOVER_CLOSE_GUARD_v4.2.15_20260514' };\n      qtpScalpEodActions.push({ type: 'SCALP_CARRYOVER_SKIPPED_NOT_PROVEN_SCALP', sym, qty, proof: proof.data, version: 'QTP_SCALP_CARRYOVER_CLOSE_GUARD_v4.2.15_20260514' });\n      continue;\n    }\n\n    const conversion = await _qtpScalpToSwingConversion.call(this, sym, pos, entryOrder);\n    if (conversion.allow) {\n      state.qtpScalpSwingApproved[dedup] = { ts: new Date().toISOString(), version: 'QTP_SCALP_TO_SWING_CONVERSION_v4.2.15_20260514', data: conversion.data, proof: proof.data };\n      const msg = `✅ <b>SCALP CARRYOVER HOLD APPROVED — ${sym}</b>\n${qty} shares remain protected and may continue overnight.\nRules passed: bias>=75, AI>=80, cross-asset confirmed, trend/green, backtest>=100/PF>=1.2, fully protected, FILLED audit present.\nQuantum Trading System`;\n      await tg.call(this, msg);\n      qtpScalpEodActions.push({ type: 'SCALP_CARRYOVER_HOLD_APPROVED', sym, qty, proof: proof.data, version: 'QTP_SCALP_CARRYOVER_CLOSE_GUARD_v4.2.15_20260514', data: conversion.data });\n      continue;\n    }\n\n    const side = parseFloat(pos.qty || 0) > 0 ? 'sell' : 'buy';\n    const existing = openOrderMap[sym] || [];\n    let cancelled = 0;\n    let cancelFailed = 0;\n    try {\n      for (const o of existing) {\n        const st = String(o.status || '').toLowerCase();\n        if (['new','accepted','pending_new','held','partially_filled','pending_replace'].includes(st)) {\n          try { await alp.call(this, 'DELETE', '/v2/orders/' + o.orderId); cancelled++; }\n          catch (e) { cancelFailed++; console.warn(`[QTP CARRYOVER SCALP v4.2.15] ${sym}: cancel failed ${o.orderId}: ${e.message}`); }\n        }\n      }\n      const closeResp = await retryAlp(this, 'POST', '/v2/orders', { symbol: sym, qty: String(qty), side, type: 'market', time_in_force: 'day' });\n      state.qtpScalpCarryoverClosed[dedup] = { ts: new Date().toISOString(), qty, side, entryOrderId: entryOrder.id, closeOrderId: closeResp && closeResp.id, conversionDenied: conversion.reasons, proof: proof.data };\n      const msg = `⏰ <b>SCALP CARRYOVER CLOSE SUBMITTED — ${sym}</b>\n${side.toUpperCase()} ${qty} shares | prior-session Broad Scanner scalp\nCancelled open exit orders: ${cancelled} | cancel failures: ${cancelFailed}\nReason: SCALP_TO_SWING_CONVERSION failed: ${conversion.reasons.join('; ').slice(0, 700)}\nQuantum Trading System`;\n      await tg.call(this, msg);\n      await tgChannel.call(this, msg);\n      qtpScalpEodActions.push({ type: 'SCALP_CARRYOVER_CLOSE_SUBMITTED', sym, qty, side, cancelled, cancelFailed, closeOrderId: closeResp && closeResp.id, conversionDenied: conversion.reasons, proof: proof.data, version: 'QTP_SCALP_CARRYOVER_CLOSE_GUARD_v4.2.15_20260514' });\n    } catch (e) {\n      qtpScalpEodActions.push({ type: 'SCALP_CARRYOVER_CLOSE_ERROR', sym, qty, side, error: e.message, conversionDenied: conversion.reasons, proof: proof.data, version: 'QTP_SCALP_CARRYOVER_CLOSE_GUARD_v4.2.15_20260514' });\n      console.error(`[QTP CARRYOVER SCALP v4.2.15] ${sym}: close failed`, e.message);\n    }\n  }\n}\n\n\n// QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709 — read-only reachability diagnostic.\n// Outside the carryover action window (or when the market is closed) NO orders are placed, but\n// orphan-eligible carryovers are still surfaced so operators and post-close verification can\n// confirm the orphan branch now SEES them (e.g. F). Pure read; no Alpaca writes.\nif (!_qtpCarryoverWindow) {\n  for (const pos of (positions || [])) {\n    const sym = String(pos.symbol || '').toUpperCase();\n    if (!sym) continue;\n    if (_qtpHasTodayOpeningFill(sym, parseFloat(pos.qty || 0) > 0)) continue;\n    const _od = _qtpOrphanStops(sym);\n    if (_od.isOrphan) {\n      qtpScalpEodActions.push({\n        type: 'ORPHAN_ELIGIBLE_WINDOW_CLOSED',\n        sym,\n        side: parseFloat(pos.qty || 0) > 0 ? 'long' : 'short',\n        qty: Math.abs(parseFloat(pos.qty || 0)),\n        entry: parseFloat(pos.avg_entry_price || 0),\n        activeStops: _od.active.length,\n        recoveryStops: _od.recovery.length,\n        recoveryClientOrderIds: _od.recovery.map(o => o.clientOrderId),\n        marketOpen: _tsmMarketOpen,\n        carryoverWindow: _qtpCarryoverWindow,\n        note: 'orphan-reachable; flatten deferred until carryover window + market open',\n        version: 'QTP_TSM_ORPHAN_FLATTEN_v4.3.4_20260709'\n      });\n      console.log(`[QTP ORPHAN v4.3.3] ${sym}: ORPHAN_ELIGIBLE_WINDOW_CLOSED (reachability diagnostic)`);\n    }\n  }\n}\n\nconst symbols = positions.map(p => p.symbol).join(',');\nlet barsData = {};\ntry {\n  const resp = await alp.call(this, 'GET', `/v2/stocks/bars?symbols=${symbols}&timeframe=1Day&limit=20&feed=sip`, null, 'data');\n  barsData = resp.bars || {};\n} catch (e) { console.warn('[TRAIL v1.7] Bars fetch failed, using 2% proxy ATR:', e.message); }\n\nfunction calcATR(bars) {\n  if (!bars || bars.length < 2) return null;\n  let sum = 0;\n  for (let i = 1; i < bars.length; i++) {\n    const h = bars[i].h, l = bars[i].l, pc = bars[i - 1].c;\n    sum += Math.max(h - l, Math.abs(h - pc), Math.abs(l - pc));\n  }\n  return sum / (bars.length - 1);\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// v1.6 AUTO-SEED + LEGACY UPGRADE\n// ═══════════════════════════════════════════════════════════════════════════\nconst autoSeeded = [];\n\nif (SCALE_OUT_MODE) {\n  for (const pos of positions) {\n    const sym = pos.symbol;\n    const entry = parseFloat(pos.avg_entry_price);\n    const current = parseFloat(pos.current_price);\n    const qty = parseFloat(pos.qty);\n    const isLong = qty > 0;\n    const absQty = Math.abs(qty);\n\n    if (state.scaledOut[sym]) {\n      if (state.scaledOut[sym].retroactive && !state.scaledOut[sym].autoSeeded) {\n        state.scaledOut[sym].autoSeeded = true;\n        console.log(`[TRAIL v1.7] UPGRADE: ${sym} legacy retro-seed -> marked autoSeeded for 50% T2 sell`);\n      }\n      continue;\n    }\n\n    const bars = barsData[sym];\n    let atr = calcATR(bars);\n    if (!atr || atr <= 0) atr = entry * 0.02;\n\n    const t1 = isLong ? entry + 1.5 * atr : entry - 1.5 * atr;\n    const pastT1 = isLong ? current >= t1 : current <= t1;\n\n    if (pastT1) {\n      const halfQty = Math.floor(absQty / 2);\n      state.scaledOut[sym] = { qty: halfQty, price: current, time: new Date().toISOString(), autoSeeded: true };\n      if (!state.trailState[sym] || state.trailState[sym].tier < 1) {\n        state.trailState[sym] = { tier: 1, lastStopSet: isLong ? r2(entry - 0.05) : r2(entry + 0.05) };\n      }\n      autoSeeded.push(sym);\n      console.log(`[TRAIL v1.7] AUTO-SEED: ${sym} past T1 ($${r2(t1)}) without scaledOut -> seeded (${halfQty}sh synthetic)`);\n    }\n  }\n  if (autoSeeded.length > 0) {\n    await tg.call(this, `🔧 <b>AUTO-SEED — ${autoSeeded.length} position(s)</b>\n${autoSeeded.join(', ')} were past Tier 1 without scale-out state.\nSeeded as \"Tier 1 done\" — Tier 2 exit (sell ~50%) now armed.\n<i>Trail Manager v1.6 auto-seed</i>`);\n  }\n}\n\nconst orphanedScaleOut = Object.keys(state.scaledOut).filter(s => !currentSymbols.has(s) && !state.scaledOut[s].tier2Done);\nfor (const orphan of orphanedScaleOut) { console.log(`[TRAIL v1.7] AUDIT: removing orphaned scaledOut for ${orphan}`); delete state.scaledOut[orphan]; }\nconst orphanedTrail = Object.keys(state.trailState).filter(s => !currentSymbols.has(s));\nfor (const orphan of orphanedTrail) { console.log(`[TRAIL v1.7] AUDIT: removing orphaned trailState for ${orphan}`); delete state.trailState[orphan]; }\n\nconst actions = [];\nconst skipped = [];\n\nfor (const pos of positions) {\n  const sym = pos.symbol;\n  const entry = parseFloat(pos.avg_entry_price);\n  const current = parseFloat(pos.current_price);\n  const qty = parseFloat(pos.qty);\n  const isLong = qty > 0;\n  const absQty = Math.abs(qty);\n\n  const existingStop = stopMap[sym];\n  if (!existingStop) {\n    const bars = barsData[sym];\n    let atr_miss = calcATR(bars);\n    if (!atr_miss || atr_miss <= 0) atr_miss = entry * 0.02;\n    let missStop = isLong ? r2(entry - 1.5 * atr_miss) : r2(entry + 1.5 * atr_miss);\n    const missSide = isLong ? 'sell' : 'buy';\n    let stopAdjusted = false;\n    if (isLong && missStop >= current) { missStop = r2(current * 0.97); stopAdjusted = true; }\n    else if (!isLong && missStop <= current) { missStop = r2(current * 1.03); stopAdjusted = true; }\n\n    const openOrdersForSymbol = openOrderMap[sym] || [];\n    const activeExitStatuses = ['new', 'accepted', 'pending_new', 'held', 'partially_filled'];\n    const activeExitOrders = openOrdersForSymbol.filter(o => o.side === missSide && activeExitStatuses.includes(String(o.status || '').toLowerCase()));\n    const pendingCancelExitOrders = openOrdersForSymbol.filter(o => o.side === missSide && String(o.status || '').toLowerCase() === 'pending_cancel');\n    const sameSideExitOrders = activeExitOrders.concat(pendingCancelExitOrders);\n    const activeReservedQty = activeExitOrders.reduce((sum, o) => sum + Math.max(0, (o.qty || 0) - (o.filledQty || 0)), 0);\n    const pendingCancelReservedQty = pendingCancelExitOrders.reduce((sum, o) => sum + Math.max(0, (o.qty || 0) - (o.filledQty || 0)), 0);\n    const blockedByExit = activeReservedQty >= Math.max(0, absQty - 0.0001);\n    const blockedByPendingCancel = pendingCancelReservedQty >= Math.max(0, absQty - 0.0001);\n\n    // QTP_TSM_OCO_AUDIT_FIX_v4.2.5\n    // Alpaca OCO/bracket parents can appear as a sell/buy limit with a nested held stop leg.\n    // If nested stop-leg coverage >= position qty, the position is protected and this\n    // audit workflow must not emit MISSING STOP or request manual review. No orders touched.\n    const nestedStopLegs = [];\n    // v4.2.6: scan all symbol order records because a filled bracket parent may carry\n    // a held stop child while the /open endpoint only exposes the take-profit limit.\n    for (const o of openOrdersForSymbol) {\n      for (const leg of (Array.isArray(o.legs) ? o.legs : [])) {\n        const legType = String(leg.type || leg.order_type || '').toLowerCase();\n        const legSide = String(leg.side || '').toLowerCase();\n        const legStatus = String(leg.status || '').toLowerCase();\n        if (legSide === missSide && ['stop','stop_limit','trailing_stop'].includes(legType) && activeExitStatuses.includes(legStatus)) {\n          nestedStopLegs.push(leg);\n        }\n      }\n    }\n    const nestedProtectedQty = nestedStopLegs.reduce((sum, leg) => sum + Math.max(0, parseFloat(leg.qty || 0) - parseFloat(leg.filled_qty || 0)), 0);\n    if (nestedProtectedQty >= Math.max(0, absQty - 0.0001)) {\n      // QTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706 — FIX 1: stop-width sanity check.\n      // A held/live protective stop leg only counts as protection if its distance from entry\n      // is sane. Absurd bracket stop legs (+4.9% on scalp shorts) previously classified every\n      // position OCO_PROTECTED_AUDIT_SAFE all day (WDAY ran -4.4% unstopped).\n      const MAX_PROTECTIVE_STOP_PCT = 0.012; // 1.2%\n      const _widthStopDistPct = nestedStopLegs.reduce((mx, leg) => {\n        const sp = parseFloat(leg.stop_price || 0);\n        return (Number.isFinite(sp) && sp > 0 && entry > 0) ? Math.max(mx, Math.abs(sp - entry) / entry) : mx;\n      }, 0);\n      if (_widthStopDistPct <= MAX_PROTECTIVE_STOP_PCT) {\n        actions.push({\n          type: 'OCO_PROTECTED_AUDIT_SAFE',\n          sym,\n          side: isLong ? 'long' : 'short',\n          qty: absQty,\n          protectedQty: nestedProtectedQty,\n          nestedStopCount: nestedStopLegs.length,\n          stopDistancePct: Math.round(_widthStopDistPct * 10000) / 10000,\n          action: 'NO_ORDER_PLACED_ALREADY_PROTECTED',\n          version: 'QTP_TSM_HELD_BRACKET_STOP_VISIBILITY_v4.2.6'\n        });\n        skipped.push(sym + ' (nested OCO stop protected)');\n        console.log(`[TSM v4.2.5] ${sym}: nested OCO stop coverage ${nestedProtectedQty}/${absQty}; suppressing false MISSING STOP alert.`);\n        continue;\n      }\n      // Stop leg too wide -> UNPROTECTED_STOP_TOO_WIDE. Cancel the too-wide held leg(s)\n      // (v4.2.16 nested-leg records) then place a tight GTC stop at entry -/+ min(0.9%, 1.5xATR%),\n      // reusing the v5.8 recovery request/dedup primitives. Note: the v5.8 missing-stop recovery\n      // excludes stop-type blockers by design, so this branch performs its own cancel+replace.\n      const _tightPct = Math.min(0.009, (atr_miss && entry > 0) ? (1.5 * atr_miss / entry) : 0.009);\n      const _tightStop = isLong ? r2(entry * (1 - _tightPct)) : r2(entry * (1 + _tightPct));\n      const _wideLegIds = nestedStopLegs.map(l => l.id).filter(Boolean).sort();\n      const _widthHash = qtpRecoveryHash(`${sym}|${missSide}|${absQty}|${_tightStop}|${_wideLegIds.join('|')}`);\n      const _widthKey = `stop_too_wide_recovery:${sym}:${_widthHash}`;\n      const _widthPaper = String(BASE || '').includes('paper-api.alpaca.markets');\n      const _widthRecent = Date.now() - (state._stopRecoveryDedup[_widthKey] || 0) < 15 * 60 * 1000;\n      let _widthResult = null;\n      if (AUDIT_SAFE_MISSING_STOP_ONLY) {\n        _widthResult = { type: 'STOP_TOO_WIDE_AUDIT_ONLY', sym };\n      } else if (!QTP_STOP_RECOVERY_ENABLED) {\n        _widthResult = { type: 'STOP_TOO_WIDE_SKIPPED_RECOVERY_DISABLED', sym };\n      } else if (!_widthPaper) {\n        _widthResult = { type: 'STOP_TOO_WIDE_SKIPPED_NON_PAPER_ENDPOINT', sym, base: BASE };\n      } else if (!_tsmMarketOpen) {\n        _widthResult = { type: 'STOP_TOO_WIDE_SKIPPED_MARKET_CLOSED', sym };\n      } else if (_widthRecent) {\n        _widthResult = { type: 'STOP_TOO_WIDE_SKIPPED_DEDUP', sym, recoveryKey: _widthKey };\n      } else {\n        state._stopRecoveryDedup[_widthKey] = Date.now();\n        const _widthCancelled = [];\n        const _widthErrors = [];\n        try {\n          for (const legId of _wideLegIds) {\n            try { await alp.call(this, 'DELETE', '/v2/orders/' + legId); _widthCancelled.push(legId); }\n            catch (e) { _widthErrors.push({ orderId: legId, error: e.message }); }\n          }\n          await new Promise(r => setTimeout(r, 2000));\n          const stopResp = await retryAlp(this, 'POST', '/v2/orders', {\n            symbol: sym, qty: String(absQty), side: missSide,\n            type: 'stop', stop_price: String(_tightStop), time_in_force: 'gtc',\n            client_order_id: `qtp_widestop_${sym.toLowerCase()}_${_widthHash}`.slice(0, 48)\n          });\n          state.trailState[sym] = { tier: 0, lastStopSet: _tightStop, recovered: true, recoveryKey: _widthKey, recoveredAt: new Date().toISOString() };\n          _widthResult = { type: 'STOP_TOO_WIDE_REPLACED_WITH_TIGHT_STOP', sym, cancelled: _widthCancelled, cancelErrors: _widthErrors, stopPrice: _tightStop, stopOrderId: stopResp && stopResp.id, recoveryKey: _widthKey, idempotency_key: _widthKey };\n          await tg.call(this, `🛡️ <b>STOP TOO WIDE — REPLACED — ${sym}</b>\n${isLong ? 'LONG' : 'SHORT'} ${absQty} shares\nHeld stop leg was ${(Math.round(_widthStopDistPct * 10000) / 100).toFixed(2)}% from entry (max ${(MAX_PROTECTIVE_STOP_PCT * 100).toFixed(1)}%)\nCancelled leg(s): ${_widthCancelled.length} | New GTC stop: <b>${missSide.toUpperCase()} ${absQty} @ $${_tightStop}</b>\nMode: PAPER ONLY | QTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706`);\n        } catch (e) {\n          _widthResult = { type: 'STOP_TOO_WIDE_RECOVERY_FAILED_REVIEW_REQUIRED', sym, error: e.message, cancelled: _widthCancelled, cancelErrors: _widthErrors, recoveryKey: _widthKey };\n          state._stopRecoveryDedup[_widthKey] = Date.now() - (13 * 60 * 1000);\n          await tg.call(this, `⚠️ <b>STOP TOO WIDE — RECOVERY FAILED — ${sym}</b>\n${e.message}\nCancelled: ${_widthCancelled.length} | POSITION MAY BE UNPROTECTED — review now.\nQTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706`);\n        }\n      }\n      actions.push({\n        type: 'UNPROTECTED_STOP_TOO_WIDE',\n        sym,\n        side: isLong ? 'long' : 'short',\n        qty: absQty,\n        entry,\n        current,\n        stopDistancePct: Math.round(_widthStopDistPct * 10000) / 10000,\n        maxAllowedPct: MAX_PROTECTIVE_STOP_PCT,\n        proposedStop: _tightStop,\n        nestedStopCount: nestedStopLegs.length,\n        recovery: _widthResult,\n        requiresManualReview: !(_widthResult && _widthResult.type === 'STOP_TOO_WIDE_REPLACED_WITH_TIGHT_STOP'),\n        version: 'QTP_TSM_STOPWIDTH_EOD403_v4.3.0_20260706'\n      });\n      skipped.push(sym + ' (stop too wide: ' + (_widthResult ? _widthResult.type : 'n/a') + ')');\n      console.warn(`[QTP v4.3.0] ${sym}: held stop leg ${_widthStopDistPct} from entry exceeds ${MAX_PROTECTIVE_STOP_PCT}; result=${_widthResult ? _widthResult.type : 'n/a'}`);\n      continue;\n    }\n\n    const classification = blockedByExit\n      ? 'UNPROTECTED_BLOCKED_BY_LIMIT_EXIT'\n      : (blockedByPendingCancel\n        ? 'UNPROTECTED_BLOCKED_BY_PENDING_CANCEL'\n        : (!_tsmMarketOpen ? 'UNPROTECTED_MARKET_CLOSED_AUDIT_ONLY' : 'UNPROTECTED_AUDIT_ONLY'));\n\n    const auditEvent = {\n      type: 'MISSING_STOP_AUDIT',\n      sym,\n      classification,\n      side: isLong ? 'long' : 'short',\n      qty: absQty,\n      entry,\n      current,\n      proposedStop: missStop,\n      stopSide: missSide,\n      atr: r2(atr_miss),\n      adjusted: stopAdjusted,\n      marketOpen: _tsmMarketOpen,\n      blockingOrders: sameSideExitOrders.map(o => ({\n        orderId: o.orderId,\n        type: o.type,\n        side: o.side,\n        status: o.status,\n        qty: o.qty,\n        filledQty: o.filledQty,\n        limitPrice: o.limitPrice,\n        createdAt: o.createdAt\n      })),\n      action: 'NO_ORDER_PLACED_AUDIT_SAFE',\n      requiresManualReview: true\n    };\n\n    // QTP_STOP_LOSS_RECOVERY_v5.8_20260518\n    // Convert the previous alert-only branch into a safe paper-only cancel/replace recovery.\n    // This branch is intentionally narrow: only blocked-by-limit exits, regular market hours,\n    // paper Alpaca endpoint, and no duplicate recovery key in recent state.\n    let recoveryResult = null;\n    // QTP_TSM_NAKED_RECOVERY_v4.3.1_20260707: fully-naked positions (UNPROTECTED_AUDIT_ONLY —\n    // no stop leg, no blocking exit) previously had NO handler and sat CRITICAL, tripping\n    // blocks_new_entries and freezing the whole book via the Risk Gate (F/HWM 2026-07-07).\n    // Same recovery machinery: zero blockers to cancel, straight to GTC stop placement.\n    if (QTP_STOP_RECOVERY_ENABLED && (classification === 'UNPROTECTED_BLOCKED_BY_LIMIT_EXIT' || classification === 'UNPROTECTED_AUDIT_ONLY')) {\n      const paperOnly = String(BASE || '').includes('paper-api.alpaca.markets');\n      const recoveryBlockers = activeExitOrders.filter(o => qtpIsActiveOrderStatus(o.status) && !qtpIsStopType(o.type) && qtpOpenQty(o) > 0);\n      const blockerSig = recoveryBlockers.map(o => `${o.orderId}:${o.status}:${qtpOpenQty(o)}`).sort().join('|');\n      const recoveryHash = qtpRecoveryHash(`${sym}|${missSide}|${absQty}|${missStop}|${blockerSig}`);\n      const recoveryKey = `blocked_stop_recovery:${sym}:${recoveryHash}`;\n      const lastRecovery = state._stopRecoveryDedup[recoveryKey] || 0;\n      const recentRecovery = Date.now() - lastRecovery < 15 * 60 * 1000;\n\n      if (!paperOnly) {\n        recoveryResult = { type: 'STOP_RECOVERY_SKIPPED_NON_PAPER_ENDPOINT', sym, base: BASE, version: QTP_STOP_RECOVERY_VERSION };\n      } else if (!_tsmMarketOpen) {\n        recoveryResult = { type: 'STOP_RECOVERY_SKIPPED_MARKET_CLOSED', sym, version: QTP_STOP_RECOVERY_VERSION };\n      } else if (recentRecovery) {\n        recoveryResult = { type: 'STOP_RECOVERY_SKIPPED_DEDUP', sym, recoveryKey, version: QTP_STOP_RECOVERY_VERSION };\n      } else if (recoveryBlockers.length === 0 && classification === 'UNPROTECTED_BLOCKED_BY_LIMIT_EXIT') { // v4.3.1: naked positions proceed with zero cancels\n        recoveryResult = { type: 'STOP_RECOVERY_SKIPPED_NO_CANCELABLE_BLOCKER', sym, version: QTP_STOP_RECOVERY_VERSION };\n      } else {\n        state._stopRecoveryDedup[recoveryKey] = Date.now();\n        const clientOrderId = `qtp_sl_recovery_${sym.toLowerCase()}_${recoveryHash}`.slice(0, 48);\n        const cancelled = [];\n        const cancelErrors = [];\n        try {\n          for (const o of recoveryBlockers) {\n            try {\n              await alp.call(this, 'DELETE', '/v2/orders/' + o.orderId);\n              cancelled.push(o.orderId);\n              await new Promise(r => setTimeout(r, 300));\n            } catch (e) {\n              cancelErrors.push({ orderId: o.orderId, error: e.message });\n            }\n          }\n\n          if (cancelErrors.length > 0) throw new Error('cancel_blocker_failed: ' + JSON.stringify(cancelErrors).slice(0, 500));\n\n          await new Promise(r => setTimeout(r, 900));\n          let posNow = null;\n          try { posNow = await alp.call(this, 'GET', '/v2/positions/' + encodeURIComponent(sym)); } catch (_) { posNow = null; }\n          const qtyNow = posNow ? Math.abs(parseFloat(posNow.qty || 0)) : 0;\n          if (!Number.isFinite(qtyNow) || qtyNow <= 0) {\n            recoveryResult = { type: 'STOP_RECOVERY_POSITION_CLOSED_AFTER_CANCEL', sym, cancelled, recoveryKey, version: QTP_STOP_RECOVERY_VERSION };\n          } else {\n            const refreshedOrders = await alp.call(this, 'GET', '/v2/orders?status=all&limit=500&direction=desc&nested=true');\n            const refreshedForSym = (refreshedOrders || []).filter(o => o.symbol === sym);\n            const refreshedActiveStop = refreshedForSym.find(o =>\n              String(o.side || '').toLowerCase() === missSide &&\n              qtpIsStopType(o.type) &&\n              qtpIsActiveOrderStatus(o.status) &&\n              Math.max(0, (parseFloat(o.qty || 0) || 0) - (parseFloat(o.filled_qty || 0) || 0)) >= Math.max(0, qtyNow - 0.0001)\n            );\n            if (refreshedActiveStop) {\n              recoveryResult = { type: 'STOP_RECOVERY_ALREADY_PROTECTED_AFTER_REFRESH', sym, stopOrderId: refreshedActiveStop.id, cancelled, recoveryKey, version: QTP_STOP_RECOVERY_VERSION };\n            } else {\n              const safeStop = isLong ? Math.min(missStop, r2(current * 0.995)) : Math.max(missStop, r2(current * 1.005));\n              const stopResp = await retryAlp(this, 'POST', '/v2/orders', {\n                symbol: sym,\n                qty: String(qtyNow),\n                side: missSide,\n                type: 'stop',\n                stop_price: String(safeStop),\n                time_in_force: 'gtc',\n                client_order_id: clientOrderId\n              });\n              state.trailState[sym] = { tier: 0, lastStopSet: safeStop, recovered: true, recoveryKey, recoveredAt: new Date().toISOString() };\n              recoveryResult = {\n                type: 'STOP_RECOVERY_REPLACED_BLOCKING_LIMIT_WITH_STOP',\n                sym,\n                side: isLong ? 'long' : 'short',\n                qty: qtyNow,\n                stopSide: missSide,\n                stopPrice: safeStop,\n                cancelled,\n                stopOrderId: stopResp && stopResp.id,\n                clientOrderId,\n                recoveryKey,\n                idempotency_key: recoveryKey,\n                l12_fill_dedup_untouched: true,\n                version: QTP_STOP_RECOVERY_VERSION\n              };\n            }\n          }\n        } catch (e) {\n          recoveryResult = { type: 'STOP_RECOVERY_FAILED_REVIEW_REQUIRED', sym, error: e.message, cancelled, cancelErrors, recoveryKey, idempotency_key: recoveryKey, version: QTP_STOP_RECOVERY_VERSION };\n          // Allow retry after 2 minutes if this attempt failed before a confirmed stop.\n          state._stopRecoveryDedup[recoveryKey] = Date.now() - (13 * 60 * 1000);\n        }\n      }\n    }\n\n    if (recoveryResult && recoveryResult.type === 'STOP_RECOVERY_REPLACED_BLOCKING_LIMIT_WITH_STOP') {\n      auditEvent.action = 'AUTO_RECOVERY_CANCEL_REPLACE_STOP_PLACED';\n      auditEvent.requiresManualReview = false;\n      auditEvent.recovery = recoveryResult;\n      actions.push(auditEvent);\n      actions.push(recoveryResult);\n      skipped.push(sym + ' (blocked stop auto-recovered)');\n      await tg.call(this, `🛡️ <b>STOP LOSS RECOVERY — ${sym}</b>\n${isLong ? 'LONG' : 'SHORT'} ${recoveryResult.qty} shares\nCancelled blocking exit order(s): ${recoveryResult.cancelled.length}\nNew paper stop: <b>${recoveryResult.stopSide.toUpperCase()} ${recoveryResult.qty} @ $${recoveryResult.stopPrice}</b>\nOrder: ${recoveryResult.stopOrderId || recoveryResult.clientOrderId}\nMode: PAPER ONLY | ${QTP_STOP_RECOVERY_VERSION}`);\n      console.warn(`[${QTP_STOP_RECOVERY_VERSION}] ${sym}: recovered blocked stop; stop=${recoveryResult.stopPrice}; order=${recoveryResult.stopOrderId}`);\n      continue;\n    }\n\n    actions.push(auditEvent);\n    if (recoveryResult) actions.push(recoveryResult);\n    skipped.push(sym + ' (' + classification + ')');\n    console.warn(`[TSM v2.1 AUDIT-SAFE] ${sym}: ${classification}; recovery=${recoveryResult ? recoveryResult.type : 'not_attempted'}; proposed stop $${missStop}; blockingOrders=${sameSideExitOrders.length}; pendingCancel=${pendingCancelExitOrders.length}`);\n\n    const alertKey = `${sym}:${classification}:${Math.round(absQty * 10000) / 10000}:${missStop}:${recoveryResult ? recoveryResult.type : 'NO_RECOVERY'}`;\n    if (state._missingStopAlerted[sym] !== alertKey) {\n      state._missingStopAlerted[sym] = alertKey;\n      const blockers = sameSideExitOrders.length\n        ? sameSideExitOrders.map(o => `${o.side} ${o.type} ${o.qty} @ ${o.limitPrice || 'n/a'} (${o.status})`).join('; ')\n        : 'none detected';\n      await tg.call(this, `⚠️ <b>MISSING STOP — RECOVERY REVIEW</b>\n${sym}: ${isLong ? 'LONG' : 'SHORT'} ${absQty} shares\nEntry: $${entry.toFixed(2)} | Current: $${current.toFixed(2)}\nProposed stop: $${missStop.toFixed(2)} (${stopAdjusted ? 'adjusted' : '1.5×ATR'})\nClassification: <b>${classification}</b>\nBlocking exit orders: ${blockers}\nRecovery result: <b>${recoveryResult ? recoveryResult.type : 'NOT_ATTEMPTED'}</b>\nAction taken: <b>${recoveryResult && recoveryResult.type.includes('SKIPPED') ? 'NO ORDER PLACED' : 'REVIEW REQUIRED'}</b>\nMode: PAPER ONLY | ${QTP_STOP_RECOVERY_VERSION}`);\n    }\n    continue;\n  }\n\n  if (existingStop.type === 'trailing_stop') { skipped.push(sym + ' (native trail)'); continue; }\n\n  const bars = barsData[sym];\n  let atr = calcATR(bars);\n  if (!atr || atr <= 0) atr = entry * 0.02;\n\n  if (!state.trailState[sym]) { state.trailState[sym] = { tier: 0, lastStopSet: existingStop.stopPrice }; }\n  const ts = state.trailState[sym];\n\n  const BUF = 0.05;\n  const t1_trigger = isLong ? entry + 1.5 * atr : entry - 1.5 * atr;\n  const t1_stop = isLong ? r2(entry - BUF) : r2(entry + BUF);\n  const t2_scaleout_trigger = isLong ? entry + 2.5 * atr : entry - 2.5 * atr;\n  const t2_trigger = isLong ? entry + 3.0 * atr : entry - 3.0 * atr;\n  const t2_stop = isLong ? r2(entry + 1.5 * atr) : r2(entry - 1.5 * atr);\n  const t3_trigger = isLong ? entry + 4.5 * atr : entry - 4.5 * atr;\n  const t3_stop = isLong ? r2(entry + 3.0 * atr) : r2(entry - 3.0 * atr);\n\n  let newTier = ts.tier;\n  let newStop = null;\n  if (isLong) {\n    if (current >= t3_trigger && ts.tier < 3) { newTier = 3; newStop = t3_stop; }\n    else if (current >= t2_trigger && ts.tier < 2) { newTier = 2; newStop = t2_stop; }\n    else if (current >= t1_trigger && ts.tier < 1) { newTier = 1; newStop = t1_stop; }\n  } else {\n    if (current <= t3_trigger && ts.tier < 3) { newTier = 3; newStop = t3_stop; }\n    else if (current <= t2_trigger && ts.tier < 2) { newTier = 2; newStop = t2_stop; }\n    else if (current <= t1_trigger && ts.tier < 1) { newTier = 1; newStop = t1_stop; }\n  }\n\n  // v1.8: SCALE-OUT CHECK — runs independently of tier transitions.\n  // Fixes bug where auto-seeded positions at max tier never get their\n  // scale-out sell because the tier transition block is never entered.\n  if (SCALE_OUT_MODE && state.scaledOut[sym] && !state.scaledOut[sym].tier2Done) {\n    const _t2s_trigger = isLong ? entry + 2.5 * atr : entry - 2.5 * atr;\n    const _t2s_hit = isLong ? current >= _t2s_trigger : current <= _t2s_trigger;\n    if (_t2s_hit) {\n      const _soSide = isLong ? 'sell' : 'buy';\n      const _wasAuto = state.scaledOut[sym].autoSeeded;\n      let _soQty;\n      if (_wasAuto) {\n        _soQty = Math.floor(absQty / 2);\n        if (_soQty < 1) _soQty = absQty;\n      } else {\n        _soQty = absQty;\n      }\n      try {\n        // TSM_CONFIRMED_FILL_NOTIFY_PATCH_20260504\n        // Safety: catch-up scale-outs must not queue market orders before regular open,\n        // must not duplicate while a closing order is already open, and subscriber\n        // \"sold/profit locked\" messages require confirmed Alpaca filled_qty > 0.\n        if (!_tsmMarketOpen) {\n          console.log('[TSM v2.2] ' + sym + ': Market closed — skipping catch-up scale-out');\n          actions.push({ type: 'CATCH_UP_SCALE_OUT_SKIPPED_MARKET_CLOSED', sym, qty: _soQty, entry, current });\n          continue;\n        }\n        const _existingCatchupExit = (openOrderMap[sym] || []).find(o =>\n          o.side === _soSide && ['new','accepted','pending_new','partially_filled'].includes(String(o.status || '').toLowerCase())\n        );\n        if (_existingCatchupExit) {\n          console.log('[TSM v2.2] ' + sym + ': existing closing order open — skipping duplicate catch-up scale-out');\n          actions.push({ type: 'CATCH_UP_SCALE_OUT_SKIPPED_EXISTING_CLOSE_ORDER', sym, orderId: _existingCatchupExit.orderId, status: _existingCatchupExit.status });\n          continue;\n        }\n        // Cancel existing stop first to free shares\n        if (existingStop) {\n          try { await alp.call(this, 'DELETE', '/v2/orders/' + existingStop.orderId); } catch(_) {}\n          await new Promise(r => setTimeout(r, 300));\n        }\n        const _soOrder = await retryAlp(this, 'POST', '/v2/orders', {\n          symbol: sym, qty: String(_soQty), side: _soSide,\n          type: 'market', time_in_force: 'day'\n        });\n        await new Promise(r => setTimeout(r, 1200));\n        let _soOrderNow = _soOrder || {};\n        try {\n          if (_soOrder && _soOrder.id) _soOrderNow = await alp.call(this, 'GET', '/v2/orders/' + _soOrder.id);\n        } catch (_) {}\n        const _soFilledQty = parseFloat(_soOrderNow.filled_qty || 0);\n        const _soFillAvg = parseFloat(_soOrderNow.filled_avg_price || current || 0);\n        const _soConfirmedFill = Number.isFinite(_soFilledQty) && _soFilledQty > 0;\n        const _soBanked = isLong ? (_soFillAvg - entry) * (_soConfirmedFill ? _soFilledQty : _soQty) : (entry - _soFillAvg) * (_soConfirmedFill ? _soFilledQty : _soQty);\n        if (_wasAuto && _soQty < absQty) {\n          // First real sell — keep rest trailing\n          const _soRemain = absQty - _soQty;\n          if (_soConfirmedFill) {\n            state.scaledOut[sym].autoSeeded = false;\n            state.scaledOut[sym].qty = _soFilledQty;\n            state.scaledOut[sym].price = _soFillAvg;\n            state.scaledOut[sym].realT1Time = new Date().toISOString();\n            console.log('[TRAIL v2.2] ' + sym + ': SCALE OUT confirmed — filled ' + _soFilledQty + '/' + _soQty + ' @ ~$' + _soFillAvg);\n            await tg.call(this, '💰 <b>SCALE OUT — ' + sym + '</b>\\nFilled ' + _soFilledQty + ' of ' + absQty + ' shares at ~$' + _soFillAvg.toFixed(2) + '\\n<b>Banked: ~$' + _soBanked.toFixed(2) + '</b>\\nRemaining target: ' + _soRemain + ' shares — trailing\\n\\n<i>Scale-Out v2.2 — confirmed fill</i>');\n          } else {\n            console.log('[TRAIL v2.2] ' + sym + ': catch-up scale-out submitted but not filled yet — suppressing sold/profit Telegram');\n          }\n          // Place new stop for target remaining qty. Existing pending market order reserves the scale-out qty.\n          try {\n            const _soStop = isLong ? r2(entry - 0.05) : r2(entry + 0.05);\n            await retryAlp(this, 'POST', '/v2/orders', {\n              symbol: sym, qty: String(_soRemain), side: _soSide === 'sell' ? 'sell' : 'buy',\n              type: 'stop', stop_price: String(_soStop), time_in_force: 'gtc'\n            });\n          } catch(_) {}\n          actions.push({ type: _soConfirmedFill ? 'CATCH_UP_SCALE_OUT_CONFIRMED' : 'CATCH_UP_SCALE_OUT_SUBMITTED_AWAITING_FILL', sym, requestedQty: _soQty, filledQty: _soFilledQty, remainQty: _soRemain, banked: _soConfirmedFill ? r2(_soBanked) : 0, entry, current, fillAvg: _soConfirmedFill ? _soFillAvg : null });\n          // v2.2: Subscriber notification only for confirmed fill quantity\n          if (_soConfirmedFill) await tgChannel.call(this, '💰 <b>' + sym + ' — PARTIAL SELL</b>\\nFilled ' + _soFilledQty + ' shares at ~$' + _soFillAvg.toFixed(2) + '\\nProfit locked: ~$' + _soBanked.toFixed(2) + '\\nRemaining target: ' + _soRemain + ' shares — trailing stop active\\n\\nQuantum Trading System');\n        } else {\n          // Full exit\n          if (_soConfirmedFill) {\n            state.scaledOut[sym].tier2Done = true;\n            state.scaledOut[sym].tier2Price = _soFillAvg;\n            state.scaledOut[sym].tier2Time = new Date().toISOString();\n            console.log('[TRAIL v2.2] ' + sym + ': FULL EXIT confirmed — filled ' + _soFilledQty + '/' + _soQty + ' @ ~$' + _soFillAvg);\n            await tg.call(this, '🏁 <b>FULL EXIT — ' + sym + '</b>\\nFilled ' + _soFilledQty + ' shares at ~$' + _soFillAvg.toFixed(2) + '\\n<b>P&L: ~$' + _soBanked.toFixed(2) + '</b>\\n\\n<i>Scale-Out v2.2 — confirmed fill</i>');\n            actions.push({ type: 'CATCH_UP_FULL_EXIT_CONFIRMED', sym, requestedQty: _soQty, filledQty: _soFilledQty, banked: r2(_soBanked), entry, current, fillAvg: _soFillAvg });\n            await tgChannel.call(this, '🏁 <b>' + sym + ' — POSITION EXIT FILL</b>\\nFilled ' + _soFilledQty + ' shares at ~$' + _soFillAvg.toFixed(2) + '\\n<b>Total P&L: ~$' + _soBanked.toFixed(2) + '</b>\\n\\nQuantum Trading System');\n          } else {\n            console.log('[TRAIL v2.2] ' + sym + ': full-exit market order submitted but not filled yet — suppressing sold/profit Telegram');\n            actions.push({ type: 'CATCH_UP_FULL_EXIT_SUBMITTED_AWAITING_FILL', sym, requestedQty: _soQty, filledQty: 0, entry, current });\n          }\n        }\n        if (state._stopFailures) delete state._stopFailures[sym];\n        continue; // Done with this position\n      } catch (soErr) {\n        console.error('[TRAIL v1.8] ' + sym + ': catch-up scale-out FAILED: ' + soErr.message);\n      }\n    }\n  }\n\n  if (!newStop || newTier === ts.tier) continue;\n\n  try {\n    // v2.0: Block stop adjustments outside market hours\n    if (!_tsmMarketOpen) {\n      console.log('[TSM v2.0] ' + sym + ': Market closed — skipping stop adjustment');\n      continue;\n    }\n    // v1.7: Cancel-Retry-Rollback — no unprotected window\n    // Step 1: Cancel old stop\n    try {\n      await alp.call(this, 'DELETE', '/v2/orders/' + existingStop.orderId);\n      console.log(`[TRAIL v1.7] ${sym}: cancelled old stop ${existingStop.orderId}`);\n    } catch (cancelErr) {\n      // If cancel fails, position still has old stop — safe, just skip this cycle\n      console.warn(`[TRAIL v1.7] ${sym}: cancel failed (${cancelErr.message}) — old stop intact, skipping`);\n      continue;\n    }\n    await new Promise(r => setTimeout(r, 300));\n\n    let remainQty = absQty;\n    let scaledThisRun = false;\n\n    // TIER 1 SCALE-OUT\n    if (SCALE_OUT_MODE && newTier === 1 && !state.scaledOut[sym]) {\n      const sellQty = Math.floor(absQty / 2);\n      if (absQty <= 3) {\n        state.scaledOut[sym] = { qty: 0, price: current, time: new Date().toISOString(), singleShare: true };\n        console.log(`[TRAIL v1.7] ${sym}: small position (${absQty}sh) — skip Tier 1 sell, breakeven + Tier 2`);\n        await tg.call(this, `🛡️ <b>TIER 1 — ${sym} (${absQty}sh)</b>\nSmall position — skip scale-out, stop raised to breakeven $${newStop.toFixed(2)}\nFull exit at Tier 2 (entry + 2.5×ATR = $${r2(isLong ? entry + 2.5*atr : entry - 2.5*atr).toFixed(2)})\n<i>Scale-Out v1.6</i>`);\n        actions.push({ type: 'TIER1_SMALL_POS', sym, entry, current, newStop, tier2Target: r2(isLong ? entry + 2.5*atr : entry - 2.5*atr) });\n      }\n      if (sellQty >= 1 && absQty > 3) {\n        const scaleOutSide = isLong ? 'sell' : 'buy';\n        try {\n          await alp.call(this, 'POST', '/v2/orders', { symbol: sym, qty: String(sellQty), side: scaleOutSide, type: 'market', time_in_force: 'day' });\n          remainQty = absQty - sellQty;\n          state.scaledOut[sym] = { qty: sellQty, price: current, time: new Date().toISOString() };\n          scaledThisRun = true;\n          const banked = isLong ? r2((current - entry) * sellQty) : r2((entry - current) * sellQty);\n          console.log(`[TRAIL v1.7] ${sym}: SCALE OUT — sold ${sellQty}/${absQty} @ ~$${current} — banked ~$${banked}`);\n          await tg.call(this, `💰 <b>SCALE OUT — ${sym}</b>\nSold ${sellQty} of ${absQty} shares (50%) at ~$${current.toFixed(2)}\n<b>Banked: ~$${banked.toFixed(2)}</b> (${r2(banked / (entry * sellQty) * 100)}%)\nRemaining: ${remainQty} shares — trailing with stop at $${newStop}\n\n<i>Scale-Out Mode v1.6 — locking profits at Tier 1</i>`);\n          // v1.9: Subscriber notification — scale out\n          const _subScaleMsg = `💰 <b>${sym} — PARTIAL SELL (50%)</b>\\nSold ${sellQty} of ${absQty} shares at ~$${current.toFixed(2)}\\nProfit locked: ~$${banked.toFixed(2)} (${r2(banked / (entry * sellQty) * 100)}%)\\nRemaining: ${remainQty} shares — trailing stop active\\n\\nQuantum Trading System`;\n          try { await tgChannel.call(this, _subScaleMsg); } catch (_) {}\n          actions.push({ type: 'SCALE_OUT', sym, side: isLong ? 'long' : 'short', soldQty: sellQty, remainQty, price: current, banked, entry, tier: newTier });\n        } catch (scaleErr) {\n          console.error(`[TRAIL v1.7] ${sym}: scale-out FAILED: ${scaleErr.message}`);\n          remainQty = absQty;\n        }\n      }\n    }\n\n    // TIER 2 SCALE-OUT (with auto-seed awareness)\n    if (SCALE_OUT_MODE && newTier >= 2 && state.scaledOut[sym] && !state.scaledOut[sym].tier2Done) {\n      const t2ScaleHit = isLong ? current >= t2_scaleout_trigger : current <= t2_scaleout_trigger;\n      if (t2ScaleHit) {\n        const scaleOutSide = isLong ? 'sell' : 'buy';\n        const wasAutoSeeded = state.scaledOut[sym].autoSeeded;\n        let t2SellQty;\n        if (wasAutoSeeded) {\n          t2SellQty = Math.floor(remainQty / 2);\n          if (t2SellQty < 1) t2SellQty = remainQty;\n        } else {\n          t2SellQty = remainQty;\n        }\n        try {\n          await alp.call(this, 'POST', '/v2/orders', { symbol: sym, qty: String(t2SellQty), side: scaleOutSide, type: 'market', time_in_force: 'day' });\n          const t2Banked = isLong ? r2((current - entry) * t2SellQty) : r2((entry - current) * t2SellQty);\n          scaledThisRun = true;\n          if (wasAutoSeeded && t2SellQty < remainQty) {\n            remainQty = remainQty - t2SellQty;\n            state.scaledOut[sym].autoSeeded = false;\n            state.scaledOut[sym].qty = t2SellQty;\n            state.scaledOut[sym].price = current;\n            state.scaledOut[sym].realT1Time = new Date().toISOString();\n            console.log(`[TRAIL v1.7] ${sym}: AUTO-SEED SCALE OUT — sold ${t2SellQty}/${absQty} @ ~$${current} (first real sell)`);\n            await tg.call(this, `💰 <b>SCALE OUT — ${sym} (auto-seeded)</b>\nSold ${t2SellQty} of ${absQty} shares (50%) at ~$${current.toFixed(2)}\n<b>Banked: ~$${t2Banked.toFixed(2)}</b>\nRemaining: ${remainQty} shares — trailing with stop at $${newStop}\n\n<i>Scale-Out v1.6 — catch-up sell (T1 was missed)</i>`);\n            // v1.9: Subscriber notification — scale out (catch-up)\n            const _subCatchMsg = `💰 <b>${sym} — PARTIAL SELL (50%)</b>\\nSold ${t2SellQty} of ${absQty} shares at ~$${current.toFixed(2)}\\nProfit locked: ~$${t2Banked.toFixed(2)}\\nRemaining: ${remainQty} shares — trailing stop active\\n\\nQuantum Trading System`;\n            try { await tgChannel.call(this, _subCatchMsg); } catch (_) {}\n            actions.push({ type: 'AUTO_SEED_SCALE_OUT', sym, side: isLong ? 'long' : 'short', soldQty: t2SellQty, remainQty, price: current, banked: t2Banked, entry, tier: newTier });\n          } else {\n            const t1Banked = state.scaledOut[sym].qty * (isLong ? (state.scaledOut[sym].price - entry) : (entry - state.scaledOut[sym].price));\n            const totalBanked = r2(t1Banked + t2Banked);\n            state.scaledOut[sym].tier2Done = true;\n            state.scaledOut[sym].tier2Price = current;\n            state.scaledOut[sym].tier2Time = new Date().toISOString();\n            remainQty = 0;\n            console.log(`[TRAIL v1.7] ${sym}: FULL EXIT — sold remaining ${t2SellQty}sh @ ~$${current}`);\n            await tg.call(this, `🏁 <b>FULL EXIT — ${sym}</b>\nSold remaining ${t2SellQty} shares at ~$${current.toFixed(2)}\n\n📊 <b>Trade Summary</b>\n  Tier 1: sold ${state.scaledOut[sym].qty}sh @ $${state.scaledOut[sym].price.toFixed(2)}\n  Tier 2: sold ${t2SellQty}sh @ ~$${current.toFixed(2)}\n  Entry:  $${entry.toFixed(2)}\n  <b>Total P&L: ~$${totalBanked.toFixed(2)}</b>\n\n<i>Scale-Out Mode v1.6 — position fully closed</i>`);\n            // v1.9: Subscriber notification — full exit\n            const _subExitMsg = `🏁 <b>${sym} — POSITION FULLY CLOSED</b>\\nAll ${t2SellQty} shares sold at ~$${current.toFixed(2)}\\n<b>Total P&L: ~$${totalBanked.toFixed(2)}</b>\\n\\nQuantum Trading System`;\n            try { await tgChannel.call(this, _subExitMsg); } catch (_) {}\n            actions.push({ type: 'FULL_EXIT', sym, side: isLong ? 'long' : 'short', exitPrice: current, totalBanked, entry, tier1: state.scaledOut[sym], tier: 2 });\n          }\n        } catch (exitErr) { console.error(`[TRAIL v1.7] ${sym}: Tier 2 exit FAILED: ${exitErr.message}`); }\n      }\n    }\n\n    if (remainQty <= 0) { state.trailState[sym] = { tier: newTier, lastStopSet: newStop }; continue; }\n\n    // v1.7: Place new stop with retry + rollback on failure\n    const stopSide = isLong ? 'sell' : 'buy';\n    let newOrder;\n    try {\n      newOrder = await retryAlp(this, 'POST', '/v2/orders', {\n        symbol: sym, qty: String(remainQty), side: stopSide,\n        type: 'stop', stop_price: String(newStop), time_in_force: 'gtc'\n      });\n      console.log(`[TRAIL v1.7] ${sym}: NEW stop at $${newStop} (Tier ${newTier}) qty=${remainQty} order=${newOrder.id}`);\n      state.trailState[sym] = { tier: newTier, lastStopSet: newStop };\n      // Reset failure counter on success\n      if (state._stopFailures) delete state._stopFailures[sym];\n    } catch (placeErr) {\n      // ROLLBACK: new stop failed — reinstate old stop at previous price\n      console.error(`[TRAIL v1.7] ${sym}: NEW stop FAILED after retries: ${placeErr.message}`);\n      console.log(`[TRAIL v1.7] ${sym}: ROLLBACK — reinstating old stop at $${existingStop.stopPrice}`);\n      try {\n        await retryAlp(this, 'POST', '/v2/orders', {\n          symbol: sym, qty: String(remainQty), side: stopSide,\n          type: 'stop', stop_price: String(existingStop.stopPrice), time_in_force: 'gtc'\n        });\n        console.log(`[TRAIL v1.7] ${sym}: ROLLBACK SUCCESS — old stop reinstated at $${existingStop.stopPrice}`);\n      } catch (rollbackErr) {\n        // Both new and rollback failed — position is UNPROTECTED\n        console.error(`[TRAIL v1.7] ${sym}: *** ROLLBACK ALSO FAILED *** — position UNPROTECTED`);\n        // Track failures for circuit breaker\n        if (!state._stopFailures) state._stopFailures = {};\n        state._stopFailures[sym] = (state._stopFailures[sym] || 0) + 1;\n\n        // Circuit breaker: 2+ failures → alert and pause\n        const totalFailures = Object.values(state._stopFailures).reduce((a, b) => a + b, 0);\n        if (totalFailures >= 2) {\n          await tg.call(this,\n            `⛔ <b>STOP REPLACEMENT CIRCUIT BREAKER</b>\\n` +\n            `${sym}: both new stop and rollback FAILED\\n` +\n            `Total stop failures this cycle: ${totalFailures}\\n` +\n            `<b>POSITION MAY BE UNPROTECTED</b>\\n` +\n            `Check Alpaca immediately and place stops manually.\\n` +\n            `<i>Trail Manager v1.7 — stop circuit breaker</i>`\n          );\n        }\n      }\n      actions.push({ sym, tier: newTier, error: 'Stop replacement failed: ' + placeErr.message, rollback: true });\n      continue; // Skip to next position — don't send \"trail raised\" alert for a failed replacement\n    }\n\n    const tierLabels = ['Initial', 'Breakeven + Scale Out', 'Lock +1.5×ATR', 'Lock +3×ATR'];\n    const gain = isLong ? r2(current - entry) : r2(entry - current);\n    const gainPct = r2(gain / entry * 100);\n\n    if (!scaledThisRun) {\n      actions.push({ sym, tier: newTier, tierLabel: tierLabels[newTier], oldStop: existingStop.stopPrice, newStop, entry, current, atr: r2(atr), gain, gainPct });\n    }\n    if (!scaledThisRun) await tg.call(this, `🔄 <b>TRAIL STOP RAISED — ${sym}</b>\nTier ${newTier}: ${tierLabels[newTier]}\nEntry: $${entry.toFixed(2)} → Current: $${current.toFixed(2)} (+${gainPct}%)\nOld stop: $${existingStop.stopPrice.toFixed(2)} → <b>New: $${newStop.toFixed(2)}</b>\nATR: $${r2(atr)} | Gain locked: $${gain.toFixed(2)}/share`);\n\n  } catch (e) {\n    console.error(`[TRAIL v1.7] ${sym}: FAILED to update stop:`, e.message);\n    actions.push({ sym, tier: newTier, error: e.message });\n  }\n}\n\nif (actions.length === 0 && autoSeeded.length === 0) {\n  console.log(`[TRAIL v1.7] No trail adjustments needed. Skipped: ${skipped.join(', ')}`);\n}\n\nconst allResults = [...fillAlerts, ...qtpScalpEodActions, ...actions];\nif (autoSeeded.length > 0) allResults.push({ json: { type: 'AUTO_SEED', symbols: autoSeeded, count: autoSeeded.length } });\nif (__TEST) allResults.push({ json: { type: 'TSM_TEST_REPORT', scenario: 'qtp-tsm-synthetic-v1', writes: __testWrites, telegrams: __testTg, version: 'QTP_TSM_CREDENTIAL_MIGRATION_v2.0_20260710' } });\nreturn allResults.length > 0 ? allResults.map(a => a.json ? a : { json: a }) : [{ json: { message: 'No adjustments or fills', checked: positions.length, skipped, fills: 0, autoSeeded: 0 } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "b45e665d-6e77-4c08-a525-93f74e94246d",
      "name": "Trail Stops",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Quantum Alpaca Fill Activity Monitor — read-only notification patch, 2026-05-01\n// Purpose: send Telegram execution alerts for real Alpaca fills even when fills\n// originate from old stop/risk-recovery orders rather than Main Trading/VC Gate.\n// Safety: read-only against Alpaca. Does not place, cancel, or modify orders.\n\nconst PATCH_STARTED_AT = \"2026-05-01T17:26:51.627819Z\";\nconst QTP_TG_PROXY_URL = 'https://tradenextgen.app.n8n.cloud/webhook/qtp-telegram-proxy-k4p8w'; // v2.1: bot token removed — Telegram credential lives in QTP Telegram Proxy\nconst CHAT = \"6648680513\";\nconst CHANNEL_ID = \"-1003889511940\";\n\n// QTP_TSM_CREDENTIAL_MIGRATION_v2.0_20260710 — reads go through the QTP Alpaca Paper\n// Broker Proxy (named credential Alpaca-PAPER). No embedded keys, no $vars.\nconst QTP_PROXY_URL = 'https://tradenextgen.app.n8n.cloud/webhook/qtp-alpaca-paper-proxy-x9v27';\nconst QTP_PROXY_TOKEN = String((typeof $vars !== 'undefined' && $vars.QTP_PROXY_TOKEN) || ''); // v2.2: rotated to n8n Variable after secret-scanner alert; proxies fail closed on mismatch\n\nconst state = $getWorkflowStaticData('global');\nif (!state._fillActivityMonitorStartedAt) state._fillActivityMonitorStartedAt = PATCH_STARTED_AT;\nif (!state._processedAlpacaActivityFills) state._processedAlpacaActivityFills = {};\nif (!state._processedFills) state._processedFills = {};\n\nconst startedMs = Date.parse(state._fillActivityMonitorStartedAt || PATCH_STARTED_AT);\nconst nowMs = Date.now();\nfor (const key of Object.keys(state._processedAlpacaActivityFills)) {\n  if (nowMs - state._processedAlpacaActivityFills[key] > 7 * 24 * 60 * 60 * 1000) {\n    delete state._processedAlpacaActivityFills[key];\n  }\n}\n\nfunction esc(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\nfunction money(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? '$' + n.toFixed(2) : '?';\n}\n\nfunction qtyFmt(value) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return String(value ?? '?');\n  return Number.isInteger(n) ? String(n) : String(n);\n}\n\nfunction timeET(value) {\n  try {\n    return new Date(value).toLocaleString('en-US', {\n      timeZone: 'America/New_York',\n      month: 'short',\n      day: 'numeric',\n      hour: 'numeric',\n      minute: '2-digit',\n      second: '2-digit',\n      hour12: true,\n    });\n  } catch (_) {\n    return String(value || '?');\n  }\n}\n\nasync function alp(path) {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST', url: QTP_PROXY_URL,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ token: QTP_PROXY_TOKEN, host: 'paper', method: 'GET', path, body: null }),\n    json: true, timeout: 45000,\n  });\n  if (resp && resp.__qtp_proxy_error) {\n    const pe = resp.__qtp_proxy_error;\n    throw new Error('Request failed with status code ' + (pe.status || 'unknown') + (pe.body ? ' - ' + String(pe.body).slice(0, 300) : ''));\n  }\n  if (resp && resp.__qtp_proxy_ok) return resp.data;\n  throw new Error('QTP_PROXY_BAD_RESPONSE: ' + JSON.stringify(resp || {}).slice(0, 200));\n}\n\nasync function tg(chatId, text) {\n  return await this.helpers.httpRequest({\n    method: 'POST',\n    url: QTP_TG_PROXY_URL,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ token: QTP_PROXY_TOKEN, chat_id: chatId, text }),\n    json: true,\n  });\n}\n\n// v2.0: key guard removed — proxy owns authentication via the Alpaca-PAPER credential.\n\nlet fills = [];\ntry {\n  fills = await alp.call(this, '/v2/account/activities/FILL?direction=desc&page_size=100');\n} catch (error) {\n  return [{ json: { type: 'FILL_ACTIVITY_MONITOR_ERROR', error: error.message || String(error) } }];\n}\n\nif (!Array.isArray(fills)) fills = [];\nfills = fills\n  .filter(f => Date.parse(f.transaction_time || f.date || '') >= startedMs)\n  .sort((a, b) => Date.parse(a.transaction_time || a.date || '') - Date.parse(b.transaction_time || b.date || ''));\n\nconst alerts = [];\nconst errors = [];\n\nfor (const fill of fills) {\n  const fillTime = fill.transaction_time || fill.date || '';\n  const fillId = fill.id || '';\n  const dedupKey = fillId || [fill.order_id, fill.symbol, fill.side, fill.qty, fill.price, fillTime].join('|');\n  if (!dedupKey || state._processedAlpacaActivityFills[dedupKey]) continue;\n\n  // Mark every observed fill as processed before notification logic.\n  // This prevents duplicate subscriber alerts for fills already announced by\n  // Trailing Stop Manager's normal scale-out/full-exit logic.\n  state._processedAlpacaActivityFills[dedupKey] = Date.now();\n  if (fill.symbol && fillId) state._processedFills[fill.symbol + '_' + fillId] = Date.now();\n\n  let order = null;\n  if (fill.order_id) {\n    try {\n      order = await alp.call(this, '/v2/orders/' + encodeURIComponent(fill.order_id));\n    } catch (_) {\n      order = null;\n    }\n  }\n\n  const symbol = esc(fill.symbol || order?.symbol || '?');\n  const side = String(fill.side || order?.side || '?').toUpperCase();\n  const status = String(fill.order_status || order?.status || 'fill').toUpperCase();\n  const title = status.includes('PARTIAL') ? 'PARTIAL FILL' : 'ORDER FILLED';\n  const clientOrderId = order?.client_order_id || '';\n  const orderType = order?.type || '';\n  const orderClass = String(order?.order_class || '').toLowerCase();\n  const intent = order?.position_intent || '';\n  let source = 'Alpaca execution';\n  if (clientOrderId.startsWith('risk_recovery_stop_')) source = 'Risk recovery stop';\n  else if (String(intent).toLowerCase().includes('_to_close') && (orderClass === 'oco' || orderClass === 'bracket')) source = 'Protective OCO / bracket close';\n  else if (clientOrderId) source = clientOrderId;\n  else if (orderType) source = orderType + ' order';\n\n  // QTP_PROTECTIVE_CLOSE_FILL_ALERT_v4.2.5.8\n  // Read-only alert expansion: notify final close fills from protective OCO/bracket\n  // legs, not just risk_recovery_stop_* client orders. Partial fills are audited\n  // but not sent to subscribers; the final FILLED event sends one cumulative alert.\n  const isPartialFill = status.includes('PARTIAL');\n  const isFinalFill = ['FILLED', 'DONE_FOR_DAY', 'CLOSED'].includes(status) || (!isPartialFill && Number(order?.filled_qty || 0) > 0);\n  const isRiskRecoveryFill = clientOrderId.startsWith('risk_recovery_stop_');\n  const isClosingIntent = String(intent).toLowerCase().includes('_to_close');\n  const isProtectiveOrderClass = orderClass === 'oco' || orderClass === 'bracket' || clientOrderId.startsWith('qtp-');\n  const shouldAlertFill = isRiskRecoveryFill || (isFinalFill && isClosingIntent && isProtectiveOrderClass);\n  if (!shouldAlertFill) {\n    alerts.push({\n      type: 'FILL_ACTIVITY_SEEN_NO_ALERT',\n      reason: isPartialFill ? 'partial_fill_waiting_for_final' : 'not_close_fill_alert_eligible',\n      symbol: fill.symbol || order?.symbol,\n      side: fill.side || order?.side,\n      qty: fill.qty,\n      price: fill.price,\n      status,\n      order_id: fill.order_id,\n      broker_order_id: fill.order_id,\n      client_order_id: clientOrderId,\n      order_class: orderClass,\n      order_type: orderType,\n      intent,\n      source,\n      filled_qty: order?.filled_qty || fill.cum_qty || fill.qty,\n      filled_avg_price: order?.filled_avg_price || fill.price,\n      fill_id: fillId,\n      transaction_time: fillTime,\n      target_table: 'order_events',\n      supabase_fill_logging_version: 'QTP_ALPACA_FILL_TO_SUPABASE_v4.2.8_20260518',\n      version: 'QTP_PROTECTIVE_CLOSE_FILL_ALERT_v4.2.5.8',\n    });\n    continue;\n  }\n\n  const alertQty = isFinalFill ? (order?.filled_qty || fill.cum_qty || fill.qty) : fill.qty;\n  const alertPrice = order?.filled_avg_price || fill.price;\n  const lineIntent = intent ? '\\nIntent: ' + esc(intent) : '';\n  const lineSource = source ? '\\nSource: ' + esc(source) : '';\n  const message =\n    `✅ <b>${symbol} — ${title}</b>\n` +\n    `${esc(side)} ${qtyFmt(alertQty)} @ ${money(alertPrice)}\n` +\n    `Status: ${esc(status)}${lineIntent}${lineSource}\n` +\n    `Time: ${esc(timeET(fillTime))}\n\n` +\n    `Quantum Trading System`;\n\n  try {\n    await tg.call(this, CHANNEL_ID, message);\n    await tg.call(this, CHAT, message);\n    alerts.push({\n      type: 'FILL_ACTIVITY_NOTIFIED',\n      symbol: fill.symbol || order?.symbol,\n      side: fill.side || order?.side,\n      qty: fill.qty,\n      price: fill.price,\n      status,\n      order_id: fill.order_id,\n      broker_order_id: fill.order_id,\n      client_order_id: clientOrderId,\n      order_class: orderClass,\n      order_type: orderType,\n      intent,\n      source,\n      filled_qty: alertQty,\n      filled_avg_price: alertPrice,\n      fill_id: fillId,\n      transaction_time: fillTime,\n      target_table: 'order_events',\n      supabase_fill_logging_version: 'QTP_ALPACA_FILL_TO_SUPABASE_v4.2.8_20260518',\n    });\n  } catch (error) {\n    errors.push({\n      type: 'FILL_ACTIVITY_TELEGRAM_ERROR',\n      symbol: fill.symbol || order?.symbol,\n      fill_id: fillId,\n      error: error.message || String(error),\n    });\n  }\n}\n\nif (alerts.length || errors.length) {\n  return [...alerts, ...errors].map(json => ({ json }));\n}\n\nreturn [{\n  json: {\n    type: 'FILL_ACTIVITY_MONITOR_OK',\n    message: 'No new Alpaca fills since monitor start',\n    checked_fills: fills.length,\n    started_at: state._fillActivityMonitorStartedAt,\n  }\n}];"
      },
      "id": "alpaca-fill-activity-monitor-20260501",
      "name": "Alpaca Fill Activity Monitor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -160
      ],
      "disabled": false
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// QTP Supabase Trailing Stop Manager context query v4.2.1\n// Read-only context for SCALP_TO_SWING_CONVERSION. Broker/order logic remains in the TSM Code node.\nreturn [{\n  json: {\n    __supabase_query: `\n      WITH params AS (\n        SELECT\n          CURRENT_DATE AS current_session_date,\n          CASE\n            WHEN EXTRACT(ISODOW FROM CURRENT_DATE) = 1 THEN CURRENT_DATE - INTERVAL '3 days'\n            ELSE CURRENT_DATE - INTERVAL '1 day'\n          END::date AS prior_session_date\n      ),\n      event_days AS (\n        SELECT current_session_date AS event_date FROM params\n        UNION\n        SELECT prior_session_date AS event_date FROM params\n      ),\n      latest_risk_time AS (\n        SELECT MAX(observed_at) AS observed_at\n        FROM quantum.position_risk_state\n      ),\n      risk AS (\n        SELECT\n          UPPER(symbol) AS symbol,\n          protection_status,\n          blocks_new_entries::text AS blocks_new_entries,\n          protected_qty::text AS protected_qty\n        FROM quantum.position_risk_state\n        WHERE observed_at = (SELECT observed_at FROM latest_risk_time)\n      ),\n      order_daily AS (\n        SELECT\n          event_ts::date AS event_date,\n          UPPER(symbol) AS symbol,\n          COUNT(*) FILTER (WHERE UPPER(order_status) = 'FILLED')::text AS filled_logged,\n          COUNT(*) FILTER (WHERE UPPER(order_status) IN ('PENDING_NEW','NEW','ACCEPTED','SUBMITTED'))::text AS open_submit_events\n        FROM quantum.order_events\n        WHERE event_ts::date IN (SELECT event_date FROM event_days)\n        GROUP BY event_ts::date, UPPER(symbol)\n      ),\n      latest_payload AS (\n        SELECT DISTINCT ON (event_ts::date, UPPER(symbol))\n          event_ts::date AS event_date,\n          UPPER(symbol) AS symbol,\n          COALESCE(raw_payload->'raw_payload'->>'_bias_filter_score', raw_payload->>'_bias_filter_score') AS bias_score,\n          COALESCE(raw_payload->'raw_payload'->>'_bias_filter_cross_asset', raw_payload->>'_bias_filter_cross_asset') AS cross_asset,\n          COALESCE(raw_payload->'raw_payload'->>'_ai_conflict_guard_confidence', raw_payload->>'_ai_conflict_guard_confidence') AS ai_confidence,\n          COALESCE(raw_payload->'raw_payload'->>'_ai_conflict_guard_pass', raw_payload->>'_ai_conflict_guard_pass') AS ai_guard_pass,\n          COALESCE(raw_payload->'raw_payload'->>'_ai_conflict_guard_reason', raw_payload->>'_ai_conflict_guard_reason') AS ai_guard_reason,\n          COALESCE(raw_payload->'raw_payload'->>'vwap', raw_payload->>'vwap') AS vwap,\n          COALESCE(raw_payload->'raw_payload'->>'sma50', raw_payload->>'sma50') AS sma50,\n          COALESCE(raw_payload->'raw_payload'->>'ema200', raw_payload->>'ema200') AS ema200,\n          COALESCE(raw_payload->'raw_payload'->>'backtest_sample_size', raw_payload->>'backtest_sample_size', raw_payload->'raw_payload'->>'strat_total_trades', raw_payload->>'strat_total_trades') AS backtest_sample,\n          COALESCE(raw_payload->'raw_payload'->>'backtest_profit_factor', raw_payload->>'backtest_profit_factor', raw_payload->'raw_payload'->>'strat_profit_factor', raw_payload->>'strat_profit_factor') AS backtest_pf\n        FROM quantum.order_events\n        WHERE event_ts::date IN (SELECT event_date FROM event_days)\n          AND raw_payload IS NOT NULL\n        ORDER BY event_ts::date, UPPER(symbol), event_ts DESC\n      ),\n      scalp_proof AS (\n        SELECT\n          event_ts::date AS event_date,\n          UPPER(symbol) AS symbol,\n          COUNT(*)::text AS scalp_rows,\n          MAX(event_ts)::text AS latest_event_ts,\n          MAX(COALESCE(raw_payload->'raw_payload'->>'alert_type', raw_payload->>'alert_type')) AS alert_type,\n          MAX(COALESCE(raw_payload->'raw_payload'->>'timeframe', raw_payload->>'timeframe', raw_payload->'raw_payload'->>'tf', raw_payload->>'tf')) AS timeframe,\n          MAX(COALESCE(raw_payload->'raw_payload'->>'execution', raw_payload->>'execution')) AS execution,\n          MAX(COALESCE(raw_payload->'raw_payload'->>'signal', raw_payload->>'signal')) AS signal,\n          MAX(COALESCE(raw_payload->'raw_payload'->>'parser_version', raw_payload->>'parser_version')) AS parser_version\n        FROM quantum.order_events\n        WHERE event_ts::date IN (SELECT event_date FROM event_days)\n          AND UPPER(COALESCE(raw_payload->'raw_payload'->>'execution', raw_payload->>'execution', side)) IN ('BUY','SELL','LONG','SHORT')\n          AND (\n            UPPER(COALESCE(raw_payload->'raw_payload'->>'alert_type', raw_payload->>'alert_type', '')) LIKE '%BROAD_SCANNER%'\n            OR UPPER(COALESCE(raw_payload->'raw_payload'->>'momentum_type', raw_payload->>'momentum_type', '')) LIKE '%SCALP%'\n            OR COALESCE(raw_payload->'raw_payload'->>'timeframe', raw_payload->>'timeframe', raw_payload->'raw_payload'->>'tf', raw_payload->>'tf') IN ('5','15')\n          )\n        GROUP BY event_ts::date, UPPER(symbol)\n      ),\n      keys AS (\n        SELECT symbol, event_date FROM order_daily\n        UNION\n        SELECT symbol, event_date FROM latest_payload\n        UNION\n        SELECT symbol, event_date FROM scalp_proof\n        UNION\n        SELECT r.symbol, d.event_date FROM risk r CROSS JOIN event_days d\n      )\n      SELECT\n        k.event_date::text AS event_date,\n        k.symbol AS symbol,\n        COALESCE(od.filled_logged, '0') AS filled_logged,\n        COALESCE(od.open_submit_events, '0') AS open_submit_events,\n        r.protection_status,\n        r.blocks_new_entries,\n        r.protected_qty,\n        lp.bias_score,\n        lp.cross_asset,\n        lp.ai_confidence,\n        lp.ai_guard_pass,\n        lp.ai_guard_reason,\n        lp.vwap,\n        lp.sma50,\n        lp.ema200,\n        lp.backtest_sample,\n        lp.backtest_pf,\n        COALESCE(sp.scalp_rows, '0') AS scalp_rows,\n        sp.latest_event_ts,\n        sp.alert_type,\n        sp.timeframe,\n        sp.execution,\n        sp.signal,\n        sp.parser_version\n      FROM keys k\n      LEFT JOIN risk r ON r.symbol = k.symbol\n      LEFT JOIN order_daily od ON od.symbol = k.symbol AND od.event_date = k.event_date\n      LEFT JOIN latest_payload lp ON lp.symbol = k.symbol AND lp.event_date = k.event_date\n      LEFT JOIN scalp_proof sp ON sp.symbol = k.symbol AND sp.event_date = k.event_date\n      ORDER BY k.event_date, k.symbol\n    `,\n    migration_version: 'QTP_SUPABASE_TRAILING_STOP_MANAGER_v4.2.1'\n  }\n}];\n"
      },
      "id": "7c8297af-07f8-4f6a-aefe-c543516d82be",
      "name": "Prepare Supabase TSM Context Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.__supabase_query}}",
        "options": {}
      },
      "id": "460775aa-c767-4101-b993-d7ad182b248c",
      "name": "Query Supabase TSM Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// QTP Supabase Trailing Stop Manager audit insert v4.2.1\nconst rows = $input.all().map(i => i.json || {});\nfunction esc(v) { return String(v ?? '').replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").replace(/\\r/g, '\\\\r').replace(/\\n/g, '\\\\n'); }\nfunction s(v) { return `'${esc(v)}'`; }\nfunction safeJson(v) { try { return JSON.stringify(v ?? {}); } catch (_) { return '{}'; } }\nfunction hash32(text) {\n  let h = 2166136261;\n  for (let i = 0; i < text.length; i++) { h ^= text.charCodeAt(i); h = Math.imul(h, 16777619); }\n  return (h >>> 0).toString(16).padStart(8, '0');\n}\nif (!rows.length) {\n  return [{ json: { __supabase_tsm_audit_sql: \"SELECT 'NO_ROWS' AS audit_status;\", migration_version: 'QTP_SUPABASE_TRAILING_STOP_MANAGER_v4.2.1' } }];\n}\nconst values = rows.map((r, idx) => {\n  const sym = String(r.sym || r.symbol || r.ticker || r.asset || 'SYSTEM').toUpperCase();\n  const status = r.error ? 'ERROR' : 'OK';\n  const severity = r.error ? 'WARNING' : 'INFO';\n  const eventType = r.type || r.action || r.message || 'TRAILING_STOP_MANAGER_RUN';\n  const idem = `tsm:${$execution.id || 'manual'}:${idx}:${sym}:${eventType}`;\n  const auditId = `tsm_${hash32(idem)}_${idx}`;\n  const msg = `Trailing Stop Manager ${eventType} ${sym}`;\n  return `(${s(auditId)},NULL,CURRENT_TIMESTAMP,CURRENT_DATE,'system','trailing_stop_manager',${s($workflow.id || 'vFnPjyx8srnzcYgV')},${s($workflow.name || 'Trailing Stop Manager v1.5')},${s(String($execution.id || ''))},NULL,'trailing_stop_manager','TRAILING_STOP_MANAGER',${s(severity)},${s(status)},'position',${s(sym)},${s(msg)},NULL,NULL,${s(safeJson({ ...r, migration_version: 'QTP_SUPABASE_TRAILING_STOP_MANAGER_v4.2.1' }))}::jsonb,NULL,NULL,${s(sym)},${s(idem)},CURRENT_TIMESTAMP)`;\n}).join(',\\n');\nreturn [{\n  json: {\n    __supabase_tsm_audit_sql: `\n      INSERT INTO quantum.audit_trail (\n        audit_id, source_row_id, event_ts, event_date, actor_type, actor_id, workflow_id, workflow_name, run_id, account_id,\n        strategy_id, event_type, event_severity, event_status, entity_type, entity_id, message, before_state, after_state,\n        raw_payload, ip_address, user_agent, correlation_id, idempotency_key, ingested_at\n      ) VALUES ${values};\n      SELECT COUNT(*)::int AS audit_rows_attempted, 'QTP_SUPABASE_TRAILING_STOP_MANAGER_v4.2.1' AS migration_version;\n    `,\n    migration_version: 'QTP_SUPABASE_TRAILING_STOP_MANAGER_v4.2.1'\n  }\n}];\n"
      },
      "id": "0c059219-57fd-4794-9138-3f235fb9bad5",
      "name": "Prepare Supabase TSM Audit SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.__supabase_tsm_audit_sql}}",
        "options": {}
      },
      "id": "c35d4aa4-f7df-4248-9523-76d8e5a23dd2",
      "name": "Query Supabase TSM Audit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// QTP Supabase Trailing Stop Manager result formatter v4.2.1\nconst sourceRows = $('Trail Stops').all().map(i => i.json || {});\nconst auditRows = $input.all().map(i => i.json || {});\nreturn [{\n  json: {\n    ok: true,\n    broker_order_side_effects: sourceRows.some(r => r.type && /SELL|BUY|CLOSE|TRAIL|STOP|FILL/i.test(String(r.type))) ? 'SEE_TRAIL_STOPS_OUTPUT' : 'NONE_OR_READ_ONLY',\n    trail_stop_output_count: sourceRows.length,\n    trail_stop_outputs: sourceRows,\n    supabase_audit_status: 'SUCCEEDED',\n    supabase_audit_rows: auditRows,\n    migration_version: 'QTP_SUPABASE_TRAILING_STOP_MANAGER_v4.2.1',\n    checked_at: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "fe798eb8-7a02-4c3e-841f-0c1d592f50d2",
      "name": "Format Supabase TSM Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// QTP_ALPACA_FILL_TO_SUPABASE_v4.2.8_20260518\n// Converts read-only Alpaca fill activity monitor output into Supabase order_events/trade_log rows.\n// Safety: no Alpaca calls, no order placement, no cancellation, no routing changes.\nfunction upper(v){ return String(v ?? '').toUpperCase(); }\nfunction num(v, d=null){ const n = Number(v); return Number.isFinite(n) ? n : d; }\nfunction first(...vals){ for (const v of vals) if (v !== undefined && v !== null && String(v) !== '') return v; return null; }\nfunction stableHash(s){ let h=2166136261; s=String(s ?? ''); for(let i=0;i<s.length;i++){ h^=s.charCodeAt(i); h=Math.imul(h,16777619); } return (h>>>0).toString(16); }\nconst out=[];\nfor (const item of items) {\n  const j = item.json || {};\n  const type = String(j.type || '');\n  if (!['FILL_ACTIVITY_NOTIFIED','FILL_ACTIVITY_SEEN_NO_ALERT','FILL_ACTIVITY_TELEGRAM_ERROR'].includes(type)) continue;\n  const symbol = upper(first(j.symbol, j.ticker));\n  const orderId = String(first(j.order_id, j.broker_order_id, '') || '');\n  const fillId = String(first(j.fill_id, '') || '');\n  if (!symbol || (!orderId && !fillId)) continue;\n  const ts = first(j.transaction_time, j.event_ts, new Date().toISOString());\n  const side = upper(first(j.side, 'UNKNOWN'));\n  const status = upper(first(j.status, j.order_status, type === 'FILL_ACTIVITY_TELEGRAM_ERROR' ? 'TELEGRAM_ERROR' : 'FILLED'));\n  const qty = num(first(j.filled_qty, j.qty, j.quantity), 0);\n  const px = num(first(j.filled_avg_price, j.price, j.avg_fill_price), 0);\n  const orderType = String(first(j.order_type, 'market')).toLowerCase();\n  const orderClass = String(first(j.order_class, '')).toLowerCase();\n  const source = first(j.source, 'Alpaca fill activity monitor');\n  const base = `alpaca_fill_activity:${fillId || orderId}:${symbol}:${side}:${status}:${ts}`;\n  const common = {\n    source_workflow: $workflow.id,\n    workflow_id: $workflow.id,\n    workflow_name: $workflow.name,\n    source_node: 'Alpaca Fill Activity Monitor',\n    account_id: 'alpaca_paper',\n    strategy_id: 'quantum',\n    symbol,\n    ticker: symbol,\n    side,\n    order_id: orderId || fillId,\n    broker_order_id: orderId || fillId,\n    client_order_id: j.client_order_id || null,\n    fill_id: fillId || null,\n    event_ts: ts,\n    trade_ts: ts,\n    order_type: orderType,\n    time_in_force: j.time_in_force || null,\n    order_class: orderClass || null,\n    position_intent: j.intent || null,\n    source,\n    quantity: qty,\n    qty,\n    requested_quantity: qty,\n    filled_quantity: qty,\n    avg_fill_price: px,\n    fill_price: px,\n    raw_alpaca_fill_activity: j,\n    qtp_trading_env: 'paper',\n    qtp_live_trading_allowed: false,\n    supabase_fill_logging_version: 'QTP_ALPACA_FILL_TO_SUPABASE_v4.2.8_20260518'\n  };\n  out.push({ json: {\n    ...common,\n    target_table: 'order_events',\n    event_type: type === 'FILL_ACTIVITY_NOTIFIED' ? 'alpaca_protective_oco_fill' : 'alpaca_fill_activity_seen',\n    order_status: status,\n    rejection_reason: j.error || j.reason || null,\n    idempotency_key: `alpaca_fill_order_event:${stableHash(base)}`\n  }});\n  if (['FILLED','CLOSED','DONE_FOR_DAY','PARTIALLY_FILLED'].includes(status)) {\n    out.push({ json: {\n      ...common,\n      target_table: 'trade_log',\n      event_type: type === 'FILL_ACTIVITY_NOTIFIED' ? 'position_closed' : 'alpaca_fill_trade_log',\n      trade_status: status,\n      notes: source,\n      execution_venue: 'alpaca_paper',\n      idempotency_key: `alpaca_fill_trade_log:${stableHash(base)}`\n    }});\n  }\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        -160
      ],
      "id": "normalize-alpaca-fill-activity-supabase-20260518",
      "name": "Normalize Alpaca Fill Activity for Supabase",
      "notesInFlow": true,
      "notes": "Read-only fill logging normalizer. Converts Alpaca fill monitor output to Supabase order_events/trade_log rows. No Alpaca side effects."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TeQ8TqjIYdd7KKHH",
          "mode": "id",
          "cachedResultUrl": "/workflow/TeQ8TqjIYdd7KKHH",
          "cachedResultName": "Quantum — Async Supabase Shadow Logger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1240,
        -160
      ],
      "id": "supabase-fill-activity-logger-20260518",
      "name": "Supabase Fill Activity Logger",
      "continueOnFail": true,
      "notesInFlow": true,
      "notes": "Non-blocking async write to Supabase for Alpaca paper fill activity. No trading side effects."
    },
    {
      "id": "265df4e8-a951-43b9-932b-64c8e3d3974b",
      "name": "TSM Test Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "qtp-tsm-test-x9v27",
        "responseMode": "onReceived"
      },
      "webhookId": "96ea8673-a072-46a7-842e-a1ea6f64c7de",
      "disabled": true
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [
        [
          {
            "node": "Prepare Supabase TSM Context Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alpaca Fill Activity Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trail Stops": {
      "main": [
        [
          {
            "node": "Prepare Supabase TSM Audit SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase TSM Context Query": {
      "main": [
        [
          {
            "node": "Query Supabase TSM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Supabase TSM Context": {
      "main": [
        [
          {
            "node": "Trail Stops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase TSM Audit SQL": {
      "main": [
        [
          {
            "node": "Query Supabase TSM Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Supabase TSM Audit": {
      "main": [
        [
          {
            "node": "Format Supabase TSM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca Fill Activity Monitor": {
      "main": [
        [
          {
            "node": "Normalize Alpaca Fill Activity for Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Alpaca Fill Activity for Supabase": {
      "main": [
        [
          {
            "node": "Supabase Fill Activity Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TSM Test Trigger": {
      "main": [
        [
          {
            "node": "Prepare Supabase TSM Context Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodeGroups": []
}
