n8n-workflows/vision-based-discovery-v1.json
{
  "name": "Vision-Based Discovery v1",
  "nodes": [
    {
      "parameters": {},
      "id": "AAA0000000000001",
      "name": "Called by Scraper",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vision-discovery-trigger",
        "options": {}
      },
      "id": "AAA0000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        512
      ],
      "webhookId": "vision-discovery-trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16QmkJdHUptjAxLkVpJ5bghVSKRup3KtjKyaHQtz6BoQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "AAA0000000000003",
      "name": "Read Scripts from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        384,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gT3auKKLeI5MUoOt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const NL = String.fromCharCode(10);\nconst items = $input.all();\nconst filtered = items.filter(function(item) {\n  const url = item.json.screenshot_url;\n  return url && typeof url === 'string' && url.indexOf('http') === 0;\n});\nconst limited = filtered.slice(0, 10);\nreturn limited.map(function(item) {\n  return { json: item.json };\n});"
      },
      "id": "AAA0000000000004",
      "name": "Filter Has Screenshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const NL = String.fromCharCode(10);\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const title = item.json.title || 'Unknown Script';\n  const author = item.json.author || 'Unknown Author';\n  const description = item.json.description || '';\n  const script_url = item.json.script_url || '';\n  const screenshot_url = item.json.screenshot_url || '';\n\n  const systemLines = [\n    'You are a senior quant trader with 15+ years experience. Be decisive and critical.',\n    'Analyze this TradingView indicator screenshot and description.',\n    'Describe the strategy logic in plain English (2-3 sentences).',\n    'Estimate how it would perform on NVDA, SPY, TSLA over the last 6 months.',\n    'Give an overall score from 1 to 10 (do not give 0/10 unless the script is completely broken or useless).',\n    'Provide a short recommendation for the Quantum pipeline (e.g. High priority - strong volume profile, Medium - good for scalping, Low - too complex, Avoid - high risk of whipsaw).',\n    'Be honest and critical. Always assign a real score.',\n    '',\n    'Respond in EXACTLY this JSON format (no markdown, no code blocks):',\n    '{\"strategy_logic\":\"2-3 sentences\",\"performance_estimate\":\"NVDA/SPY/TSLA 6mo estimate\",\"overall_score\":1-10,\"recommendation\":\"one line for Quantum\"}',\n    'Return ONLY valid JSON.'\n  ];\n  const systemContent = systemLines.join(NL);\n\n  const userText = 'Script Title: ' + title + NL + 'Author: ' + author + NL + 'Description: ' + description;\n\n  const body = {\n    model: 'grok-4',\n    messages: [\n      {\n        role: 'system',\n        content: systemContent\n      },\n      {\n        role: 'user',\n        content: [\n          {\n            type: 'image_url',\n            image_url: { url: screenshot_url }\n          },\n          {\n            type: 'text',\n            text: userText\n          }\n        ]\n      }\n    ],\n    temperature: 0.2\n  };\n\n  results.push({\n    json: {\n      api_body: JSON.stringify(body),\n      title: title,\n      author: author,\n      script_url: script_url,\n      screenshot_url: screenshot_url,\n      description: description\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "AAA0000000000005",
      "name": "Build Vision Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.api_body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "timeout": 60000
        }
      },
      "id": "AAA0000000000006",
      "name": "Grok Vision Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        384
      ],
      "credentials": {
        "xAiApi": {
          "id": "qyUISF3PUWktrFtN",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const NL = String.fromCharCode(10);\nconst grokResponses = $input.all();\nconst metadata = $('Build Vision Request').all();\nconst results = [];\n\nfor (let i = 0; i < grokResponses.length; i++) {\n  const grok = grokResponses[i].json;\n  const meta = metadata[i] ? metadata[i].json : {};\n  \n  let parsed = {};\n  try {\n    const content = grok.choices ? grok.choices[0].message.content : '';\n    const clean = content.replace(/```json/g, '').replace(/```/g, '').trim();\n    parsed = JSON.parse(clean);\n  } catch (e) {\n    parsed = { overall_score: 0, strategy_logic: 'Parse error', recommendation: 'Skip', performance_estimate: 'N/A' };\n  }\n  \n  results.push({\n    json: {\n      title: meta.title || 'Unknown',\n      author: meta.author || 'Unknown',\n      script_url: meta.script_url || '',\n      category: meta.category || '',\n      screenshot_url: meta.screenshot_url || '',\n      score: parsed.overall_score || 0,\n      strategy_logic: parsed.strategy_logic || '',\n      performance_estimate: parsed.performance_estimate || '',\n      recommendation: parsed.recommendation || '',\n      analyzed_at: new Date().toISOString()\n    }\n  });\n}\n\nresults.sort((a, b) => (b.json.score || 0) - (a.json.score || 0));\nresults.forEach((r, i) => { r.json.rank = i + 1; });\nreturn results;"
      },
      "id": "AAA0000000000008",
      "name": "Parse & Rank",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        384
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Ca-jRxlXNoZEcT470D8I9RbkN-bDCIUqeGaGpMR8BDY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "AAA0000000000009",
      "name": "Save Vision Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1952,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gT3auKKLeI5MUoOt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const NL = String.fromCharCode(10);\nconst items = $input.all();\nconst top5 = items.slice(0, 5);\nconst count = top5.length;\n\nconst lines = [];\nlines.push('<b>Vision Discovery \\u2014 Top ' + count + ' new scripts analyzed</b>');\nlines.push('');\n\nfor (let i = 0; i < top5.length; i++) {\n  const item = top5[i];\n  const rank = item.json.rank || (i + 1);\n  const title = item.json.title || 'Untitled';\n  const author = item.json.author || 'Unknown';\n  const score = item.json.score || 0;\n  const strategy = item.json.strategy_logic || '';\n  const rec = item.json.recommendation || '';\n\n  lines.push(rank + '. <b>' + title + '</b> - ' + author + ' \\u2192 Score ' + score + '/10');\n  lines.push('   Summary: ' + strategy);\n  lines.push('   Rec: ' + rec);\n  lines.push('');\n}\n\nconst message = lines.join(NL);\nreturn [{ json: { message: message } }];"
      },
      "id": "AAA0000000000010",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        528
      ]
    },
    {
      "parameters": {
        "chatId": "REDACTED_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "AAA0000000000011",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        528
      ],
      "webhookId": "f60d6dd3-05e4-45cb-af2d-031587b2d9a7",
      "credentials": {
        "telegramApi": {
          "id": "GiUsUl7vX5HyzagN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Vision-Based Discovery v1\n\n**Purpose:** Analyze TradingView indicator screenshots using Grok Vision AI to rank and score scripts.\n\n**Flow:**\n1. Triggered by parent scraper workflow or manual webhook POST\n2. Reads scripts from Script Discovery Log sheet\n3. Filters to items with screenshot URLs (max 10 per run)\n4. Builds Grok Vision API request with quant trader system prompt\n5. Calls Grok Vision (grok-2-vision-latest) to analyze each screenshot\n6. Merges metadata with vision response, parses JSON, ranks by score\n7. Saves ranked results to New Indicator Candidates sheet\n8. Sends top 5 results summary to Telegram\n\n**Setup Required:**\n- Create an HTTP Header Auth credential in n8n with:\n  - Name: xAI-Bearer\n  - Header Name: Authorization\n  - Header Value: Bearer YOUR_XAI_API_KEY\n- Assign that credential to the 'Grok Vision Analysis' node\n\n**Sheets:**\n- Input: Script Discovery Log (16QmkJdHUptjAxLkVpJ5bghVSKRup3KtjKyaHQtz6BoQ)\n- Output: New Indicator Candidates (1Ca-jRxlXNoZEcT470D8I9RbkN-bDCIUqeGaGpMR8BDY)",
        "height": 480,
        "width": 520,
        "color": 4
      },
      "id": "AAA0000000000012",
      "name": "Vision Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        704
      ]
    }
  ],
  "connections": {
    "Called by Scraper": {
      "main": [
        [
          {
            "node": "Read Scripts from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Scripts from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Scripts from Sheet": {
      "main": [
        [
          {
            "node": "Filter Has Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Has Screenshot": {
      "main": [
        [
          {
            "node": "Build Vision Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Vision Request": {
      "main": [
        [
          {
            "node": "Grok Vision Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grok Vision Analysis": {
      "main": [
        [
          {
            "node": "Parse & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Rank": {
      "main": [
        [
          {
            "node": "Save Vision Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "n8n_workflow_id": "1A3tGx4byFoOhSy9",
    "instance": "tradenextgen.app.n8n.cloud",
    "exported_at": "2026-04-13T16:35:00Z",
    "active_at_export": true,
    "node_count": 11,
    "secrets_redacted": true
  }
}